<div
  class="project-summary-card callout"
  data-test-project-card
>
  <div class="grid-x grid-x-small-gutters">
    <div class="cell large-4 xlarge-5">
      <h3 class="tiny-margin-bottom">
        {{#link-to 'show-project' this.assignment.project.id}}{{this.assignment.project.dcpProjectname}}{{/link-to}}
        <small class="dark-gray">{{this.assignment.project.dcpUlurpNonulurp}}</small>
      </h3>
      <h5 class="applicant">{{this.assignment.project.applicants}}</h5>
      <p>{{this.assignment.project.dcpProjectbrief}}</p>
    </div>
    <div class="cell medium-4 large-3 xlarge-2">
      <div class="text-center medium-margin-right medium-margin-left">
        <p class="lead small-margin-bottom">
          <strong>
            {{this.assignment.project.dcpPublicstatusSimp}}
            {{moment-format this.assignment.project.dcpProjectcompleted "M/D/YYYY"}}
          </strong>
        </p>
      </div>
    </div>
    <div class="cell medium-auto">
      <ul class="no-bullet no-margin">
        {{#each assignment.tabSpecificMilestones as |milestone|}}
          <ArchiveProjectMilestoneListItem
            @project={{this.assignment.project}}
            @milestone={{milestone}}
          />
          {{#if (or (not milestone.dcpActualenddate) (is-before milestone.dcpActualenddate))}}
            <HearingsListForMilestonesList
              @milestone={{milestone}}
            />
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
