<div class="grid-x grid-margin-x">
  <div class="large-6 cell">
    <label class="{{if (and dateMissing checkIfMissing) 'is-invalid-label'}}">
      Hearing Date
      {{pikaday-input
        readonly=true
        placeholder='Select a date'
        value=this.date
        minDate=currentDate
        format='MM/DD/YYYY'
        data-test-allactions-input="date"
        data-test-date-input=disposition.id
        onSelection=(action (mut this.date))
        onClose=(action "setHearingDate")
        class=(if (and dateMissing checkIfMissing) 'is-invalid-input')
      }}
      {{#if (and dateMissing checkIfMissing)}}
        <span class="form-error is-visible" role="alert">Please enter a valid date: MM/DD/YYYY</span>
      {{/if}}
    </label>
  </div>
  </div>

{{#if includeTimeInput}}
  <div class = "grid-x grid-margin-x">
    <div class="large-2 cell">
    <label class="{{if (and hourMissing checkIfMissing) 'is-invalid-label'}}">
      Hour
      {{input
        class=(if (and hourMissing checkIfMissing) "is-invalid-input")
        type="number"
        min="1"
        max="12"
        autocomplete="off"
        data-test-allactions-input="hour"
        data-test-hour-input=disposition.id
        value=this.hour
        key-down=(action (mut this.hour))
        key-up=(action "setHearingDate")
      }}
      {{#if (and hourMissing checkIfMissing)}}
        <span class="form-error is-visible" role="alert">Please enter a valid hour (1-12)</span>
      {{/if}}
    </label>
    </div>

    <div class="large-2 cell">
    <label class="{{if (and minuteMissing checkIfMissing) 'is-invalid-label'}}">
      Minute
      {{input
        class=(if (and minuteMissing checkIfMissing) "is-invalid-input")
        type="number"
        min=0
        max=59
        maxlength=2
        autocomplete="off"
        data-test-allactions-input="minute"
        data-test-minute-input=disposition.id
        value=this.minute
        key-down=(action (mut this.minute))
        key-up=(action "setHearingDate")
      }}
      {{#if (and minuteMissing checkIfMissing)}}
        <span class="form-error is-visible" role="alert">Please enter a valid minute (00-59)</span>
      {{/if}}
    </label>
    </div>

    <div class="large-2 cell">
    <label class="{{if (and timeOfDayMissing checkIfMissing) 'is-invalid-label'}}" data-test-allactions-dropdown="timeOfDay" data-test-timeofday-dropdown={{disposition.id}}>
        AM/PM
      {{#power-select
        triggerClass="timeofday-dropdown"
        supportsDataTestProperties=true
        searchEnabled=false
        selected=this.timeOfDay
        options=timeOfDayOption
        onchange=(action (mut this.timeOfDay))
        onclose=(action "setHearingDate")
        as |timeOfDay|
      }}
        {{timeOfDay}}
      {{/power-select}}
      {{#if (and timeOfDayMissing checkIfMissing)}}
        <span class="form-error is-visible" role="alert">Please enter either "AM" or "PM"</span>
      {{/if}}
    </label>
    </div>
  </div>
{{/if}}
