<h5 class="column-header">Hearing Information</h5>
    <ul class="no-bullet">
    {{#each dedupedHearings as |hearing|}}
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{#if (is-before hearing.dcpDateofpublichearing)}}
            {{fa-icon "calendar" class="light-gray" fixedWidth=true}}
          {{else}}
            {{fa-icon "check" class="blue" fixedWidth=true}}
          {{/if}}
        </div>
        <div class="cell auto">
          <strong data-test-hearing-location="{{hearing.id}}" class="display-block">
            {{~hearing.dcpPublichearinglocation~}}
          </strong>
          <span data-test-hearing-date="{{hearing.id}}">
            {{~moment-format hearing.dcpDateofpublichearing "MM/D/YYYY"~}}
          </span>
          <span class="light-gray">|</span>
          <span data-test-hearing-time="{{hearing.id}}">
            {{~moment-format hearing.dcpDateofpublichearing "h:mm A"~}}
          </span>
          <span data-test-hearing-actions-list="{{hearing.id}}" class="display-block text-tiny">
            {{#each hearing.hearingActions as |action index|}}
              {{#if (eq attribute "dcpUlurpnumber")}}
                {{if (gt index 0) ", "}}{{action.dcpUlurpnumber}}
              {{else if (eq attribute "dcpName")}}
                {{if (gt index 0) ", "}}{{action.dcpName}},
              {{/if}}
            {{/each}}
          </span>
        </div>
      </li>
    {{/each}}
    </ul>
