{{#if currentMilestoneDispositions}}
  {{#if hearingsSubmitted}}
    {{#deduped-hearings-list dispositions=currentMilestoneDispositions as |dedupedHearings|}}
      {{#each dedupedHearings as |hearing|}}
          <ul class="sub-milestones no-bullet">
            <li class="grid-x">
              <div class="cell shrink small-margin-right">
                {{#if (is-before hearing.disposition.dcpDateofpublichearing)}}
                  {{fa-icon 'calendar' fixedWidth=true class='light-gray'}}
                {{else}}
                  {{fa-icon 'check' fixedWidth=true class='blue-muted'}}
                {{/if}}
              </div>
              <div class="cell auto">
                <strong data-test-hearing-title>{{currentMilestoneUserType}} Public Hearing</strong>
                <span data-test-hearing-location="{{hearing.disposition.id}}">{{hearing.disposition.dcpPublichearinglocation}}</span>
                <small class="display-inline-block" data-test-hearing-date="{{hearing.disposition.id}}">{{~moment-format hearing.disposition.dcpDateofpublichearing "LLL"~}}</small>
                <span class="display-inline-block text-tiny">
                  {{#each hearing.hearingActions as |action index|}}
                    <span class="label light-gray tiny-margin-bottom tiny-margin-right" data-test-hearing-actions-list="{{index}}">
                      {{action.dcpName}}
                      <small>{{action.dcpUlurpnumber}}</small>
                    </span>
                  {{/each}}
                </span>
              </div>
            </li>
          </ul>
        {{/each}}
      {{/deduped-hearings-list}}
    {{/if}}
  {{/if}}
