<div class="large-margin-bottom">
  <LocationInput
    @targetField={{this.disposition.dcpPublichearinglocation}}
    @disposition={{this.disposition}}
    @allActions={{this.allActions}}
    @checkIfMissing={{this.checkIfMissing}}/>
  <DateTimePicker
    @targetField={{this.disposition.dcpDateofpublichearing}}
    @disposition={{this.disposition}}
    @allActions={{this.allActions}}
    @includeTimeInput={{true}}
    @checkIfMissing={{this.checkIfMissing}}/>
</div>
