{{#if legend}}
  <ul class="map-legend no-bullet">
    <li>
      <span class="fa-layers fa-fw">
        {{fa-icon 'circle' class="white" transform="shrink-2"}}
        {{fa-icon 'circle' class="stage-filed" transform="shrink-6"}}
      </span>Filed
    </li>
    <li>
      <span class="fa-layers fa-fw">
        {{fa-icon 'circle' class="white" transform="shrink-2"}}
        {{fa-icon 'circle' class="stage-in-public-review" transform="shrink-6"}}
      </span>In Public Review
    </li>
    <li>
      <span class="fa-layers fa-fw">
        {{fa-icon 'circle' class="white" transform="shrink-2"}}
        {{fa-icon 'circle' class="stage-completed" transform="shrink-6"}}
      </span>Completed
    </li>
  </ul>
{{/if}}

{{#if disclaimer}}
  {{link-to 'Disclaimer' 'disclaimer' class="button expanded tiny gray text-orange map-disclaimer-link"}}
{{/if}}

{{yield}}
