<div class="filter active">
  <div class="filter-header">
    <div class="switch tiny float-left">
      <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
      <label {{action 'toggle'}} class="switch-paddle">
        <span class="show-for-sr">Toggle Layer Group</span>
      </label>
    </div>
    <h6 class="filter-name" {{action 'toggle'}}>Project Status</h6>
  </div>
  <ul class="menu vertical medium-horizontal">
    <li onclick={{action mutateArray 'dcp_publicstatus' 'Filed'}}>
      <a>
        {{filter-checkbox
          value='Filed'
          currentValues=projectFilters.dcp_publicstatus}}
      </a>
    </li>
    <li onclick={{action mutateArray 'dcp_publicstatus' 'Approved'}}>
      <a>
        {{filter-checkbox
          value='Approved'
          currentValues=projectFilters.dcp_publicstatus}}
      </a>
    </li>
    <li onclick={{action mutateArray 'dcp_publicstatus' 'Certified'}}>
      <a>
        {{filter-checkbox
          value='Certified'
          currentValues=projectFilters.dcp_publicstatus}}
      </a>
    </li>
    <li onclick={{action mutateArray 'dcp_publicstatus' 'Withdrawn'}}>
      <a>
        {{filter-checkbox
          value='Withdrawn'
          currentValues=projectFilters.dcp_publicstatus}}
      </a>
    </li>
    <li onclick={{action mutateArray 'dcp_publicstatus' 'Unknown'}}>
      <a>
        {{filter-checkbox
          value='Unknown'
          currentValues=projectFilters.dcp_publicstatus}}
      </a>
    </li>
  </ul>
</div>

{{!-- <div class="filter">Borough</div> --}}

<div class="filter">
  <div class="filter-header">
    <div class="switch tiny float-left">
      <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
      <label {{action 'toggle'}} class="switch-paddle">
        <span class="show-for-sr">Toggle Layer Group</span>
      </label>
    </div>
    <h6 class="filter-name" {{action 'toggle'}}>Community Districts</h6>
  </div>
  <div class="medium-horizontal">
    {{#power-select-multiple
      options=communityDistrictOptions
      selected=selectedDistricts
      placeholder="Select some names..."
      searchField='searchField'
      onchange=(action replaceProperty 'community-districts')
      as |district|
    }}
      {{district.boro}} {{district.num}}
    {{/power-select-multiple}}
  </div>
</div>

<div class="filter">
  <div class="filter-header">
    <div class="switch tiny float-left">
      <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
      <label {{action 'toggle'}} class="switch-paddle">
        <span class="show-for-sr">Toggle Layer Group</span>
      </label>
    </div>
    <h6 class="filter-name" {{action 'toggle'}}>CEQR Type</h6>
  </div>
  <ul class="menu vertical medium-horizontal">
    <li onclick={{action mutateArray 'dcp_ceqrtype' 'Unlisted'}}><a>
      {{filter-checkbox
        value='Unlisted'
        currentValues=projectFilters.dcp_ceqrtype}}
    </a></li>
    <li onclick={{action mutateArray 'dcp_ceqrtype' 'Type I'}}><a>
      {{filter-checkbox
        value='Type I'
        currentValues=projectFilters.dcp_ceqrtype}}
    </a></li>
    <li onclick={{action mutateArray 'dcp_ceqrtype' 'Type II'}}><a>
      {{filter-checkbox
        value='Type II'
        currentValues=projectFilters.dcp_ceqrtype}}
    </a></li>
  </ul>
</div>

<div class="filter">
  <div class="filter-header">
    <div class="switch tiny float-left">
      <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
      <label {{action 'toggle'}} class="switch-paddle">
        <span class="show-for-sr">Toggle Layer Group</span>
      </label>
    </div>
    <h6 class="filter-name" {{action 'toggle'}}>FEMA Flood Zone <sup>{{icon-tooltip tip='FEMA flood zone filters are applied collectively, checking more than one will yield only projects affected by all checked zones'}}</sup></h6>
  </div>
  <ul class="menu vertical medium-horizontal">
    <li onclick={{action toggleBoolean 'dcp_femafloodzonea'}}>
      <a>
        {{fa-icon (if projectFilters.dcp_femafloodzonea 'check-square' 'square-o') class="dark-gray"}} A
      </a>
    </li>
    <li onclick={{action toggleBoolean 'dcp_femafloodzoneshadedx'}}>
      <a>
        {{fa-icon (if projectFilters.dcp_femafloodzoneshadedx 'check-square' 'square-o') class="dark-gray"}} Shaded X
      </a>
    </li>
    <li onclick={{action toggleBoolean 'dcp_femafloodzonecoastala'}}>
      <a>
        {{fa-icon (if projectFilters.dcp_femafloodzonecoastala 'check-square' 'square-o') class="dark-gray"}} Coastal A
      </a>
    </li>
    <li onclick={{action toggleBoolean 'dcp_femafloodzonev'}}>
      <a>
        {{fa-icon (if projectFilters.dcp_femafloodzonev 'check-square' 'square-o') class="dark-gray"}} V
      </a>
    </li>
  </ul>
</div>

<div class="filter">
  <div class="filter-header">
    <div class="switch tiny float-left">
      <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
      <label {{action 'toggle'}} class="switch-paddle">
        <span class="show-for-sr">Toggle Layer Group</span>
      </label>
    </div>
    <h6 class="filter-name" {{action 'toggle'}}>ULURP</h6>
  </div>
  <ul class="menu vertical medium-horizontal">
    <li  onclick={{action mutateArray 'dcp_ulurp_nonulurp' 'ULURP'}}>
      <a>
        {{filter-checkbox
          value='ULURP'
          currentValues=projectFilters.dcp_ulurp_nonulurp}}
      </a>
    </li>
    <li  onclick={{action mutateArray 'dcp_ulurp_nonulurp' 'Non-ULURP'}}>
      <a>
        {{filter-checkbox
          value='Non-ULURP'
          currentValues=projectFilters.dcp_ulurp_nonulurp}}
      </a>
    </li>
  </ul>
</div>

<div class="filter">
  <div class="filter-header">
    <div class="switch tiny float-left">
      <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
      <label {{action 'toggle'}} class="switch-paddle">
        <span class="show-for-sr">Toggle Layer Group</span>
      </label>
    </div>
    <h6 class="filter-name" {{action 'toggle'}}>Action Status Reason</h6>
  </div>
  <ul class="menu vertical medium-horizontal">
    <li><a>{{fa-icon 'square-o' class="medium-gray"}} Active</a></li>
    <li><a>{{fa-icon 'square-o' class="medium-gray"}} Certified</a></li>
    <li><a>{{fa-icon 'square-o' class="medium-gray"}} Referred</a></li>
    <li><a>{{fa-icon 'square-o' class="medium-gray"}} Approved</a></li>
    <li><a>{{fa-icon 'square-o' class="medium-gray"}} Withdrawn</a></li>
    <li><a>{{fa-icon 'square-o' class="medium-gray"}} Terminated</a></li>
  </ul>
</div>

{{!-- <div class="filter">Keywords</div> --}}

{{!-- <div class="filter">BBL</div> --}}

{{yield}}
