<li class="grid-x grid-padding-small">
  <div class="cell shrink">
    {{#if isPlanned}}
      <span class="fa-layers fa-fw" style="font-size:2.5rem;">
        {{fa-icon 'calendar' fixedWidth=true class='medium-gray'}}
        {{fa-icon 'check' fixedWidth=true class='lu-green' transform='shrink-6 right-5 down-1'}}
      </span>
    {{else}}
      <span class="fa-layers fa-fw" style="font-size:2.5rem;">
        {{fa-icon 'calendar' fixedWidth=true class='dark-gray'}}
      </span>
    {{/if}}
  </div>
  <div class="cell auto">
    <h5 class="no-margin">{{milestone.milestonename}}</h5>
    <div class="text-small dark-gray">
      <small>{{timeOffset}}</small>
      {{#if isPlanned}}
        {{#if startAndEndAreSameDay}}
          <div>{{moment-format milestone.dcp_plannedcompletiondate "MMMM D, YYYY" }} <small>Planned</small></div>
        {{else}}
          <div>{{moment-format milestone.dcp_plannedstartdate "MMMM D, YYYY" }} <small>Planned Start</small></div>
          <div>{{moment-format milestone.dcp_plannedcompletiondate "MMMM D, YYYY" }} <small>Planned End</small></div>
        {{/if}}
      {{else}}
        {{#if startAndEndAreSameDay}}
          <div>{{moment-format milestone.dcp_actualenddate "MMMM D, YYYY" }}</div>
        {{else}}
          <div>{{moment-format milestone.dcp_actualstartdate "MMMM D, YYYY" }} <small>Start</small></div>
          <div>{{moment-format milestone.dcp_actualenddate "MMMM D, YYYY" }} <small>End</small></div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</li>
{{yield}}
