{{#mapbox-gl
  id='project-map'
  initOptions=(hash
    zoom=12
    center=(array -73.96532400540775 40.709710016659386)
  )
  mapLoaded=(action 'handleMapLoad')
  as |map|
}}

  {{!-- Two yields here - it will implicitly merge the map hash with the second --}}
  {{yield map}}
  {{yield (hash
    dynamic-tiles=(component 'mapbox-gl-dynamic-tiles'
      map=map
      mapInstance=mapInstance
    )
  )}}

  {{map.on 'click' (action 'handleMapClick')}}
  {{map.on 'mousemove' (action 'handleMouseMove')}}

  {{#if highlightedFeature}}
    <div class='map-tooltip' style="top:{{tooltipPoint.y}}px;left:{{tooltipPoint.x}}px;">
      {{highlightedFeature.properties.dcp_projectname}} ({{moment-format highlightedFeature.properties.lastmilestonedate "MMMM, YYYY"}})
    </div>
  {{/if}}

  {{map-info-box}}
{{/mapbox-gl}}
