{{#mapbox-gl
    id='project-map'
    initOptions=(hash
      zoom=12
      center=(array -73.96532400540775 40.709710016659386)
      hash=true
    )
    mapLoaded=(action 'handleMapLoad')
    as |map|
}}
  {{yield (hash 
    dynamic-tiles=(component 'mapbox-gl-dynamic-tiles' map=map mapInstance=mapInstance layer=projectCentroidsLayer)
    map=map
  )}}

  {{map.on 'click' (action 'handleMapClick')}}
  {{map.on 'mousemove' (action 'handleMapMove')}}
{{/mapbox-gl}}

{{#if highlightedFeature}}
  <div class='map-tooltip' style="top: {{tooltipPoint.y}}px;left: {{tooltipPoint.x}}px;">
    {{highlightedFeature.properties.dcp_projectname}}
  </div>
{{/if}}
