  <div class="cell shrink">
    {{#if (eq tense "past")}}
    <span class="milestone-icon fa-layers fa-fw">
      {{fa-icon 'circle' fixedWidth=true class='dark-gray'}}
      {{fa-icon 'calendar' fixedWidth=true class='black' transform='shrink-8'}}
      {{fa-icon 'check' fixedWidth=true class='lu-green' transform='shrink-4 right-5 up-2'}}
    </span>
    {{else if (eq tense "present")}}
      <span class="milestone-icon fa-layers fa-fw">
        {{fa-icon 'circle' fixedWidth=true class='lu-green'}}
        {{fa-icon 'calendar' fixedWidth=true class='light-gray' transform='shrink-8'}}
      </span>
    {{else}}{{!-- future --}}
      <span class="milestone-icon fa-layers fa-fw">
        {{fa-icon 'circle' fixedWidth=true class='medium-gray'}}
        {{fa-icon 'calendar' fixedWidth=true class='light-gray' transform='shrink-8'}}
      </span>
    {{/if}}
  </div>
  <div class="cell auto">
    <h5 class="no-margin">{{displayName}}</h5>


      {{#if milestoneDisplayDates}}
        {{#if (eq milestone.milestonename "CPC Public Meeting - Public Hearing")}}
          <strong><small>
            <a href="https://www1.nyc.gov/site/planning/about/commission-meetings.page" target="_blank">{{fa-icon "external-link-alt"}} CPC Public Meeting Calendar</a>
          </small></strong>
        {{/if}}

        {{#if (eq milestone.milestonename "CPC Public Meeting - Vote")}}
          <strong><small>
            <a href="http://a030-cpc.nyc.gov/html/cpc/index.aspx" target="_blank">{{fa-icon "external-link-alt"}} CPC Reports</a>
          </small></strong>
        {{/if}}
        <div class="text-small dates">
          {{#if milestoneDisplayDates.[1]}}
            <div>{{moment-format milestoneDisplayDates.[1].date "MMMM D, YYYY" }} {{#if isRange}}<small>Start</small>{{/if}}</div>
          {{/if}}
          {{#if milestoneDisplayDates.[2]}}
            <div>{{moment-format milestoneDisplayDates.[2].date "MMMM D, YYYY" }} <small>End</small></div>
          {{/if}}
          {{#if milestoneDisplayDates.[0]}}
            <div class="milestone-offset">{{milestoneDisplayDates.[0]}}</div>
          {{/if}}
        </div>
      {{/if}}
  </div>
{{yield}}
