{{#mapbox-gl
  id='project-map'
  initOptions=initOptions
  mapLoaded=(action 'handleMapLoad')
  as |map|
}}
  {{yield (hash
    dynamic-tiles=(component 'mapbox-gl-dynamic-tiles'
      map=map
      mapInstance=mapInstance
    )
    map=map
  )}}

  {{map.on 'click' (action 'handleMapClick')}}
  {{map.on 'mousemove' (action 'handleMouseMove')}}

  {{#if highlightedFeature}}
    <div class='map-tooltip' style="top:{{tooltipPoint.y}}px;left:{{tooltipPoint.x}}px;">
      {{highlightedFeature.properties.dcp_projectname}}
    </div>
  {{/if}}

  {{#if geocodedFeature}}
    {{#map.source options=geocodedFeature as |source|}}
      {{source.layer layer=geocodedLayer}}
    {{/map.source}}
  {{/if}}

  {{#labs-search 
    searchTerms=geosearchText
    searchPlaceholder='Search for Address...'
    onSelect=(action 'selectSearchResult')
    onClear=(action (mut geocodedCoordinates) (array)) as |search|
  }}
    <small class="dark-gray">
      {{search.result.label}}
    </small>
  {{/labs-search}}

  {{link-to 'Geometries Disclaimer' 'disclaimer' class="button tiny map-disclaimer-link"}}
{{/mapbox-gl}}
