<div class="cell shrink">
  {{#if (eq tense "past")}}
    <span class="milestone-icon fa-layers fa-fw">
      {{fa-icon 'circle' fixedWidth=true class='dark-gray'}}
      {{fa-icon 'check' fixedWidth=true class='blue-light' transform='shrink-6'}}
    </span>
  {{else if (eq tense "present")}}
    <span class="milestone-icon fa-layers fa-fw">
      {{fa-icon 'circle' fixedWidth=true class='green-dark'}}
      {{fa-icon 'calendar' prefix='far' fixedWidth=true class='white-smoke' transform='shrink-8'}}
    </span>
  {{else}}{{!-- future --}}
    <span class="milestone-icon fa-layers fa-fw">
      {{fa-icon 'circle' fixedWidth=true class='light-gray'}}
      {{fa-icon 'calendar' prefix='far' fixedWidth=true class='off-white' transform='shrink-8'}}
    </span>
  {{/if}}
</div>
<div class="cell auto {{if (or (eq tense 'past') (eq tense 'present')) '' 'gray'}}">
  <h4 class="no-margin">
    {{milestone.orderSensitiveName}}

    {{#if milestone.displayDescription}}
      <sup class="gray">
        {{icon-tooltip tip=milestone.displayDescription}}
      </sup>
    {{/if}}
  </h4>
  {{#if milestone.displayDate}}
    <div class="milestone-dates">
      {{#if milestone.displayDate}}
        <div>
          <DateDisplay
            @date={{milestone.displayDate}}
            @outputFormat="MMMM D, YYYY"
          />
          {{#if milestone.displayDate2}}<small>Start</small>{{/if}}
        </div>
      {{/if}}
      {{#if milestone.displayDate2}}
        <div>
          <DateDisplay
            @date={{milestone.displayDate2}}
            @outputFormat="MMMM D, YYYY"
          />
          <small>End</small>
        </div>
      {{/if}}
      {{#if timeRelativeToNow}}
        <div class="milestone-offset">{{timeRelativeToNow}}</div>
      {{/if}}
    </div>
    {{#if milestone.dcpMilestoneoutcome}} <span class="label dark-gray" style="font-size: 0.7rem;">{{milestone.dcpMilestoneoutcome}}</span> {{/if}}
    <ul class="milestone-links">
      {{#if (eq milestone.dcpMilestone "9e3beec4-dad0-e711-8116-1458d04e2fb8")}}
        <li><a href="https://www1.nyc.gov/site/planning/about/commission-meetings.page" target="_blank">{{fa-icon "external-link-alt"}} CPC Public Meeting Calendar</a></li>
      {{/if}}
      {{#if (eq milestone.dcpMilestone "a43beec4-dad0-e711-8116-1458d04e2fb8")}}
        <li><a href="http://a030-cpc.nyc.gov/html/cpc/index.aspx" target="_blank">{{fa-icon "external-link-alt"}} CPC Reports</a></li>
      {{/if}}
      {{#each milestone.milestoneLinks as |link|}}
        <li><a href="{{link.url}}" target="_blank">{{link.filename}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  {{#hearings-list-for-milestones-list milestone=milestone as |milestoneParticipants|}}
    {{#each milestoneParticipants as |milestoneParticipant|}}
      {{#if (or milestoneParticipant.hearingsSubmitted milestoneParticipant.votesSubmitted)}}
        <hr>
        <h5 class="small-margin-bottom" data-test-lup-full-name="{{milestoneParticipant.landUseParticipantFullName}}">
          {{milestoneParticipant.landUseParticipantFullName}}
        </h5>
      {{/if}}
      {{#if milestoneParticipant.hearingsSubmitted}}
        {{#deduped-hearings-list dispositions=milestoneParticipant.userDispositions as |dedupedHearings|}}
          {{#each dedupedHearings as |hearing|}}
            <ul class="sub-milestones no-bullet">
              <li class="grid-x small-margin-bottom">
                <div class="cell shrink small-margin-right">
                  {{#if (is-before disposition.dcpDateofpublichearing)}}
                    {{fa-icon 'calendar' fixedWidth=true class='light-gray'}}
                  {{else}}
                    {{fa-icon 'check' fixedWidth=true class='blue-muted'}}
                  {{/if}}
                </div>
                <div class="cell auto">
                  <strong>Public Hearing</strong>
                  <small class="display-inline-block" data-test-hearing-location="{{hearing.disposition.id}}">
                    {{hearing.disposition.dcpPublichearinglocation}}
                  </small>
                  <small class="display-inline-block" data-test-hearing-date="{{hearing.disposition.id}}">
                    {{~moment-format hearing.disposition.dcpDateofpublichearing "LLLL"~}}
                  </small>
                  <div class="text-tiny">
                    {{#each hearing.hearingActions as |action index|}}
                      <span class="label light-gray tiny-margin-bottom tiny-margin-right" data-test-hearing-actions-list="{{hearing.disposition.id}}{{index}}">
                        {{action.dcpName}}
                        <small>{{action.dcpUlurpnumber}}</small>
                      </span>
                    {{/each}}
                  </div>
                </div>
              </li>
            </ul>
          {{/each}}
        {{/deduped-hearings-list}}
      {{/if}}
      {{#if milestoneParticipant.votesSubmitted}}
        <ul class="sub-milestones no-bullet">
          {{#deduped-votes-list dispositions=milestoneParticipant.userDispositions participantRecommendationType=milestoneParticipant.participantRecommendationType as |dedupedVotes|}}
            {{#each dedupedVotes as |vote|}}
              <li class="grid-x small-margin-bottom">
                <div class="cell shrink small-margin-right">
                  {{#if (eq milestoneParticipant.landUseParticipantType "CB")}}
                    <span data-test-comm-board-rec="{{vote.disposition.id}}">
                      {{recommendation-symbol participantRecommendation=vote.disposition.dcpCommunityboardrecommendation}}
                    </span>
                  {{else if (eq milestoneParticipant.landUseParticipantType "BB")}}
                    <span data-test-borough-board-rec="{{vote.disposition.id}}">
                      {{recommendation-symbol participantRecommendation=vote.disposition.dcpBoroughboardrecommendation}}
                    </span>
                  {{else if (eq milestoneParticipant.landUseParticipantType "BP")}}
                    <span data-test-borough-pres-rec="{{vote.disposition.id}}">
                      {{recommendation-symbol participantRecommendation=vote.disposition.dcpBoroughpresidentrecommendation}}
                    </span>
                  {{/if}}
                </div>
                <div class="cell auto">
                  <strong>Vote</strong>
                  <small>
                    <span class="display-inline-block" data-test-voting-favor="{{vote.disposition.id}}">
                      {{vote.disposition.dcpVotinginfavorrecommendation}} In Favor,
                    </span>
                    <span class="display-inline-block" data-test-voting-against="{{vote.disposition.id}}">
                      {{vote.disposition.dcpVotingagainstrecommendation}} Against,
                    </span>
                    <span class="display-inline-block" data-test-voting-abstain="{{vote.disposition.id}}">
                      {{vote.disposition.dcpVotingabstainingonrecommendation}} Abstain
                    </span>
                  </small>
                  <small class="display-inline-block" data-test-vote-date="{{vote.disposition.id}}">
                    {{~moment-format vote.disposition.dcpDateofvote "LL"~}}
                  </small>
                  <div class="text-tiny">
                    {{#each vote.voteActions as |action index|}}
                      <span class="label light-gray tiny-margin-bottom tiny-margin-right" data-test-vote-actions-list="{{vote.disposition.id}}{{index}}">
                        {{action.dcpName}}
                        <small>{{action.dcpUlurpnumber}}</small>
                      </span>
                    {{/each}}
                  </div>
                </div>
              </li>
            {{/each}}
          {{/deduped-votes-list}}
        </ul>
      {{/if}}
    {{/each}}
  {{/hearings-list-for-milestones-list}}
</div>

{{yield}}
