{{#mapbox-gl
    id='project-map'
    initOptions=(hash
      zoom=12
      center=(array -73.96532400540775 40.709710016659386)
    )
    mapLoaded=(action 'handleMapLoad')
    as |map|
}}
  {{yield (hash
    dynamic-tiles=(component 'mapbox-gl-dynamic-tiles'
      map=map
      mapInstance=mapInstance
    )
    map=map
  )}}

  {{map.on 'click' (action 'handleMapClick')}}
  {{map.on 'mousemove' (action 'handleMouseMove')}}

  {{#if highlightedFeature}}
    <div class='map-tooltip' style="top:{{tooltipPoint.y}}px;left:{{tooltipPoint.x}}px;">
      {{highlightedFeature.properties.dcp_projectname}} ({{moment-format highlightedFeature.properties.lastmilestonedate "MMMM, YYYY"}})
    </div>
  {{/if}}

  {{#if geocodedFeature}}
    {{#map.source options=geocodedFeature as |source|}}
      {{source.layer layer=geocodedLayer}}
    {{/map.source}}
  {{/if}}

  {{#labs-search
    searchPlaceholder='Search for Address...'
    onSelect=(action 'selectSearchResult')
    onClear=(action (mut geocodedFeature null)) as |search|}}
    <small class="dark-gray">{{search.result.label}}</small>
  {{/labs-search}}

  {{map-info-box}}
{{/mapbox-gl}}
