<li class="grid-x grid-padding-small projects-list-result">
  <div class="cell results-meta {{if this.project.dcpPublicstatusSimp (concat 'publicstatus-' (dasherize this.project.dcpPublicstatusSimp))}} width-5rem">
    {{#if this.project.hasCentroid}}
      <ProjectListMapPin @project={{this.project}}/>
    {{else}}
      <a class="button hollow expanded map-marker-button opacity-1" disabled>
        <span class="fa-layers fa-fw font-size-1point5-rem">
          <span class="fa-layers-text font-size-point625-rem color-333">Not Mapped</span>
        </span>
      </a>
    {{/if}}
    <span class="label publicstatus-label">{{if (not-eq this.project.dcpPublicstatusSimp 'Unknown') this.project.dcpPublicstatusSimp "Unknown Status"}}</span>
  </div>
  <div class="cell auto">
    {{#if this.project.dcpLastmilestonedate}}
      <span class="date dark-gray projects-list-result--date">
        <IconTooltip @icon='calendar' @tip='Latest Milestone'/>
        <DateDisplay
          @date={{this.project.dcpLastmilestonedate}}
          @outputFormat="MMMM D, YYYY"
        />
      </span>
    {{/if}}
    <h3 class="projects-list-result--header header-medium">
      <LinkTo 
        @route="show-project"
        @model={{this.project.id}}
      >
        {{if this.project.dcpProjectname this.project.dcpProjectname "No Project Name"}}
      </LinkTo>
    </h3>
    <p class="projects-list-result--description no-margin text-small dark-grey">
      <strong>{{this.firstApplicant}}</strong> &mdash; {{if this.project.dcpProjectbrief (substring-projectbrief this.project.dcpProjectbrief) "No Project Brief"}}
    </p>
    <p class="projects-list-result--meta no-margin text-tiny dark-gray label-group">
      {{#if (eq this.project.dcpBorough 'Citywide')}}<span class="label light-gray"><strong class="dark-gray">{{this.project.dcpBorough}}</strong></span>{{/if}}

      <ConsolidatedCds @cds={{this.project.dcpCommunitydistricts}}/>

      {{#if this.project.dcpUlurpNonulurp}}<span class="label light-gray"><strong class="dark-gray">{{this.project.dcpUlurpNonulurp}}</strong></span>{{/if}}
      {{#each this.project.ulurpnumbers as |ulurpnumber|}}
        <span class="label light-gray"><strong class="dark-gray">{{ulurpnumber}}</strong></span>
      {{/each}}

      {{#unless this.ceqrUnlistedNull}}
        <span class="label light-gray"><strong class="dark-gray">CEQR {{this.project.dcpCeqrnumber}} {{if (not-eq this.project.dcpCeqrtype 'Unlisted') this.project.dcpCeqrtype}}</strong></span>
      {{/unless}}
    </p>
  </div>
</li>
