<li class="grid-x grid-padding-small">
  <div class="cell shrink">
    {{#if noDates}}
      <span class="fa-layers fa-fw" style="font-size:2.5rem;">
        {{fa-icon 'calendar' fixedWidth=true class='medium-gray'}}
        {{fa-icon 'question' fixedWidth=true class='lu-red' transform='shrink-6 down-1'}}
      </span>
    {{else}}
      {{#if isPlanned}}
        <span class="fa-layers fa-fw" style="font-size:2.5rem;">
          {{fa-icon 'calendar' fixedWidth=true class='medium-gray'}}
        </span>
      {{else}}
        <span class="fa-layers fa-fw" style="font-size:2.5rem;">
          {{fa-icon 'calendar' fixedWidth=true class='dark-gray'}}
          {{fa-icon 'check' fixedWidth=true class='lu-green' transform='shrink-6 right-5 down-1'}}
        </span>
      {{/if}}
    {{/if}}
  </div>
  <div class="cell auto">
    <h5 class="no-margin">{{displayName}}</h5>


      {{#if milestoneDisplayDates}}
        {{#if (eq milestone.milestonename "CPC Public Meeting - Public Hearing")}}
          <strong><small>
            <a href="https://www1.nyc.gov/site/planning/about/commission-meetings.page" target="_blank">{{fa-icon "external-link-alt"}} CPC Public Meeting Calendar</a>
          </small></strong>
        {{/if}}
        
        {{#if (eq milestone.milestonename "CPC Public Meeting - Vote")}}
          <strong><small>
            <a href="http://a030-cpc.nyc.gov/html/cpc/index.aspx" target="_blank">{{fa-icon "external-link-alt"}} CPC Reports</a>
          </small></strong>
        {{/if}}
        <div class="text-small dark-gray">
          {{#if milestoneDisplayDates.[1]}}
            <div>{{moment-format milestoneDisplayDates.[1].date "MMMM D, YYYY" }} {{#if isRange}}<small>Start</small>{{/if}}</div>
          {{/if}}
          {{#if milestoneDisplayDates.[2]}}
            <div>{{moment-format milestoneDisplayDates.[2].date "MMMM D, YYYY" }} <small>End</small></div>
          {{/if}}
          <small>{{milestoneDisplayDates.[0]}}</small>
        </div>
      {{/if}}
  </div>
</li>
{{yield}}
