<li class="grid-x grid-padding-small">
  <div class="cell shrink">
    {{#if isPlanned}}
      {{#fa-stack size="lg" as |s|}}
        {{s.stack-2x 'calendar' class='medium-gray'}}
        {{s.stack-2x 'check' class='lu-green'}}
      {{/fa-stack}}
    {{else}}
      {{fa-icon 'calendar' size=2 class='dark-gray'}}
    {{/if}}
  </div>
  <div class="cell auto">
    <h5 class="no-margin">{{milestone.milestonename}}</h5>
    <div class="text-small dark-gray">
      <small>{{timeOffset}}</small>
      {{#if isPlanned}}
        {{#if startAndEndAreSameDay}}
          <div>{{moment-format milestone.dcp_plannedcompletiondate "MMMM D, YYYY" }} <small>Planned</small></div>
        {{else}}
          <div>{{moment-format milestone.dcp_plannedstartdate "MMMM D, YYYY" }} <small>Planned Start</small></div>
          <div>{{moment-format milestone.dcp_plannedcompletiondate "MMMM D, YYYY" }} <small>Planned End</small></div>
        {{/if}}
      {{else}}
        {{#if startAndEndAreSameDay}}
          <div>{{moment-format milestone.dcp_actualenddate "MMMM D, YYYY" }}</div>
        {{else}}
          <div>{{moment-format milestone.dcp_actualstartdate "MMMM D, YYYY" }} <small>Start</small></div>
          <div>{{moment-format milestone.dcp_actualenddate "MMMM D, YYYY" }} <small>End</small></div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</li>
{{yield}}
