<div class="cell shrink">
  {{#if (eq tense "past")}}
    <span class="milestone-icon fa-layers fa-fw">
      {{fa-icon 'circle' fixedWidth=true class='dark-gray'}}
      {{fa-icon 'check' fixedWidth=true class='green-light' transform='shrink-6'}}
    </span>
  {{else if (eq tense "present")}}
    <span class="milestone-icon fa-layers fa-fw">
      {{fa-icon 'circle' fixedWidth=true class='green-dark'}}
      {{fa-icon 'calendar' prefix='far' fixedWidth=true class='white-smoke' transform='shrink-8'}}
    </span>
  {{else}}{{!-- future --}}
    <span class="milestone-icon fa-layers fa-fw">
      {{fa-icon 'circle' fixedWidth=true class='light-gray'}}
      {{fa-icon 'calendar' prefix='far' fixedWidth=true class='off-white' transform='shrink-8'}}
    </span>
  {{/if}}
</div>
<div class="cell auto {{if (or (eq tense 'past') (eq tense 'present')) '' 'gray'}}">
  <h5 class="no-margin">
    {{milestone.orderSensitiveName}}

    {{#if milestone.displayDescription}}
      <sup class="gray">
        {{icon-tooltip tip=milestone.displayDescription}}
      </sup>
    {{/if}}
  </h5>
  {{#if milestone.displayDate}}
    <div class="milestone-dates">
      {{#if milestone.displayDate}}
        <div>{{moment-format milestone.displayDate "MMMM D, YYYY" }} {{#if milestone.displayDate_2}}<small>Start</small>{{/if}}</div>
      {{/if}}
      {{#if milestone.displayDate_2}}
        <div>{{moment-format milestone.displayDate_2 "MMMM D, YYYY" }} <small>End</small></div>
      {{/if}}
      {{#if timeRelativeToNow}}
        <div class="milestone-offset">{{timeRelativeToNow}}</div>
      {{/if}}
    </div>
    {{#if milestone.outcome}} <span class="label dark-gray" style="font-size: 0.7rem;">{{milestone.outcome}}</span> {{/if}}
    <ul class="milestone-links">
      {{#if (eq milestone.dcpMilestone "9e3beec4-dad0-e711-8116-1458d04e2fb8")}}
        <li><a href="https://www1.nyc.gov/site/planning/about/commission-meetings.page" target="_blank">{{fa-icon "external-link-alt"}} CPC Public Meeting Calendar</a></li>
      {{/if}}
      {{#if (eq milestone.dcpMilestone "a43beec4-dad0-e711-8116-1458d04e2fb8")}}
        <li><a href="http://a030-cpc.nyc.gov/html/cpc/index.aspx" target="_blank">{{fa-icon "external-link-alt"}} CPC Reports</a></li>
      {{/if}}
      {{#each milestone.milestoneLinks as |link|}}
        <li><a href="{{link.url}}" target="_blank">{{link.filename}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
</div>

{{yield}}
