<li class="grid-x grid-padding-small projects-list-result">
  <div class="cell results-meta publicstatus-{{dasherize project.dcp_publicstatus_simp}}" style="width:5rem;">
    {{project-list-map-pin project=project}}
    <span class="label publicstatus-label">{{unless (eq project.dcp_publicstatus_simp 'Unknown') project.dcp_publicstatus_simp "Unknown Status"}}</span>
  </div>
  <div class="cell auto">
    <h3 class="header-medium no-margin">
      {{#link-to 'show-project' project.id}}
        {{if project.dcp_projectname project.dcp_projectname "No Project Name"}}
      {{/link-to}}
    </h3>
    <p class="no-margin text-small dark-grey">
      <strong>{{if project.dcp_applicant project.dcp_applicant "Unknown Applicant"}}</strong> &mdash; {{if project.dcp_projectbrief (substring-projectbrief project.dcp_projectbrief) "No Project Brief"}}
    </p>
    <p class="no-margin text-tiny dark-gray">
      {{#if (eq project.dcp_borough 'Citywide')}}<span class="label light-gray"><strong class="dark-gray">{{project.dcp_borough}}</strong></span>{{/if}}

      {{#each consolodatedCDs as |boro|}}
        <span class="label light-gray">
          <strong class="dark-gray">{{boro.boroName}}</strong>
          <span class="medium-gray">|</span>
          <span class="dark-gray">
            CD
            {{#each boro.cds as |cd i|}}
              {{~if i ","}} {{cd ~}}
            {{/each}}
          </span>
        </span>
      {{/each}}

      {{#if project.dcp_ulurp_nonulurp}}<span class="label light-gray"><strong class="dark-gray">{{project.dcp_ulurp_nonulurp}}</strong></span>{{/if}}
      {{#each project.ulurpnumbers as |ulurpnumber|}}
        <span class="label light-gray"><strong class="dark-gray">{{ulurpnumber}}</strong></span>
      {{/each}}
    </p>
  </div>
</li>
