<fieldset class="medium-margin-bottom">

  <legend>
    <strong>
      Upload supporting documents
    </strong>
  </legend>

  <div class="grid-x grid-margin-x">
    <div class="cell medium-shrink">

      <label for="files" class="button gray no-margin">
        <FileUpload
          @name='files'
          @accept='*/*'
          @onfileadd={{action 'uploadFile'}}
        >
          {{fa-icon 'upload'}} Choose Files
        </FileUpload>
      </label>
      <input type="file" id="files" class="show-for-sr">

    </div>
    <div class="cell auto">

      <ul>
        {{#with (file-queue name="files") as |queue|}}
          {{#each queue.files as |file|}}
            <li data-test-file-name={{file.name}}>{{file.name}} <small>({{file.type}})</small></li>
          {{/each}}
        {{/with}}
      </ul>

    </div>
  </div>

</fieldset>
