
  <div class="callout">
    <label>Uploaded recommendation files:</label>
    <ul>
      {{#with (file-queue name="files") as |queue|}}
        {{#each queue.files as |file|}}
          <li data-test-file-name={{file.name}}><a>{{file.name}}<small> ({{file.type}})</small></a></li>
        {{/each}}
      {{/with}}
    </ul>
    <label for="files" class="button gray no-margin">
      <FileUpload
        @name='files'
        @accept='*/*'
        @onfileadd={{action 'uploadImage'}}
      >
        {{fa-icon 'upload'}} Upload Files
      </FileUpload>
    </label>
    <input type="file" id="files" class="show-for-sr">
  </div>
