<div
    class="project-summary-card callout"
    data-test-project-card
  >
    <div class="grid-x grid-x-small-gutters">
      <div class="cell large-5">
        <h3 class="tiny-margin-bottom">
          {{#link-to 'show-project' this.project.id}}{{this.project.dcpProjectname}}{{/link-to}}
          <small class="dark-gray">{{this.project.dcpUlurpNonulurp}}</small>
        </h3>
        <h5 class="applicant">{{this.project.applicants}}</h5>
        <p>{{this.project.dcpProjectbrief}}</p>
      </div>
      <div class="cell medium-4 large-shrink">
        {{#each this.timeDisplays as |timeDisplay|}}
          <div class="lup-countdown medium-margin-right medium-margin-left">
            <p class="cert-date">{{timeDisplay.displayName}}</p>
            <p class="days">{{timeDisplay.timeRemaining}}</p>
            <p class="total">of {{timeDisplay.timeDuration}} days remain</p>
            <p class="end-date">Ends {{moment-format this.project.actualenddate "M/D/YYYY"}}</p>
          </div>
        {{/each}}
      </div>
      <div class="cell medium-auto">
        <ul class="no-bullet no-margin">
          {{#each this.project.milestones as |milestone|}}
            <li class="grid-x">
              <div class="cell shrink small-margin-right">
                {{#if (eq milestone.statuscode "Completed")}}
                  <span data-test={{if (string-includes milestone.milestonename "Referral") "reviewed-indicator"}}>
                    {{fa-icon 'check' class='blue' fixedWidth=true}}
                  </span>
                {{else if (eq milestone.statuscode "In Progress")}}
                  {{fa-icon 'hourglass-half' class='blue' fixedWidth=true}}
                {{else if (eq milestone.statuscode "Overridden")}}
                  {{fa-icon 'times' class='red-muted' fixedWidth=true}}
                {{else}}
                  {{fa-icon 'calendar' class='light-gray' fixedWidth=true}}
                {{/if}}
              </div>
              <div class="cell auto">
                <p class="small-margin-bottom">
                  <strong>{{milestone.milestonename}}</strong>
                  <small class="display-block">{{milestone.displayDate}}</small>
                </p>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
