<li class="grid-x"
  data-test-milestone-list-item
>
  <div class="cell shrink small-margin-right">
    {{#if (eq this.milestone.statuscode "Completed")}}
      <span data-test={{if (string-includes this.milestone.displayName "Review") "reviewed-indicator"}}>
        {{fa-icon 'check' class='blue' fixedWidth=true}}
      </span>
    {{else if (eq this.milestone.statuscode "In Progress")}}
      {{fa-icon 'hourglass-half' class='blue' fixedWidth=true}}
    {{else if (eq this.milestone.statuscode "Overridden")}}
      {{fa-icon 'times' class='red-muted' fixedWidth=true}}
    {{else}}
      {{fa-icon 'calendar' class='light-gray' fixedWidth=true}}
    {{/if}}
  </div>
  <div class="cell auto {{if (eq this.milestone.statuscode "Not Started") 'gray'}}">
    <p class="small-margin-bottom">
      <strong>
        {{this.milestone.displayName}}
      </strong>
      {{#if (eq this.milestone.dcpMilestone this.milestoneConstants.COMMUNITY_BOARD_REFERRAL)}}

        {{#each this.communityBoardDispositions as |disposition|}}
          <RecommendationResultIcon
            @recommendation={{disposition.dcpCommunityboardrecommendation}}
            @action={{disposition.action}}
          />
        {{/each}}
        <br>
        <small class="display-block">
          Recommendation submitted&nbsp;<DateDisplay @date={{this.anyCommunityBoardDispositionDateReceived}} />
        </small>
      {{else if (eq this.milestone.dcpMilestone this.milestoneConstants.BOROUGH_BOARD_REFERRAL)}}
        {{#each this.boroughBoardDispositions as |disposition|}}
          <RecommendationResultIcon
            @recommendation={{disposition.dcpBoroughboardrecommendation}}
            @action={{disposition.action}}
          />
        {{/each}}
        <br>
        <small class="display-block">
          Recommendation submitted&nbsp;<DateDisplay @date={{this.anyBoroughBoardDispositionDateReceived}} />
        </small>
      {{else if (eq this.milestone.dcpMilestone this.milestoneConstants.BOROUGH_PRESIDENT_REFERRAL)}}
        {{#each this.boroughPresidentDispositions as |disposition|}}
          <RecommendationResultIcon
            @recommendation={{disposition.dcpBoroughpresidentrecommendation}}
            @action={{disposition.action}}
          />
        {{/each}}
        <br>
        <small class="display-block">
          Recommendation submitted&nbsp;<DateDisplay @date={{this.anyBoroughPresidentDispositionDateReceived}} />
        </small>
      {{else}}
        <br>
        {{#if this.milestone.dcpActualenddate}}
          <small class="display-block">
            <DateDisplay @date={{this.milestone.dcpActualenddate}} />
          </small>
        {{/if}}
      {{/if}}
    </p>
  </div>
</li>
