{{#if (and this.message this.open)}}

  <div class="site-message {{if this.warning 'warning'}}">

    {{#if this.warning}}
      <div class="grid-x grid-margin-x align-middle">
        <div class="cell text-center medium-text-left medium-shrink">
          {{fa-icon 'exclamation-triangle' size='2x' class='yellow-dark'}}
        </div>
        <div class="cell auto">
          {{this.message}}
        </div>
      </div>
    {{else}}
      {{this.message}}
    {{/if}}

    {{#if this.dismissible}}
      <button
        class="close-button"
        aria-label="Dismiss message"
        type="button" data-close
        onclick={{fn this.handleSiteMessageToggle}}
      >
        <span aria-hidden="true">&times;</span>
      </button>
    {{/if}}

  </div>

{{/if}}
