<div
  class="project-summary-card callout"
  data-test-project-card
>
  <div class="grid-x grid-x-small-gutters">
    <div class="cell large-6">
      <h3 class="tiny-margin-bottxrom">
        {{#link-to 'show-project' project.id}}{{project.dcpProjectname}}{{/link-to}}
        <small class="dark-gray">{{project.dcpUlurpNonulurp}}</small>
      </h3>
      <h5 class="applicant">{{project.applicants}}</h5>
      <p>{{project.dcpProjectbrief}}</p>
    </div>
    <div class="cell medium-4 large-shrink">
      <div class="lup-countdown medium-margin-right medium-margin-left">
        <p class="cert-date">Community Board Review</p>
        <p class="days">{{timeRemaining}}</p>
        <p class="total">of {{timeDuration}} days remain</p>
        <p class="end-date">Ends {{moment-format project.actualenddate "M/D/YYYY"}}</p>
      </div>
    </div>
    <div class="cell medium-8 large-auto">
      <div class="grid-x grid-x-small-gutters">
        <div class="cell medium-6 large-auto">
          {{#if hearingsSubmittedForProject}}
            {{#deduped-hearings-list project=project as |dedupedHearings|}}
              <h5 class="column-header">Hearing Information</h5>
                  <ul class="no-bullet">
                  {{#each dedupedHearings as |hearing|}}
                    <li class="grid-x small-margin-bottom">
                      <div class="cell shrink small-margin-right">
                        {{#if (is-before hearing.dcpDateofpublichearing)}}
                          {{fa-icon "calendar" class="light-gray" fixedWidth=true}}
                        {{else}}
                          {{fa-icon "check" class="blue" fixedWidth=true}}
                        {{/if}}
                      </div>
                      <div class="cell auto">
                        <strong data-test-hearing-location="{{hearing.id}}" class="display-block">
                          {{~hearing.dcpPublichearinglocation~}}
                        </strong>
                        <span data-test-hearing-date="{{hearing.id}}">
                          {{~moment-format hearing.dcpDateofpublichearing "MM/D/YYYY"~}}
                        </span>
                        <span class="light-gray">|</span>
                        <span data-test-hearing-time="{{hearing.id}}">
                          {{~moment-format hearing.dcpDateofpublichearing "h:mm A"~}}
                        </span>
                        <span data-test-hearing-actions-list="{{hearing.id}}" class="display-block text-tiny">
                          {{#each hearing.hearingActions as |action index|}}
                            {{if (gt index 0) ", "}}{{action.dcpUlurpnumber}}
                          {{/each}}
                        </span>
                      </div>
                    </li>
                  {{/each}}
                  </ul>
            {{/deduped-hearings-list}}
          {{else}}
            <LinkTo
              @route="my-projects.project.hearing.add"
              @model={{project.id}}
              class="button multiline expanded"
            >
              Submit<br>
              Comminity&nbsp;Board
              <br>Hearing Info
            </LinkTo>
          {{/if}}
        </div>
        <div class="cell medium-6 large-auto" data-test-submit-recommendation-btn>
          <LinkTo @route="my-projects.project.recommendations.add"
            @model={{project.id}}
            @query={{hash participantType="CB"}}
            class="button multiline expanded"
          >
            Submit<br>
            Community&nbsp;Board
            <br>Recommendation
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>
