<div
  class="project-summary-card callout"
  data-test-project-card
>
  <div class="grid-x grid-x-small-gutters">
    <div class="cell large-4 xlarge-5">
      <h3 class="tiny-margin-bottxrom">
        {{#link-to 'show-project' assignment.project.id}}<span data-test-project-profile-button="{{assignment.project.id}}">{{assignment.project.dcpProjectname}}</span>{{/link-to}}
        <small class="dark-gray">{{assignment.project.dcpUlurpNonulurp}}</small>
      </h3>
      <h5 class="applicant">{{assignment.project.applicants}}</h5>
      <p>{{assignment.project.dcpProjectbrief}}</p>
    </div>
    <div class="cell medium-4 large-3 xlarge-2">
      <div class="lup-countdown medium-margin-right medium-margin-left">
        <p class="cert-date">{{participant-type-label assignment.dcpLupteammemberrole}} Review</p>
        <p class="days">{{timeRemaining}}</p>
        <p class="total">of {{timeDuration}} days remain</p>
        <p class="end-date">Ends {{moment-format project.toReviewMilestoneActualEndDate "M/D/YYYY"}}</p>
      </div>
    </div>
    <div class="cell medium-8 large-auto">
      {{#if assignment.project.hearingsSubmittedOrWaived}}
        <LinkTo @route="my-projects.assignment.recommendations.add"
          @model={{assignment}}
          class="button expanded"
          data-test-button="submitRecommendation"
        >
          {{fa-icon 'thumbs-up' fixedWidth=true size="lg"}}
          {{fa-icon 'thumbs-down' fixedWidth=true size="lg" transform="flip-h left-2"}}
          Submit {{participant-type-label assignment.dcpLupteammemberrole}} Recommendation
        </LinkTo>
      {{/if}}
      {{#if assignment.project.hearingsWaived}}
        <span data-test-hearings-waived-message="{{assignment.project.id}}">You've opted out of noticing a public hearing.</span>
      {{/if}}

      {{#if assignment.project.hearingsSubmitted}}
        {{#deduped-hearings-list dispositions=assignment.dispositions as |dedupedHearings|}}
          <h6>{{participant-type-label assignment.dcpLupteammemberrole}} Hearings:</h6>
              <ul class="no-bullet">
              {{#each dedupedHearings as |hearing|}}
                <li class="grid-x small-margin-bottom">
                  <div class="cell shrink small-margin-right">
                    {{#if (is-before hearing.dcpDateofpublichearing)}}
                      {{fa-icon "calendar" class="light-gray" fixedWidth=true}}
                    {{else}}
                      {{fa-icon "check" class="blue" fixedWidth=true}}
                    {{/if}}
                  </div>
                  <div class="cell auto">
                    <strong data-test-hearing-location="{{hearing.id}}" class="display-inline-block">
                      {{~hearing.dcpPublichearinglocation~}}
                    </strong>

                    <span class="display-inline-block">
                      <span data-test-hearing-date="{{hearing.id}}">
                        {{~moment-format hearing.dcpDateofpublichearing "MM/D/YYYY"~}}
                      </span>
                      <span class="light-gray">|</span>
                      <span data-test-hearing-time="{{hearing.id}}">
                        {{~moment-format hearing.dcpDateofpublichearing "h:mm A"~}}
                      </span>
                    </span>

                    <small data-test-hearing-actions-list="{{hearing.id}}">
                      {{#each hearing.hearingActions as |action index| ~}}
                        <span class="label light-gray tiny-margin-bottom tiny-margin-right">
                          {{action.dcpName}}
                          <small>{{action.dcpUlurpnumber}}</small>
                        </span>
                      {{~/each}}
                    </small>
                  </div>
                </li>
              {{/each}}
              </ul>
        {{/deduped-hearings-list}}
      {{/if}}

      {{#if assignment.project.hearingsNotSubmittedNotWaived}}
        <div class="grid-x">
          <div class="cell medium-auto">
            <LinkTo
              @route="my-projects.assignment.hearing.add"
              @model={{assignment}}
              class="button expanded tiny-margin-bottom"
              data-test-button="submitHearing"
            >
              {{fa-icon 'calendar' fixedWidth=true size="lg" transform="left-2"}}
              Post {{participant-type-label assignment.dcpLupteammemberrole}} Hearing Notice
            </LinkTo>
          </div>
          <div class="cell medium-shrink">
            <button
              class="button expanded gray"
              onClick={{action "openOptOutHearingPopup"}}
              data-test-button="optOutHearingOpenPopup"
            >
              {{fa-icon 'calendar-times' size="lg" transform="shrink-5 down-1"}}
              <small>Opt Out</small>
            </button>
            {{waive-hearings-popup project=assignment.project showPopup=showPopup}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
