{{#ember-wormhole to="reveal-modal-container"}}
  {{#confirmation-modal open=showPopup}}
    {{#if error}}
      <div class="cell auto">
        <span data-test-error-alert-message>
          Oops something went wrong, can you try again?
        </span>
      </div>
      <button
        class="button clear"
        data-test-button="backToMyProjectsAfterError"
        type="button"
        onClick={{action "closeModal"}}
      >
        Back to My Projects
      </button>
    {{else}}
      <h3>
        <small class="display-inline-block">Opt out of noticing a public hearing for:</small>
        <span class="display-inline-block">{{assignment.project.dcpProjectname}}</span>
      </h3>
      <p>Without proper notice of a public hearing, the {{participant-type-label assignment.dcpLupteammemberrole}}'s recommendation does not comply with City Charter requirements.
      NYC Planning will still accept a recommendation, but a disapproval will not trigger an automatic City Council call up.</p>
      <p><strong>Are you sure you want to opt out of noticing a public hearing?</strong></p>
      <button
        class="button small"
        data-test-button="onConfirmOptOutHearing"
        type="button"
        onClick={{action "onConfirmOptOutHearing" assignment}}
      >
        Opt Out
      </button>
      <button
        class="button small clear"
        data-test-button="closeOptOutHearingPopup"
        type="button"
        onClick={{action "closeModal"}}
      >
        Cancel
      </button>
    {{/if}}
  {{/confirmation-modal}}
{{/ember-wormhole}}
