<h2>Add Community Board Hearing</h2>
{{#if hearingSubmitted}}
  <h5 data-test-hearing-submitted-message>Thanks for submitting your hearing!</h5>
{{else}}
  <fieldset class="medium-margin-bottom">
    <legend><strong>Would you like to submit a single hearing for all actions?</strong></legend>
    <input
      type="radio"
      name="all-action-yes"
      id="all-action-yes"
      data-test-radio="all-action-yes"
      checked={{if (eq allActions true) "checked"}}
      onClick={{action "setProp" "allActions" true}}
    />
    <label for="all-action-yes">
      Yes
    </label>
    <input
      type="radio"
      name="all-action-no"
      id="all-action-no"
      data-test-radio="all-action-no"
      checked={{if (eq allActions false) "checked"}}
      onClick={{action "setProp" "allActions" false}}
    />
    <label for="all-action-no">
      No, I will submit multiple hearings
    </label>
  </fieldset>

  {{#if allActions}}
    {{hearing-form
      disposition=dispositionForAllActions
      allActions=allActions
      checkIfMissing=checkIfMissing}}
  {{else if (eq allActions false)}}
    {{#each model.dispositions as |disposition|}}
      <h4>{{disposition.action.name}}  <span class="text-small">{{disposition.action.ulurpnumber}}</span></h4>
      {{hearing-form
        disposition=disposition
        allActions=allActions
        checkIfMissing=checkIfMissing}}
    {{/each}}
  {{/if}}

  {{#if (not-eq allActions null)}}
      <button
        class="button large-margin-top"
        data-test-button="checkHearing"
        type="button"
        onClick={{action "onSubmit"}}
      >
        Continue
      </button>
  {{/if}}

  {{#if modalOpen}}
    <div id="hearing-confirmation" class="reveal-overlay" style="display:block;">
      <div class="reveal" role="dialog" aria-hidden="false" tabindex="-1" style="display:block;">
        <h3>Confirm hearing information</h3>

        {{#if allActions}}
          <p>
            <strong class="display-block hearing-location">
              {{~dispositionForAllActions.publichearinglocation~}}
            </strong>
            <span class="hearing-date">
              {{~moment-format dispositionForAllActions.dateofpublichearing "MM/D/YYYY"~}}
            </span>
            <span class="light-gray">|</span>
            <span class="hearing-time">
              {{~moment-format dispositionForAllActions.dateofpublichearing "h:mm A"~}}
            </span>
          </p>
        {{else}}
          {{#each model.dispositions as |disposition|}}
            <p>
              <strong class="display-block" data-test-hearing-location-confirmation="{{disposition.id}}">
                {{~disposition.publichearinglocation~}}
              </strong>
              <span data-test-hearing-date-confirmation="{{disposition.id}}">
                {{~moment-format disposition.dateofpublichearing "MM/D/YYYY"~}}
              </span>
              <span class="light-gray">|</span>
              <span data-test-hearing-time-confirmation="{{disposition.id}}">
                {{~moment-format disposition.dateofpublichearing "h:mm A"~}}
              </span>
            </p>
          {{/each}}
        {{/if}}

        <p class="callout warning text-small">
          Once you submit hearing information, you can not edit it. You'll need to contact the Lead Planner to make any changes.
        </p>

        <p>
          <button
            class="button"
            data-test-button="confirmHearing"
            type="button"
            onClick={{action "onConfirm"}}
          >
            Submit Hearing Information
          </button>

          <button
            class="button clear"
            data-test-button="closeModal"
            type="button"
            onClick={{action "closeModal"}}
          >
            Cancel <small>(continue editing)</small>
          </button>
        </p>
      </div>
    </div>
  {{/if}}
{{/if}}

{{outlet}}
