<form>
  <h3>{{model.dcp_projectname}}</h3>
  <div class="grid-x">
    <div class="large-12 cell">
      <h5 class="no=margin">Hearing Date</h5>
      {{#if dateMissing}}
          <label class="fix-hearing-info">*Please enter a valid date for your hearing</label>
      {{/if}}
      <div class="small-9 cell">
          {{pikaday-input
            placeholder='Select a date'
            readonly="readonly"
            minDate=currentDate
            format='MM/DD/YYYY'
            data-test-hearing-input="date"
            onSelection=(action (mut this.date))
            }}
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="large-12 cell">
      <h5 class="no=margin">Hearing Time</h5>
      {{#if timeMissing}}
          <label class="fix-hearing-info">*Please enter a valid time for your hearing</label>
      {{/if}}
      <div class="small-9 cell">
        {{#power-select
          triggerClass="hearing-time-dropdown"
          searchEnabled=false
          selected=this.time
          options=inputTimesArray
          placeholder="Select a time"
          onchange=(action (mut this.time))
          as |time|
        }}
        {{moment-format time "hh:mm a"}}
        {{/power-select}}
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="large-12 cell">
      <h5 class="no=margin">Hearing Location</h5>
      {{#if locationMissing}}
          <label class="fix-hearing-info">*Please enter a valid location for your hearing</label>
      {{/if}}
      <div class="small-9 cell search-hearing-location">
        {{#labs-search
          searchPlaceholder='Search an address'
          onSelect=(action (mut this.location))
          onClear=(action 'clearSearchResult') as |search|}}
          <small class="dark-gray">{{search.result.label}}</small>
        {{/labs-search}}
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="large-12 cell additional-location-info">
      <h5 class="no-margin">Additional Hearing Location Information</h5>
      <span class="text-small">(OPTIONAL) information to help participants find the hearing location, e.g. "the gym north of P.S. 8"</span>
      <div class="small-9 cell">
          {{input
            type="text"
            placeholder="Enter additional info on hearing location"
            autocomplete="off"
            data-test-hearing-input="additionalLocation"
            value=this.additionalLocationInfo
            }}
      </div>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell auto hearing-submit">
      <button
        class="cell auto button small gray"
        data-test-button="hearingSubmit"
        type="button"
        onclick={{action 'saveHearingForm'}}
        >Submit Hearing Info
      </button>
    </div>
  </div>
</form>
