<h2>Actions</h2>

<ul class="actions-list no-bullet">
  {{#each @projectActions as |projectAction|}}
    <li class="grid-x grid-padding-small action">
      <div class="cell shrink statuscode {{dasherize projectAction.statuscode}}">
        <span class="action-icon fa-layers fa-fw">
          <FaIcon @icon="circle" @fixedWidth={{true}} />
          <FaIcon @icon="file-alt" @fixedWidth={{true}} class="off-white" @transform="shrink-7" />
        </span>
        <p class="text-tiny status">{{if projectAction.statuscode projectAction.statuscode "No Status Code"}}</p>
      </div>
      <div class="cell auto">
        <h5 class="no-margin">
          {{projectAction.dcpName}}
          {{#if (lookup-action-type projectAction.actioncode)}}
            <sup class="dark-gray">
              {{icon-tooltip
                tip=(lookup-action-type projectAction.actioncode)}}
            </sup>
          {{/if}}
        </h5>

        <p class="text-small no-margin">
          {{#if projectAction.dcpUlurpnumber}}
            ULURP Number:
            {{#if (in-array
                (array "Approved" "Certified" "Referred" "Disapproved" "Terminated" "Withdrawn" "Study Complete")
                projectAction.statuscode
              )
            }}
                {{#if (and (not-eq projectAction.statuscode this.actionStatuscodeActive) projectAction.dcpSpabsoluteurl)}}
                  {{#tool-tipster
                    content='City Planning Commision Report'
                    tagName='span'
                  }}
                    <a
                      href={{concat this.host '/document/projectaction' projectAction.serverRelativeUrl}}
                      target="_blank"
                    >
                      {{projectAction.dcpUlurpnumber}}
                      <FaIcon @icon="external-link-alt" />
                    </a>
                  {{/tool-tipster}}
                {{else}}
                  {{projectAction.dcpUlurpnumber}}
                {{/if}}
            {{else}}
              {{projectAction.dcpUlurpnumber}}
            {{/if}}
          {{else}}
            No ULURP Number
          {{/if}}
        </p>

        {{#if projectAction.dcpZoningresolution}}
          <p class="text-small no-margin">
            Zoning Resolution:
            <a href="{{build-url "zoningResolution" projectAction.dcpZoningresolution}}" target="_blank">
              {{projectAction.dcpZoningresolution}}
              <FaIcon @icon="external-link-alt" />
            </a>
          </p>
        {{/if}}
        {{#if projectAction.dcpCcresolutionnumber}}
          <p class="text-small no-margin">City Council Resolution: {{projectAction.dcpCcresolutionnumber}}</p>
        {{/if}}
      </div>
    </li>
  {{/each}}
</ul>
