<p>
  {{#if this.hasPublicDocuments}}
    <h4
      class="clickable-header"
      onClick={{this.toggleShowPublicDocuments}}
    >
      <FaIcon
        @icon={{if this.showPublicDocuments "caret-down" "caret-right"}}
      />
      Public Documents
    </h4>

    {{#if this.showPublicDocuments}}
      <ul
        class="no-bullet public-documents-list"
      >
        {{#each @packages as |package|}}
          <li>
            <ShowProject::PublicDocuments::PackageDocuments
              @package={{package}}
            />
          </li>
        {{/each}}

        {{#each @artifacts as |artifact|}}
          <li>
            <ShowProject::PublicDocuments::ArtifactDocuments
              @artifact={{artifact}}
            />
          </li>
        {{/each}}

        <h4
          class="clickable-header"
          onClick={{this.toggleShowDispositionDocuments}}
        >
          <FaIcon
            @icon={{if this.showDispositionDocuments "caret-down" "caret-right"}}
          />
          CB&sol;BB&sol;BP Recommendations
        </h4>

        {{#if this.showDispositionDocuments}}
          <ul
            class="no-bullet public-documents-list"
          >
            {{#each @dispositions as |disposition|}}
              <li>
                <ShowProject::PublicDocuments::DispositionDocuments
                  @disposition={{disposition}}
                />
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </ul>
    {{/if}}
  {{else}}
    <h5
      class="gray"
    >
      <FaIcon
        @icon="caret-right"
      />
      No Documents for this Project
    </h5>
    <h5 
      class="gray"
    >
    The Department is working to post all newly Filed, and 
    Certified/Referred applications online. We ask for your 
    patience as we work to take on this major project.
    </h5>
  {{/if}}
</p>
