<p>
  {{#if this.hasPublicDocuments}}
    <h4
      class="clickable-header"
      onClick={{this.toggleShowPublicDocuments}}
    >
      <FaIcon
        @icon={{if this.showPublicDocuments "caret-down" "caret-right"}}
      />
      Public Documents
    </h4>

    {{#if this.showPublicDocuments}}
      <ul
        class="no-bullet public-documents-list"
      >
        {{#each @packages as |package|}}
          <li>
            <ShowProject::PublicDocuments::PackageDocuments
              @package={{package}}
            />
          </li>
        {{/each}}

        {{#each @artifacts as |artifact|}}
          <li>
            <ShowProject::PublicDocuments::ArtifactDocuments
              @artifact={{artifact}}
            />
          </li>
        {{/each}}
      </ul>
    {{/if}}
  {{else}}
    <h5
      class="gray"
    >
      <FaIcon
        @icon="caret-right"
      />
      No Documents for this Project
    </h5>
  {{/if}}
</p>
