<h2>Thank you!</h2>
<div class="grid-x grid-margin-x">
  <div class="large-5 cell large-order-2">
    <p>Hearings submitted for:</p>
    <div class="project-summary-card callout large-margin-bottom">
      <h3 class="tiny-margin-bottom">
        <LinkTo
          @route="show-project"
          @model={{model.project}}
          data-test-button="back-to-project-profile"
        >
          {{model.project.dcpProjectname}}
        </LinkTo>
        <small class="dark-gray">{{model.project.dcpUlurpNonulurp}}</small>
      </h3>
      <h5 class="applicant">{{model.project.applicants}}</h5>
      <p>{{model.project.dcpProjectbrief}}</p>
    </div>
  </div>
  <div class="large-7 cell">

    <p class="lead"><strong>Your hearings have been submitted to the Zoning&nbsp;Application Portal.</strong></p>

    {{!-- TODO: Update this message if/when hearings are noticed directly to the City Record --}}

    <div class="callout secondary">
      <p>{{fa-icon icon='exclamation-triangle' class='orange-muted'}} Automated submission to the City Record is currently under development.</p>
    </div>
    <p class="large-margin-bottom">Please visit <a href="https://a856-cityrecord.nyc.gov/">The City Record Online</a> to submit your hearing information.</p>

    <LinkTo
      @route="my-projects.to-review"
      data-test-button="back-to-review"
      class="button gray"
      data-test-button="back-to-review"
    >
      Go to My Projects
    </LinkTo>

  </div>
</div>
