<strong>Public Hearing</strong>

<small class="display-inline-block" data-test-hearing-location="{{@hearing.disposition.id}}">
  {{@hearing.disposition.dcpPublichearinglocation}}
</small>

<small class="display-inline-block" data-test-hearing-date="{{@hearing.disposition.id}}">
  {{~moment-format @hearing.disposition.dcpDateofpublichearing "LLLL"~}}
</small>

<div class="text-tiny" id="{{center-content action.dcpName}}">
  {{#each @hearing.hearingActions as |action index|}}
    {{#if action.dcpName}}
      <span class="label light-gray tiny-margin-bottom tiny-margin-right" data-test-hearing-actions-list="{{@hearing.disposition.id}}{{index}}">
        {{action.dcpName}}
        <small>{{action.dcpUlurpnumber}}</small>
      </span>
    {{/if}}
  {{/each}}
</div>
