{{#if this.error}}
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-middle" style="min-height: 50vh">
        <div class="cell large-6 large-offset-3 text-center">
          <h2>Oops!</h2>
          <p>{{this.error}}</p>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="grid-container">
    <div class="grid-x grid-x-container">
      <h2>
        Add {{participant-type-label assignment.dcpLupteammemberrole}} Recommendation
      </h2>
      <div class="grid-x grid-margin-x">
        <div class="large-5 cell large-order-2">
          <p>Recommendation to be submitted for:</p>
          <div class="project-summary-card callout">
            <h3 class="tiny-margin-bottom">
              <LinkTo
                @route="show-project"
                @model={{assignment.project}}
              >
                {{assignment.project.dcpProjectname}}
              </LinkTo>
              <small class="dark-gray">{{assignment.project.dcpUlurpNonulurp}}</small>
            </h3>
            <h5 class="applicant">{{assignment.project.applicants}}</h5>
            <p>{{assignment.project.dcpProjectbrief}}</p>
          </div>
        </div>
        <div class="cell large-7">
          {{#if assignment.hearingsSubmitted}}
            <strong
              data-test-quorum-question
            >
              <legend>
                Was a Quorum Present at your hearing(s)?
              </legend>
            </strong>
            <p class="help-text">
              A quorum requires the presence of 20% of appointed board members, and not fewer than seven members.
            </p>
            {{#deduped-hearings-list dispositions=assignment.dispositionsByRole as |dedupedHearings|}}
              {{#each dedupedHearings as |hearing idx|}}
                {{#if hearing.disposition.dcpDateofpublichearing}}
                  <div class="grid-x">
                    <p class="cell auto small-order-2">
                      <span class="display-block">
                        <strong>
                          <DateDisplay
                            @date={{hearing.disposition.dcpDateofpublichearing}}
                          />
                        </strong>
                        <span class="light-gray">|</span>
                        <strong>{{hearing.disposition.dcpPublichearinglocation}}</strong>
                      </span>
                      <small data-test-hearing-actions-list="{{hearing.disposition.id}}">
                        {{#each hearing.hearingActions as |action index| ~}}
                          {{#if action.dcpName}}
                            <span class="label light-gray tiny-margin-bottom tiny-margin-right">
                              {{action.dcpName}}
                              <small>{{action.dcpUlurpnumber}}</small>
                            </span>
                          {{/if}}
                        {{~/each}}
                      </small>
                    </p>
                    <fieldset class="cell shrink medium-margin-bottom small-margin-right recommendation-quorum-fieldiset">
                      <input type="radio"
                        name={{concat idx '-quorum'}}
                        id={{concat idx '-quorum-yes'}}
                        checked={{if hearing.disposition.dcpWasaquorumpresent "checked"}}
                        onClick={{action 'updateDispositionAttr' hearing assignment.dispositionsByRole 'dcpWasaquorumpresent' true}}
                        data-test-quorum-yes="{{idx}}"
                      />
                      <label
                        for="{{concat idx '-quorum-yes'}}"
                        {{action 'updateDispositionAttr' hearing assignment.dispositionsByRole 'dcpWasaquorumpresent' true}}
                      >
                        Yes
                      </label>
                      <input type="radio"
                        name={{concat idx '-quorum'}}
                        id={{concat idx '-quorum-no'}}
                        checked={{if (eq hearing.disposition.dcpWasaquorumpresent false) "checked"}}
                        onClick={{action 'updateDispositionAttr' hearing assignment.dispositionsByRole 'dcpWasaquorumpresent' false}}
                        data-test-quorum-no="{{idx}}"
                      />
                      <label
                        for="{{concat idx '-quorum-no'}}"
                        {{action 'updateDispositionAttr' hearing assignment.dispositionsByRole 'dcpWasaquorumpresent' false}}
                      >
                        No
                      </label>
                    </fieldset>
                  </div>
                {{/if}}
              {{/each}}
            {{/deduped-hearings-list}}
          {{/if}}
          {{#if assignment.hearingsWaived}}
            <div class="callout warning large-margin-bottom" data-test-hearings-waived-message>
              <h5 class="small-margin-bottom">Note: You have opted out of submitting hearings for this project.</h5>
              <p class="text-small">Without proper notice of a public hearing, the {{participant-type-label assignment.dcpLupteammemberrole}}'s recommendation does not comply with City Charter requirements. NYC Planning will still accept a recommendation, but a disapproval will not trigger an automatic City Council call up.</p>
            </div>
          {{/if}}
          {{#if (gt this.dispositions.length 1)}}
            <fieldset class="medium-margin-bottom medium-margin-top"
              data-test-all-actions-fieldset
            >
              <legend>
                <strong>
                  Would you like to submit a single recommendation for all actions?
                </strong>
              </legend>
              <input
                type="radio"
                name="all-actions-yes"
                id="all-actions-yes"
                checked={{if (eq this.allActions true) "checked"}}
                onClick={{action "setProp" "allActions" true}}
                data-test-all-actions-yes
              />
              <label for="all-actions-yes">
                Yes
              </label>
              <input
                type="radio"
                name="all-actions-no"
                id="all-actions-no"
                checked={{if (eq this.allActions false) "checked"}}
                onClick={{action "setProp" "allActions" false}}
                data-test-all-actions-no
              />
              <label for="all-actions-no">
                No, I will submit a recommendation for each action
              </label>
            </fieldset>
          {{/if}}
          {{#if (eq this.allActions true)}}
            <fieldset class="medium-margin-bottom recommendation-all-actions-fieldset">
              <legend class="show-for-sr">
                <strong>
                  Submit a recommendation for all actions
                </strong>
              </legend>
              {{#if this.dispositionForAllActionsChangeset}}
                <div
                  class={{if this.dispositionForAllActionsChangeset.error.recommendation "is-invalid-label"}}
                >
                  <label
                    data-test-all-actions-recommendation
                  >
                    <PowerSelect
                      @searchField='label'
                      @options={{this.recOptions}}
                      @placeholder="Select a recommendation"
                      @selected={{recommendation-label-lookup participantType this.dispositionForAllActionsChangeset.recommendation objectMode=true}}
                      @onchange={{action "setDispositionChangesetRec" this.dispositionForAllActionsChangeset}}
                      as |recOption|
                    >
                      {{recOption.label}}
                    </PowerSelect>
                  </label>
                  <span class="form-error is-visible" role="alert">
                    {{this.dispositionForAllActionsChangeset.error.recommendation.validation}}
                  </span>
                </div>
              {{/if}}
              {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
                <legend class="show-for-sr">
                  <strong>
                    Vote Counts
                  </strong>
                </legend>
                <div class="grid-x grid-margin-x">
                  <div  class="cell medium-3">
                    <label
                      for="all-actions-votes-in-favor"
                      class={{if this.dispositionForAllActionsChangeset.error.dcpVotinginfavorrecommendation "is-invalid-label"}}
                    >
                      Votes In Favor
                    </label>
                    <Input
                      @id="all-actions-votes-in-favor"
                      @type="number"
                      @min=0
                      @max=999
                      @value={{this.dispositionForAllActionsChangeset.dcpVotinginfavorrecommendation}}
                      @key-up={{fn (mut this.dispositionForAllActionsChangeset.dcpVotinginfavorrecommendation) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.dcpVotinginfavorrecommendation "is-invalid-input"}}
                      data-test-all-actions-dcpVotinginfavorrecommendation
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.dcpVotinginfavorrecommendation.validation}}
                    </span>
                  </div>
                  <div  class="cell medium-3">
                    <label
                      for="all-actions-votes-against"
                      class={{if this.dispositionForAllActionsChangeset.error.dcpVotingagainstrecommendation "is-invalid-label"}}
                    >
                      Votes Against
                    </label>
                    <Input
                      @id="all-actions-votes-against"
                      @type="number"
                      @min=0
                      @max=999
                      @value={{this.dispositionForAllActionsChangeset.dcpVotingagainstrecommendation}}
                      @key-up={{fn (mut this.dispositionForAllActionsChangeset.dcpVotingagainstrecommendation) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.dcpVotingagainstrecommendation "is-invalid-input"}}
                      data-test-all-actions-dcpVotingagainstrecommendation
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.dcpVotingagainstrecommendation.validation}}
                    </span>
                  </div>
                  <div  class="cell medium-3">
                    <label
                      for="all-actions-votes-abstain"
                      class={{if this.dispositionForAllActionsChangeset.error.dcpVotingabstainingonrecommendation "is-invalid-label"}}
                    >
                      Abstain
                    </label>
                    <Input
                      @id="all-actions-votes-abstain"
                      @type="number"
                      @min=0
                      @max=999
                      @value={{this.dispositionForAllActionsChangeset.dcpVotingabstainingonrecommendation}}
                      @key-up={{fn (mut this.dispositionForAllActionsChangeset.dcpVotingabstainingonrecommendation) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.dcpVotingabstainingonrecommendation "is-invalid-input"}}
                      data-test-all-actions-dcpVotingabstainingonrecommendation
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.dcpVotingabstainingonrecommendation.validation}}
                    </span>
                  </div>
                  <div  class="cell medium-3">
                    <label
                      for="all-actions-votes-total-members"
                      class={{if this.dispositionForAllActionsChangeset.error.dcpTotalmembersappointedtotheboard "is-invalid-label"}}
                    >
                      Total Members
                    </label>
                    <Input
                      @id="all-actions-votes-total-members"
                      @type="number"
                      @min=0
                      @max=999
                      @value={{this.dispositionForAllActionsChangeset.dcpTotalmembersappointedtotheboard}}
                      @key-up={{fn (mut this.dispositionForAllActionsChangeset.dcpTotalmembersappointedtotheboard) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.dcpTotalmembersappointedtotheboard "is-invalid-input"}}
                      data-test-all-actions-dcpTotalmembersappointedtotheboard
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.dcpTotalmembersappointedtotheboard.validation}}
                    </span>
                  </div>
                </div>
              {{/if}}
            </fieldset>
          {{/if}}
          {{#if (eq this.allActions false)}}
            <fieldset class="medium-margin-bottom recommendation-by-action-fieldset">
              <legend class="show-for-sr">
                <strong>
                  Submit a Recommendation by action
                </strong>
              </legend>
              {{#each this.dispositionAndChangesetPairs as |dispositionChangesetPair idx|}}
                <h4>
                  {{dispositionChangesetPair.disposition.action.dcpName}}
                  <small class="dark-gray">
                    {{dispositionChangesetPair.disposition.action.dcpUlurpnumber}}
                  </small>
                </h4>
                <div
                  class={{if (get dispositionChangesetPair.changeset.error (rec-field-by-parttype-lookup this.participantType)) "is-invalid-label"}}
                >
                  <label
                    data-test-each-action-recommendation={{idx}}
                  >
                    <PowerSelect
                      @searchField='label'
                      @options={{this.recOptions}}
                      @placeholder="Select a recommendation"
                      @selected={{recommendation-label-lookup this.participantType (get dispositionChangesetPair.changeset (rec-field-by-parttype-lookup this.participantType objectMode=true)) objectMode=true}}
                      @onchange={{action "setDispositionChangesetRec" dispositionChangesetPair.changeset}}
                      as |recOption|
                    >
                      {{recOption.label}}
                    </PowerSelect>
                  </label>
                  <span class="form-error is-visible" role="alert">
                    {{get (get dispositionChangesetPair.changeset.error (rec-field-by-parttype-lookup this.participantType)) "validation"}}
                  </span>
                </div>
                {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
                  <legend class="show-for-sr">
                    <strong>
                      Vote Counts
                    </strong>
                  </legend>
                  <div class="grid-x grid-margin-x">
                    <div  class="cell medium-3">
                      <label
                        for={{concat "disposition-" (concat idx "-votes-in-favor")}}
                        class={{if dispositionChangesetPair.changeset.error.dcpVotinginfavorrecommendation "is-invalid-label"}}
                      >
                        Votes In Favor
                      </label>
                      <Input
                        @id={{concat "disposition-" (concat idx "-votes-in-favor")}}
                        @type="number"
                        @min=0
                        @max=999
                        @value={{dispositionChangesetPair.changeset.dcpVotinginfavorrecommendation}}
                        @key-up={{fn (mut dispositionChangesetPair.changeset.dcpVotinginfavorrecommendation) value="target.value"}}
                        @class={{if dispositionChangesetPair.changeset.error.dcpVotinginfavorrecommendation "is-invalid-input"}}
                        data-test-each-action-votes={{concat "in-favor-" idx}}
                      />
                      <span class="form-error is-visible" role="alert">
                        {{dispositionChangesetPair.changeset.error.dcpVotinginfavorrecommendation.validation}}
                      </span>
                    </div>
                    <div  class="cell medium-3">
                    <label
                      for={{concat "disposition-" (concat idx "-votes-against")}}
                      class={{if dispositionChangesetPair.changeset.error.dcpVotingagainstrecommendation "is-invalid-label"}}
                    >
                      Votes Against
                    </label>
                    <Input
                      @id={{concat "disposition-" (concat idx "-votes-against")}}
                      @type="number"
                      @min=0
                      @max=999
                      @value={{dispositionChangesetPair.changeset.dcpVotingagainstrecommendation}}
                      @key-up={{fn (mut dispositionChangesetPair.changeset.dcpVotingagainstrecommendation) value="target.value"}}
                      @class={{if dispositionChangesetPair.changeset.error.dcpVotingagainstrecommendation "is-invalid-input"}}
                      data-test-each-action-votes={{concat "against-" idx}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{dispositionChangesetPair.changeset.error.dcpVotingagainstrecommendation.validation}}
                    </span>
                  </div>
                  <div  class="cell medium-3">
                    <label
                      for={{concat "disposition-" (concat idx "-votes-abstain")}}
                      class={{if dispositionChangesetPair.changeset.error.dcpVotingabstainingonrecommendation "is-invalid-label"}}
                    >
                      Abstain
                    </label>
                    <Input
                      @id={{concat "disposition-" (concat idx "-votes-abstain")}}
                      @type="number"
                      @min=0
                      @max=999
                      @value={{dispositionChangesetPair.changeset.dcpVotingabstainingonrecommendation}}
                      @key-up={{fn (mut dispositionChangesetPair.changeset.dcpVotingabstainingonrecommendation) value="target.value"}}
                      @class={{if dispositionChangesetPair.changeset.error.dcpVotingabstainingonrecommendation "is-invalid-input"}}
                      data-test-each-action-votes={{concat "abstain-" idx}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{dispositionChangesetPair.changeset.error.dcpVotingabstainingonrecommendation.validation}}
                    </span>
                  </div>
                  <div  class="cell medium-3">
                    <label
                      for={{concat "disposition-" (concat idx "-votes-total-members")}}
                      class={{if dispositionChangesetPair.changeset.error.dcpTotalmembersappointedtotheboard "is-invalid-label"}}
                    >
                      Total Members
                    </label>
                    <Input
                      @id={{concat "disposition-" (concat idx "-votes-total-members")}}
                      @type="number"
                      @min=0
                      @max=999
                      @value={{dispositionChangesetPair.changeset.dcpTotalmembersappointedtotheboard}}
                      @key-up={{fn (mut dispositionChangesetPair.changeset.dcpTotalmembersappointedtotheboard) value="target.value"}}
                      @class={{if dispositionChangesetPair.changeset.error.dcpTotalmembersappointedtotheboard "is-invalid-input"}}
                      data-test-each-action-votes={{concat "total-members-" idx}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{dispositionChangesetPair.changeset.error.dcpTotalmembersappointedtotheboard.validation}}
                    </span>
                  </div>
                  </div>
                {{/if}}
                <div class="grid-x grid-margin-x">
                  <div class="cell">
                    <label
                      for={{concat "disposition-" (concat idx "-dcpConsideration")}}
                      class={{if dispositionChangesetPair.changeset.error.dcpConsideration "is-invalid-label"}}
                    >
                      Recommendation Comment
                    </label>
                    <Textarea
                      @id={{concat "disposition-" (concat idx "-dcpConsideration")}}
                      @maxlength=2000
                      @value={{dispositionChangesetPair.changeset.dcpConsideration}}
                      @placeholder="Add a Recommendation comment for this action here."
                      @rows="4"
                      @class={{if dispositionChangesetPair.changeset.error.dcpConsideration "is-invalid-input"}}
                      data-test-each-action-dcpConsideration={{idx}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{dispositionChangesetPair.changeset.error.dcpConsideration.validation}}
                    </span>
                  </div>
                </div>
                <hr />
              {{/each}}
            </fieldset>
          {{/if}}
          {{!-- Not null --}}
          {{#if (not (eq this.allActions null))}}
            {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
              <fieldset class="medium-margin-bottom recommendation-by-action-fieldset">
                <legend>
                  <strong>
                    Vote Location and Date for all actions
                  </strong>
                </legend>
                <div class="grid-x grid-margin-x">
                  <div class="cell medium-6">
                    <label
                      for="all-actions-vote-location"
                      class={{if this.dispositionForAllActionsChangeset.error.dcpVotelocation "is-invalid-label"}}
                    >
                      Vote Location
                    </label>
                    <Input
                      @id="all-actions-vote-location"
                      @type="text"
                      @maxlength=100
                      @placeholder="Add a location"
                      @autocomplete="off"
                      @value={{this.dispositionForAllActionsChangeset.dcpVotelocation}}
                      @key-up={{fn (mut this.dispositionForAllActionsChangeset.dcpVotelocation) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.dcpVotelocation "is-invalid-input"}}
                      data-test-all-actions-dcpVotelocation
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.dcpVotelocation.validation}}
                    </span>
                  </div>
                  <div class="cell medium-6">
                    <label
                      for="all-actions-vote-date"
                      class={{if this.dispositionForAllActionsChangeset.error.dcpDateofvote "is-invalid-label"}}
                    >
                      Vote Date
                    </label>
                    <PikadayInput
                      @id="all-actions-vote-date"
                      @readonly="readonly"
                      @placeholder='Select a date'
                      @value={{this.dispositionForAllActionsChangeset.dcpDateofvote}}
                      @format='MM/DD/YYYY'
                      @minDate={{this.minDate}}
                      @onSelection={{fn (mut this.dispositionForAllActionsChangeset.dcpDateofvote) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.dcpDateofvote "is-invalid-input"}}
                      data-test-all-actions-dcpDateofvote
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.dcpDateofvote.validation}}
                    </span>
                  </div>
                </div>
              </fieldset>
            {{/if}}
            {{#if (eq this.allActions true)}}
              <fieldset class="medium-margin-bottom">
                <label
                  for="all-actions-dcpConsideration"
                  class={{if this.dispositionForAllActionsChangeset.error.dcpConsideration "is-invalid-label"}}
                >
                  Recommendation Comment for all actions.
                </label>
                <Textarea
                  @id="all-actions-dcpConsideration"
                  @maxlength=2000
                  @value={{this.dispositionForAllActionsChangeset.dcpConsideration}}
                  @placeholder="Add Recommendation comment for all actions here."
                  @rows="4"
                  @class={{if this.dispositionForAllActionsChangeset.error.dcpConsideration "is-invalid-input"}}
                  data-test-all-actions-dcpConsideration
                />
                <span class="form-error is-visible" role="alert">
                  {{this.dispositionForAllActionsChangeset.error.dcpConsideration.validation}}
                </span>
              </fieldset>
            {{/if}}
            <DocumentUploadForm
              @queue={{this.assignmentQueue}}
            />
            <hr>
            <fieldset class="medium-margin-bottom">
              <button
                class="button"
                type="button"
                onClick={{this.onContinue}}
                data-test-continue
              >
                Continue
              </button>
            </fieldset>
          {{/if}}

          {{#ember-wormhole to="reveal-modal-container"}}
            {{#confirmation-modal open=modalOpen}}
              {{#if this.isSubmitting}}
                <div
                  class="text-center large-margin-top large-padding-top" style="padding:3rem 0;"
                >
                  {{fa-icon 'spinner' spin="true" size="5x" class="light-gray"}}
                </div>
                <div class="text-center large-margin-top large-padding-top" style="padding:3rem 0;"
                >
                  Please wait...
                </div>
              {{else}}
                <h3 class="large-margin-right">Please confirm your recommendation information.</h3>
                {{#unless assignment.hearingsWaived}}
                  <h5
                    data-test-confirmation-quorum-answer
                  >
                    Was a Quorum Present at your Hearing(s)?
                  </h5>
                  {{#deduped-hearings-list dispositions=assignment.dispositionsByRole as |dedupedHearings|}}
                    {{#each dedupedHearings as |hearing idx|}}
                      <p class="grid-x">
                        <strong class="cell small-1"
                          data-test-quorum-answer={{idx}}
                        >
                          {{if hearing.disposition.dcpWasaquorumpresent "Yes" "No"}}
                        </strong>
                        <span class="cell auto">
                          <span class="display-block">
                            <strong>
                              <DateDisplay
                                @date={{hearing.disposition.dcpDateofpublichearing}}
                              />
                            </strong>
                            <span class="light-gray">|</span>
                            <strong>{{hearing.disposition.dcpPublichearinglocation}}</strong>
                          </span>
                          <small data-test-hearing-actions-list="{{hearing.disposition.id}}">
                            {{#each hearing.hearingActions as |action index| ~}}
                              {{#if action.dcpName}}
                                <span class="label light-gray tiny-margin-bottom tiny-margin-right">
                                  {{action.dcpName}}
                                  <small>{{action.dcpUlurpnumber}}</small>
                                </span>
                              {{/if}}
                            {{~/each}}
                          </small>
                        </span>
                      </p>
                    {{/each}}
                  {{/deduped-hearings-list}}
                {{/unless}}
                {{#if this.allActions}}
                  <p
                    data-test-confirmation-all-actions-recommendation
                  >
                    <strong>Recommendation:</strong> {{recommendation-label-lookup participantType this.dispositionForAllActionsChangeset.recommendation}}
                  </p>
                  {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
                    <p
                      data-test-confirmation-all-actions-dcpVotinginfavorrecommendation
                    >
                      <strong>Votes in Favor:</strong> {{this.dispositionForAllActionsChangeset.dcpVotinginfavorrecommendation}}
                    </p>
                    <p
                      data-test-confirmation-all-actions-dcpVotingagainstrecommendation
                    >
                      <strong>Votes Against:</strong> {{this.dispositionForAllActionsChangeset.dcpVotingagainstrecommendation}}
                    </p>
                    <p
                      data-test-confirmation-all-actions-dcpVotingabstainingonrecommendation
                    >
                      <strong>Abstain:</strong> {{this.dispositionForAllActionsChangeset.dcpVotingabstainingonrecommendation}}
                    </p>
                    <p
                      data-test-confirmation-all-actions-dcpTotalmembersappointedtotheboard
                    >
                      <strong>Total Members:</strong> {{this.dispositionForAllActionsChangeset.dcpTotalmembersappointedtotheboard}}
                    </p>
                  {{/if}}
                {{else}}
                  {{#each this.dispositionAndChangesetPairs as |dispositionChangesetPair idx|}}
                    <h5 class="large-margin-top">
                      {{dispositionChangesetPair.disposition.action.dcpName}}
                      <small class="dark-gray">
                        ({{dispositionChangesetPair.disposition.action.dcpUlurpnumber}})
                      </small>
                    </h5>
                    <p
                      data-test-confirmation-each-action-recommendation={{idx}}
                    >
                      <strong>Recommendation:</strong> {{recommendation-label-lookup participantType (get dispositionChangesetPair.changeset (rec-field-by-parttype-lookup this.participantType))}}
                    </p>
                    {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
                      <p
                        data-test-confirmation-each-action-votes={{concat "in-favor-" idx}}
                      >
                        <strong>Votes in Favor:</strong> {{dispositionChangesetPair.changeset.dcpVotinginfavorrecommendation}}
                      </p>
                      <p
                        data-test-confirmation-each-action-votes={{concat "against-" idx}}
                      >
                        <strong>Votes Against:</strong> {{dispositionChangesetPair.changeset.dcpVotingagainstrecommendation}}
                      </p>
                      <p
                        data-test-confirmation-each-action-votes={{concat "abstain-" idx}}
                      >
                        <strong>Abstain:</strong> {{dispositionChangesetPair.changeset.dcpVotingabstainingonrecommendation}}
                      </p>
                      <p
                        data-test-confirmation-each-action-votes={{concat "total-members-" idx}}
                      >
                        <strong>Total Members:</strong> {{dispositionChangesetPair.changeset.dcpTotalmembersappointedtotheboard}}
                      </p>
                    {{/if}}
                    <div class="display-block"
                      data-test-confirmation-each-action-dcpConsideration={{idx}}
                    >
                      <strong>Comment:</strong> {{dispositionChangesetPair.changeset.dcpConsideration}}
                    </div>
                  {{/each}}
                {{/if}}
                {{#if (or (eq this.allActions true) (eq this.allActions false))}}
                  {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
                    <p
                      data-test-confirmation-all-actions-dcpVotelocation
                    >
                      <strong>Vote Location:</strong> {{this.dispositionForAllActionsChangeset.dcpVotelocation}}
                    </p>
                    <p
                      data-test-confirmation-all-actions-dcpDateofvote
                    >
                      <strong>Vote Date:</strong> {{moment-format this.dispositionForAllActionsChangeset.dcpDateofvote 'MM/DD/YYYY'}}
                    </p>
                  {{/if}}
                  {{#if (eq this.allActions true)}}
                    <p
                      data-test-confirmation-all-actions-dcpConsideration
                    >
                      <strong>Comment:</strong> {{this.dispositionForAllActionsChangeset.dcpConsideration}}
                    </p>
                  {{/if}}
                  <p><strong>Attached files:</strong></p>
                    {{#if this.assignmentQueue.files}}
                      <ul>
                        {{#each this.assignmentQueue.files as |file|}}
                          <li>
                            <a data-test-confirmation-file-name={{file.name}}>
                              {{file.name}}
                              <small>
                                ({{file.type}})
                              </small>
                            </a>
                          </li>
                        {{/each}}
                      </ul>
                    {{else}}
                      <p
                        data-test-confirmation-no-files
                      >
                        No files attached.
                      </p>
                    {{/if}}
                {{/if}}
                <hr>
                <p class="callout warning text-small">
                  Once your recommendation is submitted, you can not edit it. You'll need to contact NYC Planning to make any changes (ZAP_feedback_DL@planning.nyc.gov or 212-720-3300).
                </p>
                <p>
                  <button
                    class="button"
                    data-test-button="confirmRecommendation"
                    type="button"
                    onClick={{action this.submitRecommendations}}
                    disabled={{isSubmitting}}
                    data-test-submit
                  >
                    Submit Recommendation Information
                  </button>
                  <button
                    class="button clear"
                    data-test-button="closeModal"
                    type="button"
                    onClick={{action this.closeModal}}
                    disabled={{isSubmitting}}
                    data-test-cancel
                  >
                    Cancel <small>(continue editing)</small>
                  </button>
                </p>
                {{#if this.submitError}}
                  <p class="red-muted">Sorry, there was an error submitting your disposition.</p>
                  <p class="red-muted">Please contact City Planning at <a href="mailto:ZAP_feedback_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a> or 212-720-3300.</p>

                  {{#each this.dispositions as |disposition|}}
                    {{#each disposition.adapterError.errors as |error|}}
                      <p class="red-muted">{{disposition.action.dcpName}}</p>
                      {{#each-in error as |key value|}}
                        <p class="red-muted">
                          <span>{{key}}: {{value}}</span>
                        </p>
                      {{/each-in}}
                    {{/each}}
                  {{/each}}
                {{/if}}
              {{/if}} {{!-- end if submitting --}}
            {{/confirmation-modal}}
          {{/ember-wormhole}}
        </div>
      </div>
    </div>
  </div>
  {{outlet}}
{{/if}}
