{{#each this.consolodatedCDs as |boro|}}
  <span class="label light-gray">
    <strong class="dark-gray">{{boro.boroName}}</strong>
    <span class="medium-gray">|</span>
    <span class="dark-gray">
      CD
      {{#each boro.cds as |cd i|}}
        {{~if i ","}}
        {{#if this.cdlink}}
          <a href="{{build-url "CommProfiles" boro.boroName cd}}" target="_blank" rel="noopener noreferrer"><strong>{{cd ~}}</strong></a>
        {{~else~}}
          {{cd~}}
        {{/if~}}
      {{/each}}
    </span>
  </span>
{{/each}}
