<div class="grid-x grid-margin-x">
  <div class="cell medium-shrink">

    <div class="grid-x grid-margin-x">
      <div class="cell medium-shrink">
        <label class="date-time-picker--date {{if (and this.dateMissing this.checkIfMissing) 'is-invalid-label'}}">
          Hearing Date
          <PikadayInput 
            readonly="readonly"
            placeholder="Select a date"
            value={{this.date}}
            format="MM/DD/YYYY"
            data-test-allactions-input="date"
            data-test-date-input={{this.disposition.id}}
            {{on 'selection' (mut this.date)}}
            {{on 'close' this.setHearingDate}}
            class={{if (and this.dateMissing this.checkIfMissing) 'is-invalid-input'}}
            />
          {{#if (and this.dateMissing this.checkIfMissing)}}
            <span class="form-error is-visible" role="alert">Please enter a valid date: MM/DD/YYYY</span>
          {{/if}}
        </label>
      </div>
    </div>

  </div>
  <div class="cell medium-shrink">

    {{#if this.includeTimeInput}}
      <div class="grid-x">
        <div class="cell medium-shrink">
          <label class="date-time-picker--hour {{if (and this.hourMissing this.checkIfMissing) 'is-invalid-label'}}">
            Hour
            <Input 
              class={{if (and this.hourMissing this.checkIfMissing) "is-invalid-input"}}
              type="number"
              min={{1}}
              max={{12}}
              autocomplete="off"
              data-test-allactions-input="hour"
              data-test-hour-input={{this.disposition.id}}
              value={{this.hour}}
              {{on "key-down" (mut this.hour)}}
              {{on "key-up" this.setHearingDate}} />
            {{#if (and this.hourMissing this.checkIfMissing)}}
              <span class="form-error is-visible" role="alert">Enter 1-12</span>
            {{/if}}
          </label>
        </div>

        <div class="cell medium-shrink">
          <label class="date-time-picker--minute {{if (and this.minuteMissing this.checkIfMissing) 'is-invalid-label'}}">
            Minute
            <Input
              class={{if (and this.minuteMissing this.checkIfMissing) 'is-invalid-input'}}
              type="number"
              min={{0}}
              max={{59}}
              maxLength={{2}}
              autoComplete="off"
              data-test-allactions-input="minute"
              data-test-hour-input={{this.disposition.id}}
              value={{this.minute}}
              {{on "key-down" (mut this.minute)}}
              {{on "key-up" this.setHearingDate}} />
            {{#if (and this.minuteMissing this.checkIfMissing)}}
              <span class="form-error is-visible" role="alert">Enter 00-59</span>
            {{/if}}
          </label>
        </div>

        <div class="cell medium-shrink">
          <label class="date-time-picker--am-pm {{if (and this.timeOfDayMissing this.checkIfMissing) 'is-invalid-label'}}" data-test-allactions-dropdown="timeOfDay" data-test-timeofday-dropdown={{this.disposition.id}}>
              AM/PM
            <PowerSelect
              triggerClass="timeofday-dropdown"
              supportsDataTestProperties={{true}}
              tabIndex="-1"
              searchEnabled={{false}}
              selected={{this.timeOfDay}}
              options={{this.timeOfDayOption}}
              {{on 'change' (mut this.timeOfDay)}}
              {{on 'close' this.setHearingDate}}
              as |timeOfDay|>
                {{timeOfDay}}
            </PowerSelect>
            {{#if (and this.timeOfDayMissing this.checkIfMissing)}}
              <span class="form-error is-visible" role="alert">Choose AM or PM</span>
            {{/if}}
          </label>
        </div>
      </div>
    {{/if}}

  </div>
</div>
