{{!--
  Docs for ember-file-upload is here:
  https://adopted-ember-addons.github.io/ember-file-upload/docs
--}}
<fieldset class="medium-margin-bottom">
  <legend>
    <strong>
      Upload supporting documents
    </strong>
  </legend>
  <div class="grid-x grid-margin-x">
    <div class="cell medium-shrink">
      <FileUpload
        id={{concat this.queue.name "FileUpload"}}
        @name={{this.queue.name}}
        @accept='*/*'
        @multiple={{true}}
        @onfileadd={{this.onFileAdd}}
        class="button gray no-margin"
      >
        <FaIcon icon="upload" /> Choose Files
      </FileUpload>
    </div>
    <div class="cell auto">
      <ul class="no-bullet">
        {{#each this.queue.files as |file|}}
          <li data-test-file-name={{file.name}}>
            <a href={{null}} {{action "removeFile" this.queue file}}>
              <FaIcon icon="times" class="red-muted" fixedWidth={{true}} />
            </a>
            {{file.name}}
            <small>
              ({{file.type}})
            </small>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</fieldset>
