<div
  class="filter-header"
  data-test-filter-section={{dasherizedFilterTitle}}
>
  <div class="switch tiny float-left">
    <input class="switch-input" type="checkbox" checked={{if (includes filterNames appliedFilters) 'checked'}}>
    <label {{action mutateWithAction}} class="switch-paddle">

      <span class="show-for-sr">Toggle {{filterTitle}} Filter</span>
    </label>
  </div>
  <h6 class="filter-name" {{action mutateWithAction}}>
    {{filterTitle}}

    {{~#if (has-block 'tooltip')}}
      <sup class="dark-gray">
        <IconTooltip @targetId="ember-tooltip-container">
          {{yield to="tooltip"}}
        </IconTooltip>
      </sup>
    {{/if}}
  </h6>
</div>

<div class="filter-controls"
 data-test-filter-control={{dasherizedFilterTitle}}>
  {{yield to="default"}}
</div>
