<label class="{{if (and this.locationMissing this.checkIfMissing) 'is-invalid-label'}}">
  Hearing Location
    <Input
      class={{(if (and this.locationMissing this.checkIfMissing) 'is-invalid-input')}}
      type="text"
      maxLength={{200}}
      placeholder="Add a location"
      autocomplete="off"
      data-test-allactions-input="location"
      data-test-location-input={{this.disposition.id}}
      value={{this.location}}
      {{on 'key-down' (mut this.location)}}
      {{on 'key-up' this.setLocation}} />
  {{#if (and this.locationMissing this.checkIfMissing)}}
    <span class="form-error is-visible" role="alert">Please enter a valid location for your hearing</span>
  {{/if}}
</label>
