<div class="modal-controls">

  <button {{action 'handleShareOpen'}} class="modal-button button small gray">{{fa-icon icon='share-alt'}} Share Project</button>
  <button {{action 'handleFlagOpen'}} class="modal-button button small gray">{{fa-icon icon='flag'}} Report Data Issue</button>

  {{#unless (and shareClosed flagClosed)}}
    <div class="modal-controls-content">
      <button {{action 'handleModalClose'}} class="close-button" aria-label="Close alert" type="button"><span aria-hidden="true">&times;</span></button>

      {{#unless shareClosed}}
        <h3 class="header header-small">Share Project {{model.dcp_name}}:</h3>
        <div class="input-group">
          <input id="share-url" class="input-group-field" type="text" value="{{shareURL}}">
          <div class="input-group-button">
            {{#copy-button
              clipboardTarget="#share-url"
              success=(action 'handleShareSuccess')
              error=(action 'handleModalClose')
              class="button"
            }}
              {{fa-icon icon='paste'}} Copy Link
            {{/copy-button}}
          </div>
        </div>
        {{#if copySuccess}}
        <div class="share-controls-copy-success">
          <div class="share-controls-copy-success-message">{{fa-icon icon='check'}} Copied</div>
        </div>
        {{/if}}
      {{/unless}}

      {{#unless flagClosed}}
        <h3 class="header header-medium">Report Data Issue {{model.dcp_name}}</h3>
        <div class="callout secondary" style="padding:0.5rem;">
          <p style="margin-bottom:0.5em;">{{fa-icon icon='exclamation-triangle' class="gold"}} <strong>This form is for reporting data problems only.</strong> Do not post <a href="https://a002-irm.nyc.gov/EventRegistration/RegForm.aspx?eventGuid=fa206f3d-6400-4a95-8b39-87b1bfa975ef" target="_blank">City Planning Commission Public Hearing Comments</a>. For general feedback about this application, email <a href="mailto:ZAP_Feedback_DL@planning.nyc.gov">ZAP_Feedback_DL@planning.nyc.gov</a>.</p>
        </div>

        <ul class="">
          <li><a href="https://github.com/NYCPlanning/zap-data-feedback/issues/new" target="_blank">Add an issue on GitHub</a></li>
          <li><a href="https://github.com/NYCPlanning/zap-data-feedback/issues" target="_blank">View all issues</a></li>
          <li>Add an issue with the following form <em>(creates an issue on GitHub that anyone can see)</em>:</li>
        </ul>

        <form {{action "submitFlag" on="submit"}}>
          <label>Describe the data problem
            {{textarea rows="4" value=flagText disabled=flagSuccess placeholder="This project's data is incorrect because..."}}
          </label>

          {{g-recaptcha onSuccess=(action "onCaptchaResolved") tagName='p'}}

          <button type="submit" class="button" disabled={{xor flagSuccess (or (lt flagText.length 10) (eq reCaptchaResponse null))}} >Submit</button>

          {{#if flagSuccess}}
            <span class="flag-success">
              <strong><span>{{fa-icon icon="check" size="3x"}}</span> <span class="text">Thanks for the feedback!</span></strong>
            </span>
          {{/if}}
        </form>
      {{/unless}}

    </div>
  {{/unless}}

</div>
