<div class="modal-controls">

  <button {{on 'click' this.handleShareOpen}} class="modal-button button small gray" type="button"><FaIcon @icon="share-alt" /> Share Project</button>

  {{#unless this.shareClosed}}
    <div class="modal-controls-content">
      <button {{on 'click' this.handleModalClose}} class="close-button" aria-label="Close alert" type="button"><span aria-hidden="true">&times;</span></button>

      <h3 class="header header-small">Share Project {{this.model.dcp_name}}:</h3>
      <div class="input-group">
        <input id="share-url" class="input-group-field" type="text" value="{{this.shareURL}}">
        <div class="input-group-button">
          <CopyButton
            @clipboardTarget="#share-url"
            @success={{this.handleShareSuccess}}
            @error={{this.handleModalClose}}
            @class="button">
            <FaIcon @icon="paste" /> Copy Link
          </CopyButton>
        </div>
      </div>
      {{#if this.copySuccess}}
        <div class="share-controls-copy-success">
          <div class="share-controls-copy-success-message"><FaIcon @icon="check" /> Copied</div>
        </div>
      {{/if}}
    </div>
  {{/unless}}
</div>
