<div class="cell shrink">
  {{#if (eq milestone.statuscode "Completed")}}
    <span class="milestone-icon fa-layers fa-fw">
      {{fa-icon icon='circle' fixedWidth=true class='dark-gray'}}
      {{fa-icon icon='check' fixedWidth=true class='blue-light' transform='shrink-6'}}
    </span>
  {{else if (eq milestone.statuscode "In Progress")}}
    <span class="milestone-icon fa-layers fa-fw">
      {{fa-icon icon='circle' fixedWidth=true class='green-dark'}}
      {{fa-icon icon='calendar' prefix='far' fixedWidth=true class='white-smoke' transform='shrink-8'}}
    </span>
  {{else}}{{!-- milestone.statuscode "Not Started" --}}
    <span class="milestone-icon fa-layers fa-fw">
      {{fa-icon icon='circle' fixedWidth=true class='light-gray'}}
      {{fa-icon icon='calendar' prefix='far' fixedWidth=true class='off-white' transform='shrink-8'}}
    </span>
  {{/if}}
</div>

<div class="cell auto {{if (eq milestone.statuscode "Not Started") 'gray'}}">
  <h4 class="no-margin">
    <span data-test-milestone-name="{{milestone.id}}">
      {{milestone.orderSensitiveName}}
    </span>

    {{#if milestone.displayDescription}}
      <sup class="gray">
        {{icon-tooltip tip=milestone.displayDescription}}
      </sup>
    {{/if}}
  </h4>

  {{!-- IN PROGRESS OR COMPLETED --}}
  {{#if (and
    (in-array (array "In Progress" "Completed") milestone.statuscode)
    milestone.displayDate
  )}}
    <p class="milestone-dates" data-test-milestone-dates="{{milestone.id}}">
      {{#if (and milestone.displayDate2 (is-same milestone.displayDate milestone.displayDate2 precision="year"))}}
        <DateDisplay
          @date={{milestone.displayDate}}
          @outputFormat="MMMM D"
        />
      {{else}}
        <DateDisplay
          @date={{milestone.displayDate}}
          @outputFormat="MMMM D, YYYY"
        />
      {{/if}}

      {{#if milestone.displayDate2}}
        &ndash;
        <DateDisplay
          @date={{milestone.displayDate2}}
          @outputFormat="MMMM D, YYYY"
        />
      {{/if}}
    </p>

    {{#if milestone.outcome}}
      <span class="label dark-gray" style="font-size: 0.7rem;">{{milestone.outcome}}</span>
    {{/if}}

    <ul class="milestone-links">
      {{#if (eq milestone.dcpMilestone "9e3beec4-dad0-e711-8116-1458d04e2fb8")}}
        <li><a href="https://www1.nyc.gov/site/planning/about/commission-meetings.page" target="_blank">{{fa-icon "external-link-alt"}} CPC Public Meeting Calendar</a></li>
      {{/if}}
      {{#each milestone.milestoneLinks as |link|}}
        <li><a href="{{link.url}}" target="_blank">{{link.filename}}</a></li>
      {{/each}}
    </ul>

    {{#hearings-list-for-milestones-list milestone=milestone as |milestoneParticipants|}}
      {{#each milestoneParticipants as |milestoneParticipant|}}
        {{#if (or milestoneParticipant.hearingsSubmitted milestoneParticipant.votesSubmitted)}}
          <hr>
          <h5 class="small-margin-bottom" data-test-lup-full-name="{{milestoneParticipant.landUseParticipantFullName}}">
            {{milestoneParticipant.landUseParticipantFullName}}
          </h5>
        {{/if}}

        {{!-- HEARINGS SUB-MILESTONES --}}
        {{#if milestoneParticipant.hearingsSubmitted}}
          {{#deduped-hearings-list dispositions=milestoneParticipant.userDispositions as |dedupedHearings|}}
            {{#each dedupedHearings as |hearing|}}
              {{#if hearing.dispHasAllFields}}
                <ul class="sub-milestones no-bullet">
                  <li class="grid-x small-margin-bottom">
                    <div class="cell shrink small-margin-right">
                      {{#if (is-before hearing.disposition.dcpDateofpublichearing)}}
                        {{fa-icon icon='calendar' fixedWidth=true class='light-gray'}}
                      {{else}}
                        {{fa-icon icon='check' fixedWidth=true class='blue-muted'}}
                      {{/if}}
                    </div>
                    <div class="cell auto">
                      {{milestones/public-hearing hearing=hearing}}
                    </div>
                  </li>
                </ul>
              {{/if}}
            {{/each}}
          {{/deduped-hearings-list}}
        {{/if}}

        {{!-- VOTES SUB-MILESTONES --}}
        {{#if milestoneParticipant.votesSubmitted}}
          <ul class="sub-milestones no-bullet">
            {{#deduped-votes-list dispositions=milestoneParticipant.userDispositions participantRecommendationType=milestoneParticipant.participantRecommendationType as |dedupedVotes|}}
              {{#each dedupedVotes as |vote|}}
                {{#if vote.dispHasRequiredField}}
                  <li class="grid-x small-margin-bottom">
                    <div class="cell shrink small-margin-right">
                      <span data-test-rec-symbol="{{vote.disposition.id}}">
                        <RecommendationResultIcon
                          @recommendation={{vote.disposition.recommendationLabel}}
                        />
                      </span>
                    </div>
                    <div class="cell auto">
                      <strong data-test-rec-label="{{vote.disposition.id}}">{{vote.disposition.recommendationLabel}}</strong>
                      <small>
                        <span class="display-inline-block" data-test-voting-favor="{{vote.disposition.id}}">
                          {{vote.disposition.dcpVotinginfavorrecommendation}} In Favor,
                        </span>
                        <span class="display-inline-block" data-test-voting-against="{{vote.disposition.id}}">
                          {{vote.disposition.dcpVotingagainstrecommendation}} Against,
                        </span>
                        <span class="display-inline-block" data-test-voting-abstain="{{vote.disposition.id}}">
                          {{vote.disposition.dcpVotingabstainingonrecommendation}} Abstain
                        </span>
                      </small>
                      <small class="display-inline-block" data-test-vote-date="{{vote.disposition.id}}">
                        Vote:&nbsp;{{~moment-format vote.disposition.dcpDateofvote "LL"~}}
                      </small>
                      <div class="text-tiny">
                        {{#each vote.voteActions as |action index|}}
                          {{#if action.dcpName}}
                            <span class="label light-gray tiny-margin-bottom tiny-margin-right" data-test-vote-actions-list="{{vote.disposition.id}}{{index}}">
                              {{action.dcpName}}
                              <small>{{action.dcpUlurpnumber}}</small>
                            </span>
                          {{/if}}
                        {{/each}}
                      </div>
                    </div>
                  </li>
                {{/if}}
              {{/each}}
            {{/deduped-votes-list}}
            {{#borough-pres-deduped-votes-list dispositions=milestoneParticipant.userDispositions as |dedupedVotes|}}
              {{#each dedupedVotes as |vote|}}
                {{#if vote.dispHasRequiredField}}
                  <li class="grid-x small-margin-bottom">
                    <div class="cell shrink small-margin-right">
                      <span data-test-rec-symbol="{{vote.disposition.id}}">
                        <RecommendationResultIcon
                          @recommendation={{vote.disposition.recommendationLabel}}
                        />
                      </span>
                    </div>
                    <div class="cell auto">
                      <strong data-test-rec-label="{{vote.disposition.id}}">{{vote.disposition.recommendationLabel}}</strong>
                      <small class="display-inline-block" data-test-vote-date="{{vote.disposition.id}}">
                        Vote:&nbsp;{{~moment-format vote.disposition.dcpDatereceived "LL"~}}
                      </small>
                      <div class="text-tiny">
                        {{#each vote.voteActions as |action index|}}
                          {{#if action.dcpName}}
                            <span class="label light-gray tiny-margin-bottom tiny-margin-right" data-test-vote-actions-list="{{vote.disposition.id}}{{index}}">
                              {{action.dcpName}}
                              <small>{{action.dcpUlurpnumber}}</small>
                            </span>
                          {{/if}}
                        {{/each}}
                      </div>
                    </div>
                  </li>
                {{/if}}
              {{/each}}
            {{/borough-pres-deduped-votes-list}}
          </ul>
        {{/if}}
      {{/each}}
    {{/hearings-list-for-milestones-list}}

    {{#if (and
      milestone.isCPCPublicMeetingPublicHearing
      (is-same-or-after milestone.dcpReviewmeetingdate)
    )}}
      <ul class="sub-milestones no-bullet">
        <li class="grid-x small-margin-bottom">
          <div class="cell shrink small-margin-right">
            {{!-- This is always "calendar" icon, because for this milestone, it should always have happened in the past --}}
            {{fa-icon icon='calendar' fixedWidth=true class='light-gray'}}
          </div>
          <div class="cell auto">
            {{milestones/public-hearing
              hearing=(hash
                disposition=(hash
                  dcpDateofpublichearing=milestone.dcpReviewmeetingdate
                )
                hearingActions=milestone.project.actions
              )
            }}
          </div>
        </li>
      </ul>
    {{/if}}
  {{/if}}
</div>

{{yield}}
