{{#mapbox-gl
  id='project-map'
  initOptions=(hash
    zoom=12
    center=(array -73.96532400540775 40.709710016659386)
    maxzoom=9
  )
  mapLoaded=(action 'handleMapLoad')
  as |map|
}}
  {{map.on 'click' (action 'handleMapClick')}}
  {{map.on 'mousemove' (action 'handleMouseMove')}}

  {{#if highlightedFeature}}
    <div class='map-tooltip' style="top:{{tooltipPoint.y}}px;left:{{tooltipPoint.x}}px;">
      {{highlightedFeature.properties.dcp_projectname}} (<DateDisplay @date={{highlightedFeature.properties.dcpLastmilestonedate}} @outputFormat="MMMM, YYYY" />)
    </div>
  {{/if}}

  {{#if tilesLoading}}
    {{fa-icon icon='spinner' spin="true" size="5x" class="map-loading-spinner"}}
  {{/if}}

  {{yield (merge
    map
    (hash
      dynamic-tiles=(component 'mapbox-gl-dynamic-tiles'
        map=map
        mapInstance=mapInstance
      )
    )
  )}}
{{/mapbox-gl}}
