{{!-- Four States: --}}
{{!-- Is Loading --}}
{{!-- One Result --}}
{{!-- More than One but less than 5000 --}}
{{!-- 5000 or more results --}}
<h3 class="results-header clearfix">
  <span class="float-left results-header-title">
    {{#if this.hasAllowedResults}}
      {{numeral-format this.totalResults '0,0'}}
      {{pluralize this.totalResults 'project' 'projects'}}
      {{pluralize this.totalResults 'matches' 'match'}} your filters
    {{/if}}

    {{#if this.exceedsAllowedResults}}
      {{fa-icon 'exclamation-triangle' class='gold'}}
      Over 5,000
      projects
      match your filters
    {{/if}}
  </span>

  <span class="float-right results-header-meta">
    {{#if this.fetchData.isRunning}}
      {{fa-icon 'spinner' class="fa-spin light-gray"}}
    {{else}}
      listing 1-{{numeral-format this.cachedProjects.length '0,0'}}
      &nbsp;<span class="light-gray">|</span>&nbsp;

      {{#if this.hasAllowedResults}}
        <span class="download-container">
          <a>{{fa-icon 'download'}} Download</a>
          <span class="download-links">
            <p>Download all projects that match your filters</p>
            <a href={{this.downloadURLs.csv}} class="button expanded">{{fa-icon 'file'}} <small>CSV</small></a>
          </span>
        </span>
      {{/if}}

      {{#if this.exceedsAllowedResults}}
        <span class="download-container">
          <a class='light-gray'>{{fa-icon 'download'}} Download</a>
          <span class="download-links">
            <p>Download all projects that match your filters</p>
            <a href='#' class="button disabled expanded">{{fa-icon 'file'}} <small>CSV</small></a>
          </span>
        </span>
      {{/if}}
    {{/if}}
  </span>
</h3>

{{yield (hash exceedsAllowedResults=this.exceedsAllowedResults)}}
