<li class="grid-x"
  data-test-milestone-list-item
>
  <div class="cell shrink small-margin-right">
    {{#if (eq this.milestone.statuscode "Completed")}}
      <span data-test={{if (string-includes this.milestone.displayName "Review") "reviewed-indicator"}}>
        <FaIcon @icon="check" @class="blue" @fixedWidth={{true}} />
      </span>
    {{else if (eq this.milestone.statuscode "In Progress")}}
      <FaIcon @icon="hourglass-half" @class="blue" @fixedWidth={{true}} />
    {{else if (eq this.milestone.statuscode "Overridden")}}
      <FaIcon @icon="times" @class="red-muted" @fixedWidth={{true}} />
    {{else}}
      <FaIcon @icon="calendar" @class="light-gray" @fixedWidth={{true}} />
    {{/if}}
  </div>
  <div class="cell auto {{if (eq this.milestone.statuscode "Not Started") 'gray'}}">
    <p class="small-margin-bottom">
      <strong>
        {{this.milestone.displayName}}
      </strong>
      {{#if (eq this.milestone.dcpMilestone this.communityBoardReferralMilestone)}}
        {{#each this.communityBoardDispositions as |disposition|}}
          <RecommendationResultIcon
            @recommendation={{this.disposition.dcpCommunityboardrecommendation}}
            @action={{this.disposition.action}}
          />
        {{/each}}
      {{else if (eq this.milestone.dcpMilestone this.boroughBoardReferralMilestone)}}
        {{#each this.boroughBoardDispositions as |disposition|}}
          <RecommendationResultIcon
            @recommendation={{this.disposition.dcpBoroughboardrecommendation}}
            @action={{this.disposition.action}}
          />
        {{/each}}
      {{else if (eq this.milestone.dcpMilestone this.boroughPresidentReferralMilestone)}}
        {{#each this.boroughPresidentDispositions as |disposition|}}
          <RecommendationResultIcon
            @recommendation={{this.disposition.dcpBoroughpresidentrecommendation}}
            @action={{this.disposition.action}}
          />
        {{/each}}
      {{/if}}
      {{#if this.milestone.dcpActualenddate}}
        <br>
        <small class="display-block" data-test-actual-end-date="{{this.milestone.id}}">
          <DateDisplay @date={{this.milestone.dcpActualenddate}} />
        </small>
      {{/if}}
    </p>
  </div>
</li>
