{{!--
  If auth'd, show "My Project" and auth info,
  otherwise show the "Sign In" button.
  --}}

{{#if this.session.isAuthenticated}}
  <li><LinkTo @route="my-projects"><span data-test-my-projects-button>My Projects</span></LinkTo></li>
  <li class="auth--container">
    <FaIcon @icon="user-circle" @size="2x" @class="auth--icon" />
    <div>
      <span data-test-auth-name class="auth--name">
        {{this.currentUser.user.emailaddress1}}
      </span>
      <a
        data-test-auth-logout-button
        class="auth--logout-button"
        {{on 'click' this.logout}}
      >
        Sign Out
      </a>
    </div>
  </li>
{{else}}
  <li>
    <a
      data-test-auth-login-button
      class="auth--login-button"
      {{on 'click' this.toggleAuthModal}}
      >
      <FaIcon @icon="user-circle" @class="light-gray" />
      Sign In
    </a>
  </li>
{{/if}}

<EmberWormhole @to="reveal-modal-container">
  <ConfirmationModal @open={{this.showAuthModal}}>
    {{auth/login-dialog}}
  </ConfirmationModal>
</EmberWormhole>
