{{#if (and (has-block) this.open)}}

  <div class="site-message {{if this.warning 'warning'}}">

    {{#if this.warning}}
      <div class="grid-x grid-margin-x">
        <div class="cell text-center medium-text-left medium-shrink">
          <FaIcon @icon="exclamation-triangle" @size="2x" @class="yellow-dark" />
        </div>
        <div class="cell auto">
          {{yield}}
        </div>
      </div>
    {{else}}
      {{yield}}
    {{/if}}

    {{#if this.dismissible}}
      <button
        class="close-button"
        aria-label="Dismiss message"
        type="button" data-close
        {{on 'click' this.handleSiteMessageToggle}}
      >
        <span aria-hidden="true">&times;</span>
      </button>
    {{/if}}

  </div>

{{/if}}
