<form {{on "submit" this.handleSubmit}}>
    <div class="subscribe-section">
        <div class="subscribe-input-group">
        <label class="email-label">Email Address</label>
        <Input class="input-group-field" type="text" />
        </div>
    </div>

    {{this.subscriptions}}
    <div class="subscribe-section">
        <div class="update-type-section">
        Which would you like to receive updates for?
        <ul>
            <li>
                <div class="update-type-item">
                    <Input @id="city-wide-checkbox" @type="checkbox" @checked={{isCityWide}} onclick={{toggleUpdateType}} />
                    <div class="update-type-label">
                        <label for="city-wide-checkbox">Citywide Updates</label>
                        <span class="text-small">You'll receive an email for all citywide projects, which are projects that aren’t
                            associated with any CD.</span>
                    </div>
                </div>
            </li>
            <li>
                <div class="update-type-item">
                    <Input @id="community-district-checkbox" @type="checkbox" @checked={{isCommunityDistrict}}
                        onclick={{toggleUpdateType}} />
                    <div class="update-type-label">
                        <label for="community-district-checkbox">Community District (CD) Updates</label>
                        <span class="text-small">You'll receive an email for projects from all CDs you have selected.</span>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>

   <div class="subscribe-section">
    <div class="district-slection">
    <div class={{if this.isCommunityDistrict "" "disabled" }}>
        <h5>If you chose CD Updates, please select which community districts you would like to receive updates
            for:</h5>
        <p>You can find the Community District to any New York City address <a
                href="https://zola.planning.nyc.gov/">here</a>.</p>
        {{#initialize_foundation}}
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            <li class="accordion-item accordionmenu-item-background" data-accordion-item>
                <a href="#" class="accordion-title">Brooklyn</a>

                <div class="accordion-content" data-tab-content>
                    <Input id="all-brooklyn" type="checkbox" onchange={{action "checkWholeBorough" }} /><label
                        for="all-brooklyn">Select all</label>
                    {{#each (lookup-community-district) as |cd|}}
                    {{#if (string-includes cd.boro 'Brooklyn')}}
                    <div class="hi">
                    <Input id={{cd.code}} type="checkbox" checked={{allBrooklyn}} /><label
                        for={{cd.code}}>{{cd.searchField}}</label>
                        </div>
                    {{/if}}
                    {{/each}}
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title">Bronx</a>
                <div class="accordion-content" data-tab-content>
                    <Input id="all-bronx" type="checkbox" onchange={{action "checkWholeBorough" }} /><label
                        for="all-bronx">Select all</label>
                    {{#each (lookup-community-district) as |cd|}}
                    {{#if (string-includes cd.boro 'Bronx')}}
                    <div class="hi">
                    <Input id={{cd.searchField}} type="checkbox" checked={{allBronx}} /><label
                        for={{cd.searchField}}>{{cd.searchField}}</label>
                        </div>
                    {{/if}}
                    {{/each}}
                </div>
            </li>
            <li class="accordion-item accordionmenu-item-background" data-accordion-item>
                <a href="#" class="accordion-title">Manhattan</a>
                <div class="accordion-content" data-tab-content>
                    <Input id="all-manhattan" type="checkbox" onchange={{action "checkWholeBorough" }} /><label
                        for="all-manhattan">Select all</label>
                    {{#each (lookup-community-district) as |cd|}}
                    {{#if (string-includes cd.boro 'Manhattan')}}
                    <div>
                    <Input id={{cd.searchField}} type="checkbox" checked={{allManhattan}} /><label
                        for={{cd.searchField}}>{{cd.searchField}}</label>
                        </div>
                    {{/if}}
                    {{/each}}
                </div>
            </li>
            <li class="accordion-item accordionmenu-item-background" data-accordion-item>
                <a href="#" class="accordion-title">Queens</a>
                <div class="accordion-content" data-tab-content>
                    <Input id="all-queens" type="checkbox" onchange={{action "checkWholeBorough" }} /><label
                        for="all-queens">Select all</label>
                    {{#each (lookup-community-district) as |cd|}}
                    {{#if (string-includes cd.boro 'Queens')}}
                    <div>
                    <Input id={{cd.searchField}} type="checkbox" checked={{allQueens}} /><label
                        for={{cd.searchField}}>{{cd.searchField}}</label>
                        </div>
                    {{/if}}
                    {{/each}}
                </div>
            </li>
            <li class="accordion-item accordionmenu-item-background" data-accordion-item>
                <a href="#" class="accordion-title">Staten Island</a>
                <div class="accordion-content" data-tab-content>
                    <Input id="all-staten-island" type="checkbox" onchange={{action "checkWholeBorough" }} /><label
                        for="all-staten-island">Select all</label>
                    {{#each (lookup-community-district) as |cd|}}
                    {{#if (string-includes cd.boro 'Staten Island')}}
                    <div>
                    <Input id={{cd.searchField}} type="checkbox" checked={{allStatenIsland}} /><label
                        for={{cd.searchField}}>{{cd.searchField}}</label>
                        </div>
                    {{/if}}
                    {{/each}}
                </div>
            </li>
        </ul>
         {{/initialize_foundation}}
    </div>
    </div>
    </div>
    <div class="subscribe-section">
    <a class="button primary no-margin disabled" type="submit" href="">Subscribe</a>
    {{!-- <input type="submit" value="Subscribe"> --}}
    </div>
</form>