<h5>Archive of projects that you have reviewed which are no longer in the public review process</h5>

<div class="project-summary-card callout grid-x">
  <div class="cell large-6 project-summary-card--description">
    <h3 class="tiny-margin-bottom">
      <a>101 Fleet Place Rezoning</a>
      <small class="dark-gray">ULURP</small>
    </h3>
    <h5 class="applicant">Fleet Center, Inc.</h5>
    <p>This is a private application by Fleet Center, Inc. for a zoning map amendment from R6 to C6-4 and zoning text amendment to expand the Special Downtown Brooklyn district and create a new MIH area to facilitate a new 205,000 square foot commercial office building at 101 Fleet Place in the Downtown Brooklyn area of Brooklyn Community District 2.</p>
  </div>
  <div class="cell medium-4 large-shrink project-summary-card--timer">
    <p class="text-center">
      <span class="display-block tiny-margin-bottom">Completed</span>
      <span class="display-block lead small-margin-bottom"><strong>Approved</strong></span>
      <span class="display-block">June 12, 2018</span>
    </p>
  </div>
  <div class="cell medium-auto project-summary-card--milestones">
    <ul class="no-bullet no-margin">
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'thumbs-down' class='red-muted' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom">
            <strong>Community Board</strong> Disapproved with changes
          </p>
        </div>
      </li>
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'comment-slash' class='gray' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom">
            <strong>Borough President</strong> Waived Recommendation
          </p>
        </div>
      </li>
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'thumbs-up' class='green-dark' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom">
            <strong>City Planning Commission</strong> Approved with changes 
          </p>
        </div>
      </li>
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'thumbs-up' class='green-dark' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom">
            <strong>City Council</strong> Approved
          </p>
        </div>
      </li>
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'thumbs-up' class='green-dark' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom">
            <strong>Mayor</strong> No Veto
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

{{outlet}}
