<h5>Projects that you have reviewed which are still in the public review process</h5>

<div class="project-summary-card callout grid-x">
  <div class="cell large-6 project-summary-card--description">
    <h3 class="tiny-margin-bottom">
      <a>101 Fleet Place Rezoning</a>
      <small class="dark-gray">ULURP</small>
    </h3>
    <h5 class="applicant">Fleet Center, Inc.</h5>
    <p>This is a private application by Fleet Center, Inc. for a zoning map amendment from R6 to C6-4 and zoning text amendment to expand the Special Downtown Brooklyn district and create a new MIH area to facilitate a new 205,000 square foot commercial office building at 101 Fleet Place in the Downtown Brooklyn area of Brooklyn Community District 2.</p>
  </div>
  <div class="cell medium-auto project-summary-card--milestones">
    <ul class="no-bullet no-margin">
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'check' class='green-dark' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom">
            <strong>Land Use Application Filed</strong>
            <small class="display-block">March 21, 2018</small>
          </p>
        </div>
      </li>
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'check' class='green-dark' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom">
            <strong>Revised Land Use Application Filed</strong>
            <small class="display-block">May 1, 2018</small>
          </p>
        </div>
      </li>
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'check' class='green-dark' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom">
            <strong>Application Reviewed at City Planning Commission Review Session</strong>
            <small class="display-block">June 11, 2018</small>
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="cell medium-auto project-summary-card--milestones">
    <ul class="no-bullet no-margin">
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'check' class='green-dark' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom">
            <strong>Community Board Review</strong>
            <small class="display-block">August 11, 2018</small>
          </p>
        </div>
      </li>
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'check' class='green-dark' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom">
            <strong>Borough President Review</strong>
            <small class="display-block">September 11, 2018</small>
          </p>
        </div>
      </li>
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'calendar' class='light-gray' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom gray">
            <strong>City Planning Commission Review</strong>
            <small class="display-block">Estimated October 11, 2018</small>
          </p>
        </div>
      </li>
      <li class="grid-x">
        <div class="cell shrink small-margin-right">
          {{fa-icon 'calendar' class='light-gray' fixedWidth=true}}
        </div>
        <div class="cell auto">
          <p class="small-margin-bottom gray">
            <strong>City Council Review</strong>
            <small class="display-block">Estimated November 11, 2018</small>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>

{{outlet}}
