<h5>Recently filed projects that you'll soon need to review</h5>

{{#each this.model as |project|}}
  <div
    class="project-summary-card callout"
    data-test-project-card
  >
    <div class="grid-x grid-x-small-gutters">
      <div class="cell large-5">
        <h3 class="tiny-margin-bottom">
          {{#link-to 'show-project' project.id}}{{project.dcpProjectname}}{{/link-to}}
          <small class="dark-gray">{{project.dcpUlurpNonulurp}}</small>
        </h3>
        <h5 class="applicant">{{project.applicants}}</h5>
        <p>{{project.dcpProjectbrief}}</p>
      </div>
      <div class="cell medium-4 large-shrink">
        <p class="text-center medium-margin-right medium-margin-left">
          {{#if (eq project.upcomingMilestonePlannedStartDate)}}
            <span class="display-block tiny-margin-bottom">
              Borough President<br>
              Review Begins
            </span>
            <span class="display-block lead small-margin-bottom">
              <strong>
                {{moment-format project.upcomingMilestonePlannedStartDate "M/D/YYYY"}}
              </strong>
            </span>
          {{else}}
            <span class="display-block tiny-margin-bottom">
              Public Review Begins
            </span>
            <span class="display-block lead small-margin-bottom">
              <strong>
                {{moment-format project.publicReviewPlannedStartDate "M/D/YYYY"}}
              </strong>
            </span>
          {{/if}}
          <span class="display-block text-tiny">(Estimated Start Date)</span>
        </p>
      </div>
      <div class="cell medium-auto">
        <ul class="no-bullet no-margin">
          {{#each project.milestones as |milestone|}}
            <li class="grid-x small-margin-bottom">
              <div class="cell shrink small-margin-right">
                {{#if (eq milestone.statuscode "Completed")}}
                  {{fa-icon 'check' class='blue' fixedWidth=true}}
                {{else if (eq milestone.statuscode "Overridden")}}
                  {{fa-icon 'stop' class='red-dark' fixedWidth=true}}
                {{else if (eq milestone.statuscode "Not Started")}}
                  <span data-test={{if (string-includes milestone.milestonename "Referral") "upcoming-indicator"}}>
                    {{fa-icon 'calendar' class='light-gray' fixedWidth=true}}
                  </span>
                {{/if}}
              </div>
              <div class="cell auto">
                <strong>{{milestone.milestonename}}</strong>
                <small class="display-inline-block">{{milestone.displayDate}}</small>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
{{/each}}

{{outlet}}
