{{#if this.showSandboxWarningOn}}
  {{advisory-message-bar message="Sandbox for Testing Purposes"}}
{{/if}}

{{#labs-ui/site-header
  responsiveNav=true
  responsiveSize='large'
  betaNotice=false
  as |banner|
}}
  {{#banner.pre}}
    <ul class="pre-nav">
      <li>{{link-to 'Disclaimer' 'disclaimer'}}</li>
      <li>
        {{#tool-tipster
          content='
              <p>Please report data errors by using the “Report Data Issue” form on each particular project’s page.</p>
              <p class="no-margin">For general feedback about this application, email <strong><a href="mailto:ZAP_Feedback_DL@planning.nyc.gov">ZAP_Feedback_DL@planning.nyc.gov</a></strong>.</p>
            '
          interactive=true
          contentAsHTML=true
          triggerEvent='click'
          tagName='a'
          side='bottom'
        }}
          {{fa-icon icon='envelope'}} Feedback
        {{/tool-tipster}}
      </li>
    </ul>
  {{/banner.pre}}
  {{#banner.title}}
    {{#link-to 'show-geography' classNames='site-title'}}Zoning Application Portal{{/link-to}}
  {{/banner.title}}
  {{#banner.nav}}
    <ul class="menu vertical large-horizontal">
      <li>{{link-to 'Find Projects' 'show-geography'}}</li>
      {{#if (eq this.ENV.showAlerts true)}}
        <li>{{link-to 'Email Notifications' 'subscribe'}}</li>
      {{/if}}
      {{#if this.ENV.LUPP_ENABLED}}
        {{sign-in}}
      {{/if}}
    </ul>
  {{/banner.nav}}
{{/labs-ui/site-header}}

<div class="site-main grid-x grid-padding-x route-{{currentRouteName}}">
  {{#if
    (and
      (user-agent "browser.isIE")
      (lte (user-agent "browser.info.major") 10)
    )
  }}
    <div class="cell large-6 large-offset-3 text-center" style="padding:2rem 0;">
      {{fa-icon icon='exclamation-triangle' size='2x' class='yellow-muted'}}
      <p>It looks like you're using Internet Explorer.  This site works best in a modern browser. Please try a current version of Edge, Chrome, or Firefox.</p>
    </div>
  {{else}}
    {{outlet}}
  {{/if}}
</div>


<div id="info-modal-container">
</div>
<div id="reveal-modal-container">
</div>
{{#ember-wormhole to="info-modal-container"}}
  {{info-modal}}
{{/ember-wormhole}}


{{#if (string-includes currentRouteName "my-projects")}}
  <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script><script type="text/javascript">window.Beacon('init', '9a027170-0976-46ac-afba-8d1322ef19d6')</script>
{{else}}
  <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script><script type="text/javascript">window.Beacon('init', '5782616e-c1ec-4db4-8365-1c83eb3e66a3')</script>
{{/if}}
