{{#labs-ui/site-header
  responsiveNav=true
  responsiveSize='large'
  betaNotice=false
  as |banner|
}}
  {{#banner.pre}}
    <ul class="pre-nav">
      <li>{{link-to 'Disclaimer' 'disclaimer'}}</li>
      <li>
        {{#tool-tipster
          content='
              <p>Please report data errors by using the “Report Data Issue” form on each particular project’s page.</p>
              <p class="no-margin">For general feedback about this application, email <strong><a href="mailto:ZAP_Feedback_DL@planning.nyc.gov">ZAP_Feedback_DL@planning.nyc.gov</a></strong>.</p>
            '
          interactive=true
          contentAsHTML=true
          triggerEvent='click'
          tagName='a'
          side='bottom'
        }}
          {{fa-icon 'envelope'}} Feedback
        {{/tool-tipster}}
      </li>
    </ul>
  {{/banner.pre}}
  {{#banner.title}}
    {{#link-to 'show-geography' classNames='site-title'}}Zoning Application Portal{{/link-to}}
  {{/banner.title}}
  {{#banner.nav}}
    <ul class="menu vertical large-horizontal">
      <li>{{link-to 'Find Projects' 'show-geography'}}</li>
      {{#if this.ENV.LUPP_ENABLED}}
        {{sign-in}}
      {{/if}}
    </ul>
  {{/banner.nav}}
{{/labs-ui/site-header}}

<div class="site-main grid-x grid-padding-x route-{{currentRouteName}}">
  {{#if
    (and
      (user-agent "browser.isIE")
      (lte (user-agent "browser.info.major") 10)
    )
  }}
    <div class="cell large-6 large-offset-3 text-center" style="padding:2rem 0;">
      {{fa-icon 'exclamation-triangle' size='2x' class='yellow-muted'}}
      <p>It looks like you're using Internet Explorer.  This site works best in a modern browser. Please try a current version of Edge, Chrome, or Firefox.</p>
    </div>
  {{else}}
    {{outlet}}
  {{/if}}
</div>

<div id="reveal-modal-container">
</div>

{{!--
  Display a site-wide nothification with the site-message component:
  @message - string: conditionally displays component
  @warning - boolean: adds an exclamation-triangle icon
  @dismissible - boolean: allows user to close message
--}}
{{#site-message
  warning=true
  dismissible=true
}}
  <h3>Update on City Planning Business in light of COVID-19</h3>
  <p>To minimize the potential spread of COVID-19, all Department of City Planning (DCP) staff members are temporarily working remotely, during normal business hours. The Central Office and all Borough Offices are currently closed. If you need assistance, please call (212) 720-3300.</p>
  <p>The City’s Uniform Land Use Review Procedure (ULURP) is suspended as of the close of business on Monday, March 16, 2020 by Mayoral Executive Order. <a href="/site/planning/about/press-releases/pr-20200316.page">Read details of the ULURP suspension</a>.</p>
  <p><span class="redNote"><b>All Filing</b></span><br>City Planning has temporarily revised filing protocols.  Please call 212.720.3366 - <b>leave a voicemail</b> or e-mail (<a href="mailto:savila@planning.nyc.gov" target="_blank">savila@planning.nyc.gov</a>).</p>
  <p>City Planning will also accept applications by mail, UPS or  Federal Express.&nbsp; Please e-mail alerting us to the filing.&nbsp;  Applications will not be considered filed until staff have performed a  completeness check and fees have been paid.&nbsp;&nbsp;</p>
  <p>The <a href="https://zap.planning.nyc.gov/projects">Zoning Application Portal</a> will be updated as normal.</p>
{{/site-message}}
