  <div class="cell">
    <div class="grid-container medium-margin-top medium-margin-bottom">
      {{#if (not this.isInSubroute)}}
        <ul
          class="tabs medium-margin-bottom"
          data-test-dashboard-tab-links
        >
          <li class="tabs-title upcoming {{if (eq this.activeTab 'upcoming') 'is-active'}}">
            <LinkTo @route="my-projects.upcoming"><span data-test-tab-button="upcoming">Upcoming</span></LinkTo>
          </li>
          <li class="tabs-title to-review {{if (eq this.activeTab 'to-review') 'is-active'}}">
            <LinkTo @route="my-projects.to-review"><span data-test-tab-button="to-review">To Review</span></LinkTo>
          </li>
          <li class="tabs-title reviewed {{if (eq this.activeTab 'reviewed') 'is-active'}}">
            <LinkTo @route="my-projects.reviewed">Reviewed</LinkTo>
          </li>
          <li class="tabs-title archive {{if (eq this.activeTab 'archive') 'is-active'}}">
            <LinkTo @route="my-projects.archive">Archive</LinkTo>
          </li>
        </ul>
      {{/if}}

      {{outlet}}

    </div>
  </div>
