<h2>Thank you!</h2>
<div class="grid-x grid-margin-x">
  <div class="large-5 cell large-order-2">
    <p>Hearings submitted for:</p>
    <div class="project-summary-card callout large-margin-bottom">
      <h3 class="tiny-margin-bottom">
        <LinkTo
          @route="show-project"
          @model={{model.project}}
          data-test-button="back-to-project-profile"
        >
          {{model.project.dcpProjectname}}
        </LinkTo>
        <small class="dark-gray">{{model.project.dcpUlurpNonulurp}}</small>
      </h3>
      <h5 class="applicant">{{model.project.applicants}}</h5>
      <p>{{model.project.dcpProjectbrief}}</p>
    </div>
  </div>
  <div class="large-7 cell">

    <h3>Your hearings have been submitted.</h3>

    {{!-- TODO: Update this message if/when hearings are noticed directly to the City Record --}}
    <p class="large-margin-bottom">Please be sure to visit <a href="https://a856-cityrecord.nyc.gov/">The City Record Online</a> to submit your hearing information.</p>

    <LinkTo
      @route="my-projects.to-review"
      data-test-button="back-to-review"
      class="button gray"
      data-test-button="back-to-review"
    >
      Go to My Projects
    </LinkTo>

    {{#if model.dispositions}}
      {{#deduped-hearings-list dispositions=model.dispositions as |dedupedHearings|}}
        {{#each dedupedHearings as |hearing idx|}}
          {{#if hearing.disposition.dcpDateofpublichearing}}
            <div class="grid-x">
              <p class="cell auto small-order-2">
                <span class="display-block">
                  <strong>
                    <DateDisplay
                      @date={{hearing.disposition.dcpDateofpublichearing}}
                    />
                  </strong>
                  <span class="light-gray">|</span>
                  <strong>{{hearing.disposition.dcpPublichearinglocation}}</strong>
                </span>
                <small data-test-hearing-actions-list="{{hearing.disposition.id}}">
                  {{#each hearing.hearingActions as |action index| ~}}
                    {{#if action.dcpName}}
                      <span class="label light-gray tiny-margin-bottom tiny-margin-right">
                        {{action.dcpName}}
                        <small>{{action.dcpUlurpnumber}}</small>
                      </span>
                    {{/if}}
                  {{~/each}}
                </small>
              </p>
            </div>
          {{/if}}
          {{city-record-form
          hearing=hearing}}
        {{/each}}
      {{/deduped-hearings-list}}
    {{/if}}

  </div>
</div>
