{{#if this.error}}
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-middle" style="min-height: 50vh">
        <div class="cell large-6 large-offset-3 text-center">
          <h2>Oops!</h2>
          <p>{{this.error}}</p>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="grid-container">
    <div class="grid-x grid-x-container">
      <h2>
        Add
        {{#if (eq participantType "BP")}}
          Borough&nbsp;President
        {{else if (eq participantType "BB")}}
          Borough&nbsp;Board
        {{else if (eq participantType "CB")}}
          Community&nbsp;Board
        {{/if}}Recommendation
      </h2>
      <div class="grid-x grid-margin-x">
        <div class="large-5 cell large-order-2">
          <p>Recommendation to be submitted for:</p>
          <div class="project-summary-card callout">
            <h3 class="tiny-margin-bottom">
              <LinkTo
                @route="show-project"
                @model={{project}}
              >
                {{project.dcpProjectname}}
              </LinkTo>
              <small class="dark-gray">{{project.dcpUlurpNonulurp}}</small>
            </h3>
            <h5 class="applicant">{{project.applicants}}</h5>
            <p>{{project.dcpProjectbrief}}</p>
          </div>
        </div>
        <div class="cell large-7">
          {{#if (and hearingsSubmitted (not hearingsWaived))}}
            <strong>
              <legend>
                Was a Quorum Present at your hearing(s)?
              </legend>
            </strong>
            <p class="help-text">
              A quorum requires the presence of 20% of appointed board members, and not fewer than seven members.
            </p>
            {{#deduped-hearings-list project=project as |dedupedHearings|}}
              {{#each dedupedHearings as |hearing idx|}}
                {{#if hearing.dcpDateofpublichearing}}
                  <div class="grid-x align-middle">
                    <p class="cell auto small-order-2">
                      <strong class="display-block">
                        {{moment-format hearing.dcpDateofpublichearing "MM/D/YYYY"}}
                        <span class="light-gray">|</span>
                        {{hearing.dcpPublichearinglocation}}
                      </strong>
                      <span data-test-hearing-actions-list="{{hearing.id}}" class="display-block text-tiny">
                        {{#each hearing.hearingActions as |action index|}}
                          {{if (gt index 0) ", "}}{{action.dcpUlurpnumber}}
                        {{/each}}
                      </span>
                    </p>
                    <fieldset class="cell shrink medium-margin-bottom small-margin-right recommendation-quorum-fieldiset">
                      <input type="radio"
                        name={{concat idx '-quorum'}}
                        id={{concat idx '-quorum-yes'}}
                        checked={{if hearing.wasaquorumpresent "checked"}}
                        onClick={{action 'updateDispositionAttr' hearing project.dispositions 'wasaquorumpresent' true}}
                      />
                      <label
                        for="{{concat idx '-quorum-yes'}}"
                        {{action 'updateDispositionAttr' hearing project.dispositions 'wasaquorumpresent' true}}
                      >
                        Yes
                      </label>
                      <input type="radio"
                        name={{concat idx '-quorum'}}
                        id={{concat idx '-quorum-no'}}
                        checked={{if (eq hearing.wasaquorumpresent false) "checked"}}
                        onClick={{action 'updateDispositionAttr' hearing project.dispositions 'wasaquorumpresent' false}}
                      />
                      <label
                        for="{{concat idx '-quorum-no'}}"
                        {{action 'updateDispositionAttr' hearing project.dispositions 'wasaquorumpresent' false}}
                      >
                        No
                      </label>
                    </fieldset>
                  </div>
                {{/if}}
              {{/each}}
            {{/deduped-hearings-list}}
          {{/if}}
          {{#if (and hearingsWaived (not hearingsSubmitted))}}
            <div data-test-hearings-waived-message>
              <h5>Note: You have opted out of submitting hearings for this project.</h5>
              <p class="text-small">Without proper notice of a public hearing, the [Participant Type]'s recommendation does not comply with City Charter requirements. NYC Planning will still accept a recommendation, but a disapproval will not trigger an automatic City Council call up.</p>
            </div>
            <hr>
          {{/if}}
          {{#if (gt this.dispositions.length 1)}}
            <fieldset class="medium-margin-bottom medium-margin-top">
              <legend>
                <strong>
                  Would you like to submit a single recommendation for all actions?
                </strong>
              </legend>
              <input
                type="radio"
                name="all-actions-yes"
                id="all-actions-yes"
                checked={{if (eq this.allActions true) "checked"}}
                onClick={{action "setProp" "allActions" true}}
              />
              <label for="all-actions-yes">
                Yes
              </label>
              <input
                type="radio"
                name="all-actions-no"
                id="all-actions-no"
                checked={{if (eq this.allActions false) "checked"}}
                onClick={{action "setProp" "allActions" false}}
              />
              <label for="all-actions-no">
                No, I will submit a recommendation for each action
              </label>
            </fieldset>
          {{/if}}
          {{#if (eq this.allActions true)}}
            <fieldset class="medium-margin-bottom recommendation-all-actions-fieldset">
              <legend class="show-for-sr">
                <strong>
                  Submit a recommendation for all actions
                </strong>
              </legend>
              <div
                class={{if this.dispositionForAllActionsChangeset.error.recommendation "is-invalid-label"}}
              >
                <PowerSelect
                  @searchEnabled={{false}}
                  @options={{this.recOptions}}
                  @placeholder="Select a recommendation"
                  @selected={{this.dispositionForAllActionsChangeset.recommendation}}
                  @onchange={{action "setDispositionRec" dispositionForAllActionsChangeset}}
                  as |recOption|
                >
                  {{recOption}}
                </PowerSelect>
                <span class="form-error is-visible" role="alert">
                  {{this.dispositionForAllActionsChangeset.error.recommendation.validation}}
                </span>
              </div>
              {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
                <legend class="show-for-sr">
                  <strong>
                    Vote Counts
                  </strong>
                </legend>
                <div class="grid-x grid-margin-x">
                  <div  class="cell medium-3">
                    <label
                      for="all-actions-votes-in-favor"
                      class={{if this.dispositionForAllActionsChangeset.error.votinginfavorrecommendation "is-invalid-label"}}
                    >
                      Votes In Favor
                    </label>
                    <Input
                      @id="all-actions-votes-in-favor"
                      @type="number"
                      @min=0
                      @max=999
                      @value={{this.dispositionForAllActionsChangeset.votinginfavorrecommendation}}
                      @key-up={{fn (mut this.dispositionForAllActionsChangeset.votinginfavorrecommendation) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.votinginfavorrecommendation "is-invalid-input"}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.votinginfavorrecommendation.validation}}
                    </span>
                  </div>
                  <div  class="cell medium-3">
                    <label
                      for="all-actions-votes-against"
                      class={{if this.dispositionForAllActionsChangeset.error.votingagainstrecommendation "is-invalid-label"}}
                    >
                      Votes Against
                    </label>
                    <Input
                      @id="all-actions-votes-against"
                      @type="number"
                      @min=0
                      @max=999
                      @value={{this.dispositionForAllActionsChangeset.votingagainstrecommendation}}
                      @key-up={{fn (mut this.dispositionForAllActionsChangeset.votingagainstrecommendation) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.votingagainstrecommendation "is-invalid-input"}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.votingagainstrecommendation.validation}}
                    </span>
                  </div>
                  <div  class="cell medium-3">
                    <label
                      for="all-actions-votes-abstain"
                      class={{if this.dispositionForAllActionsChangeset.error.votingabstainingonrecommendation "is-invalid-label"}}
                    >
                      Abstain
                    </label>
                    <Input
                      @id="all-actions-votes-abstain"
                      @type="number"
                      @min=0
                      @max=999
                      @value={{this.dispositionForAllActionsChangeset.votingabstainingonrecommendation}}
                      @key-up={{fn (mut this.dispositionForAllActionsChangeset.votingabstainingonrecommendation) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.votingabstainingonrecommendation "is-invalid-input"}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.votingabstainingonrecommendation.validation}}
                    </span>
                  </div>
                  <div  class="cell medium-3">
                    <label
                      for="all-actions-votes-total-members"
                      class={{if this.dispositionForAllActionsChangeset.error.totalmembersappointedtotheboard "is-invalid-label"}}
                    >
                      Total Members
                    </label>
                    <Input
                      @id="all-actions-votes-total-members"
                      @type="number"
                      @min=0
                      @max=999
                      @value={{this.dispositionForAllActionsChangeset.totalmembersappointedtotheboard}}
                      @key-up={{fn (mut this.dispositionForAllActionsChangeset.totalmembersappointedtotheboard) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.totalmembersappointedtotheboard "is-invalid-input"}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.totalmembersappointedtotheboard.validation}}
                    </span>
                  </div>
                </div>
              {{/if}}
            </fieldset>
          {{/if}}
          {{#if (eq this.allActions false)}}
            <fieldset class="medium-margin-bottom recommendation-by-action-fieldset">
              <legend class="show-for-sr">
                <strong>
                  Submit a Recommendation by action
                </strong>
              </legend>
              {{#each this.dispositionAndChangesetPairs as |dispositionChangesetPair idx|}}
                <h4>
                  {{dispositionChangesetPair.disposition.action.dcpName}}
                  <small class="dark-gray">
                    {{dispositionChangesetPair.disposition.action.dcpUlurpnumber}}
                  </small>
                </h4>
                <div
                  class={{if (get dispositionChangesetPair.changeset.error (rec-field-by-parttype-lookup this.participantType)) "is-invalid-label"}}
                >
                  <PowerSelect
                    @searchEnabled={{false}}
                    @options={{this.recOptions}}
                    @placeholder="Select a recommendation"
                    @selected={{get dispositionChangesetPair.changeset (rec-field-by-parttype-lookup this.participantType)}}
                    @onchange={{action "setDispositionRec" dispositionChangesetPair.changeset}}
                    as |recOption|
                  >
                    {{recOption}}
                  </PowerSelect>
                  <span class="form-error is-visible" role="alert">
                    {{get (get dispositionChangesetPair.changeset.error (rec-field-by-parttype-lookup this.participantType)) "validation"}}
                  </span>
                </div>
                {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
                  <legend class="show-for-sr">
                    <strong>
                      Vote Counts
                    </strong>
                  </legend>
                  <div class="grid-x grid-margin-x">
                    <div  class="cell medium-3">
                      <label
                        for={{concat "disposition-" (concat idx "-votes-in-favor")}}
                        class={{if dispositionChangesetPair.changeset.error.votinginfavorrecommendation "is-invalid-label"}}
                      >
                        Votes In Favor
                      </label>
                      <Input
                        @id={{concat "disposition-" (concat idx "-votes-in-favor")}}
                        @type="number"
                        @min=0
                        @max=999
                        @value={{dispositionChangesetPair.changeset.votinginfavorrecommendation}}
                        @key-up={{fn (mut dispositionChangesetPair.changeset.votinginfavorrecommendation) value="target.value"}}
                        @class={{if dispositionChangesetPair.changeset.error.votinginfavorrecommendation "is-invalid-input"}}
                      />
                      <span class="form-error is-visible" role="alert">
                        {{dispositionChangesetPair.changeset.error.votinginfavorrecommendation.validation}}
                      </span>
                    </div>
                    <div  class="cell medium-3">
                    <label
                      for={{concat "disposition-" (concat idx "-votes-against")}}
                      class={{if dispositionChangesetPair.changeset.error.votingagainstrecommendation "is-invalid-label"}}
                    >
                      Votes Against
                    </label>
                    <Input
                      @id={{concat "disposition-" (concat idx "-votes-against")}}
                      @type="number"
                      @min=0
                      @max=999
                      @value={{dispositionChangesetPair.changeset.votingagainstrecommendation}}
                      @key-up={{fn (mut dispositionChangesetPair.changeset.votingagainstrecommendation) value="target.value"}}
                      @class={{if dispositionChangesetPair.changeset.error.votingagainstrecommendation "is-invalid-input"}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{dispositionChangesetPair.changeset.error.votingagainstrecommendation.validation}}
                    </span>
                  </div>
                  <div  class="cell medium-3">
                    <label
                      for={{concat "disposition-" (concat idx "-votes-abstain")}}
                      class={{if dispositionChangesetPair.changeset.error.votingabstainingonrecommendation "is-invalid-label"}}
                    >
                      Abstain
                    </label>
                    <Input
                      @id={{concat "disposition-" (concat idx "-votes-abstain")}}
                      @type="number"
                      @min=0
                      @max=999
                      @value={{dispositionChangesetPair.changeset.votingabstainingonrecommendation}}
                      @key-up={{fn (mut dispositionChangesetPair.changeset.votingabstainingonrecommendation) value="target.value"}}
                      @class={{if dispositionChangesetPair.changeset.error.votingabstainingonrecommendation "is-invalid-input"}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{dispositionChangesetPair.changeset.error.votingabstainingonrecommendation.validation}}
                    </span>
                  </div>
                  <div  class="cell medium-3">
                    <label
                      for={{concat "disposition-" (concat idx "-votes-total-members")}}
                      class={{if dispositionChangesetPair.changeset.error.totalmembersappointedtotheboard "is-invalid-label"}}
                    >
                      Total Members
                    </label>
                    <Input
                      @id={{concat "disposition-" (concat idx "-votes-total-members")}}
                      @type="number"
                      @min=0
                      @max=999
                      @value={{dispositionChangesetPair.changeset.totalmembersappointedtotheboard}}
                      @key-up={{fn (mut dispositionChangesetPair.changeset.totalmembersappointedtotheboard) value="target.value"}}
                      @class={{if dispositionChangesetPair.changeset.error.totalmembersappointedtotheboard "is-invalid-input"}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{dispositionChangesetPair.changeset.error.totalmembersappointedtotheboard.validation}}
                    </span>
                  </div>
                  </div>
                {{/if}}
                <div class="grid-x grid-margin-x">
                  <div class="cell">
                    <label
                      for={{concat "disposition-" (concat idx "-consideration")}}
                      class={{if dispositionChangesetPair.changeset.error.consideration "is-invalid-label"}}
                    >
                      Recommendation Comment
                    </label>
                    <Textarea
                      @id={{concat "disposition-" (concat idx "-consideration")}}
                      @value={{dispositionChangesetPair.changeset.consideration}}
                      @placeholder="Add a Recommendation comment for this action here."
                      @rows="4"
                      @class={{if dispositionChangesetPair.changeset.error.consideration "is-invalid-input"}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{dispositionChangesetPair.changeset.error.consideration.validation}}
                    </span>
                  </div>
                </div>
                <hr />
              {{/each}}
            </fieldset>
          {{/if}}
          {{#if (or (eq this.allActions true) (eq this.allActions false))}}
            {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
              <fieldset class="medium-margin-bottom recommendation-by-action-fieldset">
                <legend>
                  <strong>
                    Vote Location and Date for all actions
                  </strong>
                </legend>
                <div class="grid-x grid-margin-x">
                  <div class="cell medium-6">
                    <label
                      for="all-actions-vote-location"
                      class={{if this.dispositionForAllActionsChangeset.error.votelocation "is-invalid-label"}}
                    >
                      Vote Location
                    </label>
                    <Input
                      @id="all-actions-vote-location"
                      @type="text"
                      @placeholder="Add a location"
                      @autocomplete="off"
                      @value={{this.dispositionForAllActionsChangeset.votelocation}}
                      @key-up={{fn (mut this.dispositionForAllActionsChangeset.votelocation) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.votelocation "is-invalid-input"}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.votelocation.validation}}
                    </span>
                  </div>
                  <div class="cell medium-6">
                    <label
                      for="all-actions-vote-date"
                      class={{if this.dispositionForAllActionsChangeset.error.dateofvote "is-invalid-label"}}
                    >
                      Vote Date
                    </label>
                    <PikadayInput
                      @id="all-actions-vote-date"
                      @placeholder='Select a date'
                      @value={{this.dispositionForAllActionsChangeset.dateofvote}}
                      @format='MM/DD/YYYY'
                      @minDate={{this.minDate}}
                      @onSelection={{fn (mut this.dispositionForAllActionsChangeset.dateofvote) value="target.value"}}
                      @class={{if this.dispositionForAllActionsChangeset.error.dateofvote "is-invalid-input"}}
                    />
                    <span class="form-error is-visible" role="alert">
                      {{this.dispositionForAllActionsChangeset.error.dateofvote.validation}}
                    </span>
                  </div>
                </div>
              </fieldset>
            {{/if}}
            {{#if (eq this.allActions true)}}
              <label
                for="all-actions-consideration"
                class={{if this.dispositionForAllActionsChangeset.error.consideration "is-invalid-label"}}
              >
                Recommendation Comment for all actions.
              </label>
              <Textarea
                @id="all-actions-consideration"
                @value={{this.dispositionForAllActionsChangeset.consideration}}
                @placeholder="Add Recommendation comment for all actions here."
                @rows="4"
                @class={{if this.dispositionForAllActionsChangeset.error.consideration "is-invalid-input"}}
              />
              <span class="form-error is-visible" role="alert">
                {{this.dispositionForAllActionsChangeset.error.consideration.validation}}
              </span>
            {{/if}}
            <div class="callout">
              <label>Uploaded recommendation files:</label>
              <ul>
                <li><a>Important File <small>(PDF)</small></a></li>
                <li><a>Important File <small>(PDF)</small></a></li>
                <li><a>Important File <small>(PDF)</small></a></li>
              </ul>
              <label for="exampleFileUpload_2" class="button gray no-margin">
                {{fa-icon 'upload'}} Upload Files
              </label>
              <input type="file" id="exampleFileUpload_2" class="show-for-sr">
            </div>
            <fieldset class="medium-margin-bottom">
              <button
                class="button large-margin-top"
                type="button"
                onClick={{this.onContinue}}
              >
                Continue
              </button>
            </fieldset>
          {{/if}}

          {{#ember-wormhole to="reveal-modal-container"}}
            {{#confirmation-modal open=modalOpen}}
              <h3>Confirm recommendation information</h3>
                <h5>
                  Was a Quorum Present at your Hearing(s)?
                </h5>
                {{#deduped-hearings-list project=project as |dedupedHearings|}}
                  {{#each dedupedHearings as |hearing idx|}}
                    <p class="grid-x align-middle">
                      <strong class="cell small-1">
                        {{if hearing.wasaquorumpresent "Yes" "No"}}
                      </strong>
                      <span class="cell auto">
                        <strong class="display-block">
                          {{moment-format hearing.dcpDateofpublichearing "MM/D/YYYY"}}
                          <span class="light-gray">|</span>
                          {{hearing.dcpPublichearinglocation}}
                        </strong>
                        <span data-test-hearing-actions-list="{{hearing.id}}" class="display-block text-tiny">
                          {{#each hearing.hearingActions as |action index|}}
                            {{if (gt index 0) ", "}}{{action.dcpUlurpnumber}}
                          {{/each}}
                        </span>
                      </span>
                    </p>
                  {{/each}}
                {{/deduped-hearings-list}}
                {{#if this.allActions}}
                <h5>
                  Recommendation:
                </h5>
                <p><strong>{{this.dispositionForAllActionsChangeset.recommendation}}</strong></p>
                {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
                  <p>Votes in Favor: {{this.dispositionForAllActionsChangeset.votinginfavorrecommendation}}</p>
                  <p>Votes Against: {{this.dispositionForAllActionsChangeset.votingagainstrecommendation}}</p>
                  <p>Abstain: {{this.dispositionForAllActionsChangeset.votingabstainingonrecommendation}}</p>
                  <p>Total Members: {{this.dispositionForAllActionsChangeset.totalmembersappointedtotheboard}}</p>
                {{/if}}
              {{else}}
                {{#each this.dispositionAndChangesetPairs as |dispositionChangesetPair idx|}}
                  <h5 class="large-margin-top">
                    Recommendation: {{dispositionChangesetPair.disposition.action.dcpName}}
                    <small class="dark-gray">
                      ({{dispositionChangesetPair.disposition.action.dcpUlurpnumber}})
                    </small>
                  </h5>
                  <p>
                    <strong>{{get dispositionChangesetPair.changeset (rec-field-by-parttype-lookup this.participantType)}}</strong>
                  </p>
                  {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
                    <p>Votes in Favor: {{dispositionChangesetPair.changeset.votinginfavorrecommendation}}</p>
                    <p>Votes Against: {{dispositionChangesetPair.changeset.votingagainstrecommendation}}</p>
                    <p>Abstain: {{dispositionChangesetPair.changeset.votingabstainingonrecommendation}}</p>
                    <p>Total Members: {{disdispositionChangesetPair.changeset.totalmembersappointedtotheboard}}</p>
                  {{/if}}
                  <div class="display-block">
                    Comment: {{dispositionChangesetPair.changeset.consideration}}
                  </div>
                {{/each}}
              {{/if}}
              {{#if (or (eq this.allActions true) (eq this.allActions false))}}
                {{#if (or (eq participantType 'CB') (eq participantType 'BB'))}}
                  <p>Vote Location: {{this.dispositionForAllActionsChangeset.votelocation}}</p>
                  <p>Vote Date: {{this.dispositionForAllActionsChangeset.dateofvote}}</p>
                {{/if}}
                {{#if (eq this.allActions true)}}
                  <p>
                    Comment: {{this.dispositionForAllActionsChangeset.consideration}}
                  </p>
                {{/if}}
                <p>Attached files:</p>
                <ul>
                  <li><a>Important File <small>(PDF)</small></a></li>
                  <li><a>Important File <small>(PDF)</small></a></li>
                  <li><a>Important File <small>(PDF)</small></a></li>
                </ul>
              {{/if}}
              <p class="callout warning text-small">
                Once you submit recommendation information, you can not edit it. You'll need to contact the Lead Planner to make any changes.
              </p>
              <p>
                <button
                  class="button"
                  data-test-button="confirmRecommendation"
                  type="button"
                  onClick={{action this.submitRecommendations}}
                >
                  Submit Recommendation Information
                </button>
                <button
                  class="button clear"
                  data-test-button="closeModal"
                  type="button"
                  onClick={{action this.closeModal}}
                >
                  Cancel <small>(continue editing)</small>
                </button>
              </p>
            {{/confirmation-modal}}
          {{/ember-wormhole}}

        </div>
      </div>
    </div>
  </div>
  {{outlet}}
{{/if}}
