{{#if this.error}}
  <div class="cell">
    <div class="grid-container">
      <div class="grid-x grid-padding-x grid-padding-y align-middle" style="min-height: 50vh">
        <div class="cell large-6 large-offset-3 text-center">
          <h2>Oops!</h2>
          <p>{{this.error}}</p>
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{#with this.model as |project|}}

    <h2>Add Community Board Recommendation</h2>

    <div class="grid-x grid-margin-x">
      <div class="large-5 cell large-order-2">
        <p>Recommendation to be submitted for:</p>
        <div class="project-summary-card callout">
          <h3 class="tiny-margin-bottom">
            <LinkTo
              @route="show-project"
              @model={{project}}
            >
              {{project.dcp_projectname}}
            </LinkTo>
            <small class="dark-gray">{{project.ulurp_nonulurp}}</small>
          </h3>
          <h5 class="applicant">{{project.applicants}}</h5>
          <p>{{project.dcp_projectbrief}}</p>
        </div>
      </div>
      <div class="large-7 cell">

        <fieldset class="medium-margin-bottom">
          <legend><strong>Would you like to submit a single recommendation for all actions?</strong></legend>
          <input
            type="radio"
            name="all-action-yes"
            id="all-action-yes"
            checked={{if this.allActions "checked"}}
            onClick={{action "setProp" "allActions" true}}
          />
          <label for="all-action-yes">
            Yes
          </label>
          <input
            type="radio"
            name="all-action-no"
            id="all-action-no"
            checked={{if (not this.allActions) "checked"}}
            onClick={{action "setProp" "allActions" false}}
          />
          <label for="all-action-no">
            No, I will submit a recommendation for each action
          </label>
        </fieldset>

        {{#if this.allActions}}

          {{recommendation-form
            participantType=this.participantType
            hearinglocation=project.hearing.location
            hearingdate=project.hearing.date
          }}

        {{else}}

          {{#each project.actions as |projAction|}}
            <hr class="large-margin-top large-margin-bottom">
            <h4>
              {{projAction.actionName}}
              {{#if (lookup-action-type projAction.action)}}
                <sup class="dark-gray">
                  {{icon-tooltip
                    tip=(lookup-action-type projAction.action)}}
                </sup>
              {{/if}}
              {{#if projAction.ulurpNumber}}
                <small class="dark-gray text-weight-normal">ULURP&nbsp;Number:&nbsp;{{projAction.ulurpNumber}}</small>
              {{/if}}
            </h4>
            {{recommendation-form
              participantType=this.participantType
              hearinglocation=project.hearing.location
              hearingdate=project.hearing.date
            }}
          {{/each}}

          <hr class="large-margin-top large-margin-bottom">

        {{/if}}

        <button
          class="button large no-margin"
          onClick={{action "submitRecommendation"}}
          disabled={{if this.isRecommendationSelectionsValid "" "disabled"}}
        >
          Submit
          {{#if (eq this.participantType "BP")}}
            Borough&nbsp;President
          {{else if (eq this.participantType "BB")}}
            Borough&nbsp;Board
          {{else if (eq this.participantType "CB")}}
            Community&nbsp;Board
          {{/if}}
          Recommendation
        </button>

      </div>
    </div>

  {{/with}}
{{/if}}

{{outlet}}
