{{#if this.hasArtifactDocuments}}
  <h5
    class="clickable-header"
    onClick={{this.toggleShowArtifactDocuments}}
  >
    <FaIcon
      @icon={{if this.showArtifactDocuments "caret-down" "caret-right"}}
    />
    {{this.formattedArtifactName}}
  </h5>

  {{#if this.showArtifactDocuments}}
    <ul
      class="no-bullet public-documents-list-item"
    >
      {{#each (sort-by 'serverRelativeUrl' @artifact.documents) as |document|}}
        <li>
          <a
            href={{concat this.host '/document/artifact' document.serverRelativeUrl}}
            target="_blank"
            rel="noopener noreferrer"
          >
            {{document.name}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{else}}
  <h6
    class="gray"
  >
    <FaIcon
      @icon="caret-right"
    />
    No Documents for {{this.formattedArtifactName}}
  </h6>
{{/if}}
