{{#if this.hasPackageDocuments}}
  <h5
    class="clickable-header"
    onClick={{this.toggleShowPackageDocuments}}
  >
    <FaIcon
      @icon={{if this.showPackageDocuments "caret-down" "caret-right"}}
    />
    {{this.packageType}} v{{@package.dcpPackageversion}}
  </h5>

  {{#if this.showPackageDocuments}}
    <ul
      class="no-bullet public-documents-list-item"
    >
      {{#each (sort-by 'serverRelativeUrl' @package.documents) as |document|}}
        <li>
          <a
            href={{concat this.host '/document/package' document.serverRelativeUrl}}
            target="_blank"
            rel="noopener noreferrer"
          >
            {{document.name}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{else}}
  <h6
    class="gray"
  >
    <FaIcon
      @icon="caret-right"
    />
    No Documents for {{this.packageType}} v{{@package.dcpPackageversion}}
  </h6>
{{/if}}
