{{#labs-ui/site-header
  responsiveNav=true
  responsiveSize='large'
  as |banner|
}}
  {{#banner.title}}
    {{#link-to 'show-geography' classNames='site-title'}}ZAP Search <small class="site-subtitle show-for-medium">Find N<span class="show-for-xlarge">ew </span>Y<span class="show-for-xlarge">ork </span>C<span class="show-for-xlarge">ity</span> <span class="hide-for-large-only">Zoning &amp;</span> Land Use Applications</small>{{/link-to}}
  {{/banner.title}}
  {{#banner.nav}}
    <ul class="menu vertical large-horizontal">
      <li>{{link-to 'Find Projects' 'show-geography'}}</li>
      <li>{{link-to 'Disclaimer' 'disclaimer'}}</li>
      <li>
        {{#tool-tipster
          content='
              <p>Please report data errors by using the “Report Data Issue” form on each particular project’s page.</p>
              <p class="no-margin">For general feedback about this application, email <strong><a href="mailto:ZAP_Feedback_DL@planning.nyc.gov">ZAP_Feedback_DL@planning.nyc.gov</a></strong>.</p>
            '
          interactive=true
          contentAsHTML=true
          triggerEvent='click'
          tagName='a'
          side='bottom'
        }}
          {{fa-icon 'envelope'}} Feedback
        {{/tool-tipster}}
      </li>
    </ul>
  {{/banner.nav}}
{{/labs-ui/site-header}}

<div class="site-main grid-x grid-padding-x route-{{currentRouteName}}">
  {{outlet}}
</div>
