<div class="cell">
  <div class="grid-container">

    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell large-5">
        <h1 class="header-xlarge">Quickly find land use and environmental applications in your neighborhood.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="lead text-center"><strong><a href="#">Learn more&hellip;</a></strong></p>
      </div>
      <div class="cell large-7">
        {{#search-data-wrapper as |wrapper|}}
          {{#labs-search onSelect=(action 'selectSearchResult' wrapper) as |search|}}
            <strong>{{lookup-community-district wrapper.communityDistricts search.result.geometry}}</strong>
            <small class="dark-gray">{{search.result.label}}</small>
          {{/labs-search}}
        {{/search-data-wrapper}}

        <h3>Recent Projects</h3>
        <ul class="no-bullet">
          {{#each model as |project|}}
            <li>
              <h3 class="no-margin"><strong>{{#link-to 'show-project' project}}{{project.dcp_name}}{{/link-to}}</strong></h3>
              <p class="text-small dark-gray">Filed  01/23/45 <span class="medium-gray">|</span> Certified/Referred {{project.dcp_certifiedreferred}}</p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    {{outlet}}

  </div>
</div>
