<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y align-middle min-height-50-vh">
      <div class="cell large-6 large-offset-3 text-center">
        <h2>Oops!</h2>

        <p>Something went wrong.</p>

        {{#each this.model.errors as |error idx|}}
          {{#if error.detail}}
            <code class="callout display-block text-left red-muted" data-test-error-message={{idx}}>{{error.detail}}</code>
          {{else}}
            {{#each-in error as |key value|}}
              <code class="callout display-block text-left red-muted">{{key}}: {{value}}</code>
            {{/each-in}}
          {{/if}}
        {{/each}}

        <Auth::DoLogout/>

      </div>
      <div class="cell large-10 large-offset-1 xlarge-8 xlarge-offset-2  text-center">
        <p class="">Please contact City Planning at <a href="mailto:ZAP_feedback_DL@planning.nyc.gov">ZAP_feedback_DL@planning.nyc.gov</a> or 212-720-3300.</p>
      </div>
    </div>
  </div>
</div>
