<div class="cell">
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell large-7">
        <h1 class="">
          {{#if model.dcpProjectname}}
            {{model.dcpProjectname}}
          {{else}}
            Project {{model.dcpName}}
          {{/if}}
        </h1>

        <div class="grid-x">
          <div class="cell medium-auto">
            <p class="lead">
              {{#if (gt model.applicantteam.length 1)}}
                <strong>Applicant Team:</strong>
                {{#each model.applicantteam as |applicant|}}
                  <br>
                  {{applicant.name}}
                  <small class="dark-gray">{{#if (gt model.applicantteam.length 1)}}({{applicant.role}}){{/if}}</small>
                {{/each}}
              {{else}}
                <strong>Applicant:</strong>
                {{#each model.applicantteam as |applicant|}}
                  {{applicant.name}}
                {{/each}}
              {{/if}}
            </p>
          </div>
          <div class="cell medium-shrink">
            {{modal-controls project=model}}
          </div>
        </div>

        <p>
          <strong>Project Brief:</strong>
          {{#if model.dcpProjectbrief}}
            {{markdown-to-html
              markdown=model.dcpProjectbrief}}
          {{else}}
            No Project Brief
          {{/if}}
        </p>

        <div class="grid-x grid-padding-x">
          <p class="cell auto">
            <strong>Status:</strong>
            <span class="label dark-gray publicstatus-{{dasherize model.dcpPublicstatusSimp}}">{{model.dcpPublicstatusSimp}}</span>
          </p>
          {{#if model.dcpUlurpNonulurp}}
            <p class="cell small-6 text-right">
              <span class="label dark-gray">
                {{~model.dcpUlurpNonulurp~}}
                <sup>
                  {{icon-tooltip tip='Uniform Land Use Review Procedure (ULURP) is a procedure whereby applications affecting the land use of the city are publicly reviewed within mandated time frames. Key participants in the process are the Department of City Planning (DCP), the City Planning Commission (CPC), Community Boards, the Borough Presidents, the Borough Boards, the City Council and the Mayor.'}}
                </sup>
              </span>
            </p>
          {{/if}}
        </div>

        <hr>

        {{#if model.videoLinks}}
          <div class="button-group">
            {{#each model.videoLink as |link|}}
              <a href="{{link.link}}" target="_blank" class="button gray" style="text-align:left;">
                <span style="color:#ff0000">{{fa-icon 'youtube' prefix='fab' size='2x' pull='left'}}</span>
                <span class="text-small">
                  <strong>{{link.hearing_type}}</strong>
                  <span class="display-block dark-gray">
                    <small>
                      <DateDisplay
                        @date={{link.date}}
                        @outputFormat="MMMM D, YYYY"
                      />
                    </small>
                  </span>
                </span>
              </a>
            {{/each}}
          </div>
          <hr>
        {{/if}}

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <h2>Actions</h2>
            <ul class="actions-list no-bullet">
              {{#each model.actions as |action|}}
                <li class="grid-x grid-padding-small action">
                  <div class="cell shrink statuscode {{dasherize action.statuscode}}">
                    <span class="action-icon fa-layers fa-fw">
                      {{fa-icon 'circle' fixedWidth=true}}
                      {{fa-icon 'file-alt' fixedWidth=true class='off-white' transform='shrink-7'}}
                    </span>
                    <p class="text-tiny status">{{if action.statuscode action.statuscode "No Status Code"}}</p>
                  </div>
                  <div class="cell auto">
                    <h5 class="no-margin">
                      {{action.dcpName}}
                      {{#if (lookup-action-type action.actioncode)}}
                        <sup class="dark-gray">
                          {{icon-tooltip
                            tip=(lookup-action-type action.actioncode)}}
                        </sup>
                      {{/if}}
                    </h5>
                    <p class="text-small no-margin">
                      {{#if action.dcpUlurpnumber}}
                        ULURP Number:
                        {{#if (eq action.statuscode "Approved")}}
                          {{#tool-tipster
                            content='City Planning Commision Report'
                            tagName='span'
                          }}
                            <a href={{build-url "cpcReport" action.dcpUlurpnumber}} target="_blank">
                              {{action.dcpUlurpnumber}}
                              {{fa-icon 'external-link-alt'}}
                            </a>
                          {{/tool-tipster}}
                        {{else}}
                          {{action.dcpUlurpnumber}}
                        {{/if}}
                      {{else}}
                        No ULURP Number
                      {{/if}}
                    </p>
                    {{#if action.dcpZoningresolution}}
                      <p class="text-small no-margin">
                        Zoning Resolution:
                        <a href="{{build-url "zoningResolution" action.dcpZoningresolution}}" target="_blank">
                          {{action.dcpZoningresolution}}
                          {{fa-icon 'external-link-alt'}}
                        </a>
                      </p>
                    {{/if}}
                    {{#if action.dcpCcresolutionnumber}}
                      <p class="text-small no-margin">City Council Resolution: {{action.dcpCcresolutionnumber}}</p>
                    {{/if}}
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="cell medium-6">
            <h2>Milestones</h2>
            <ul class="no-bullet milestones-list">
              {{#if model.milestones}}
                {{#each model.milestones as | milestone |}}
                  {{project-milestone milestone=milestone}}
                {{/each}}
              {{else}}
                No Milestones
              {{/if}}
            </ul>
          </div>
        </div>

      </div>
      <div class="cell large-5">
        {{#if (and this.session.isAuthenticated isUserAssignedToProject)}}
          <div
            data-test-hearing-rec-shortcuts
            class="project--lup-section callout"
          >
            <h3 class="small-margin-bottom">
                {{participant-type-label model.assignments.firstObject.dcpLupteammemberrole}} Review
              </h3>
            {{#link-to "my-projects.to-review" class="button expanded"}}
              <span>
                Review Current Projects
              </span>
            {{/link-to}}
          </div>
        {{/if}}

        {{#if hasBBLFeatureCollectionGeometry}}
          {{#mapbox-gl
              id='project-map'
              initOptions=(hash
                zoom=12
                center=(array -73.96532400540775 40.709710016659386)
              )
              mapLoaded=(action 'handleMapLoad')
              as |map|
          }}
            {{#map.source options=model.bblFeatureCollectionSource as |source|}}
              {{source.layer
                layer=bblFeatureCollectionLayerFill
                before='boundary_country'
              }}
              {{source.layer
                layer=bblFeatureCollectionLayerLine
                before='boundary_country'
              }}
            {{/map.source}}
            {{map-info-box legend=false}}
          {{/mapbox-gl}}
        {{else}}
          <div id='project-map' class="align-middle grid-x" style="border: 1px solid darkgray; background:#EEE; color:gray;">
            <h4 class="cell text-center">No Map Available</h4>
          </div>
        {{/if}}

        <div class="project-meta">

          {{#if (or model.dcpCeqrtype model.dcpCeqrnumber)}}
            <p class="text-small label-group">
              <strong>CEQR<sup class="dark-gray">{{icon-tooltip tip='City Environmental Quality Review. Only certain minor actions, known as Type II actions, are exempt from environmental review.'}}</sup>:</strong>
              {{#if model.dcpCeqrtype}}<span class="label light-gray">{{model.dcpCeqrtype}}</span>{{/if~}}
              {{#if model.dcpCeqrnumber}}<span class="label light-gray"><a href="{{build-url "ceqraccess" model.dcpCeqrnumber}}" target="_blank">{{model.dcpCeqrnumber}} {{fa-icon 'external-link-alt'}}</a></span>{{/if~}}
            </p>
          {{/if}}

          <p class="text-small label-group">
            <strong>Keywords:</strong>
            {{#if model.dcpSisubdivision}}<span class="label light-gray">Subdivision</span>{{/if}}
            {{#if model.dcpSischoolseat}}<span class="label light-gray">School Seat</span>{{/if}}

            {{#if model.keywords}}
              {{#each model.keywords as |keyword|}}
                <span class="label light-gray">
                  {{keyword}}
                  {{#if (keyword-lookup keyword)}}
                    <sup class="dark-gray">
                      {{icon-tooltip
                        tip=(keyword-lookup keyword)}}
                    </sup>
                  {{/if}}
                </span>
              {{/each}}
            {{/if}}
          </p>


          {{#if (or model.dcpFemafloodzonea model.dcpFemafloodzonecoastala model.dcpFemafloodzoneshadedx model.dcpFemafloodzonev) }}
            <p class="text-small">
              <strong>FEMA Flood Zone:</strong>
              {{#if model.dcpFemafloodzonea}}<span class="label light-gray">Zone A</span>{{/if}}
              {{#if model.dcpFemafloodzonecoastala}}<span class="label light-gray">Coastal Zone A</span>{{/if}}
              {{#if model.dcpFemafloodzoneshadedx}}<span class="label light-gray">Zone Shaded X</span>{{/if}}
              {{#if model.dcpFemafloodzonev}}<span class="label light-gray">Zone V</span>{{/if}}
            </p>
          {{/if}}

          {{#if model.dcpBsanumber}}
            <p class="text-small">
              <strong>BSA Number<sup class="dark-gray">{{icon-tooltip tip='Board of Standards and Appeals Calendar Number'}}</sup>:</strong>
              {{model.dcpBsanumber}}
            </p>
          {{/if}}

          {{#if model.dcpWrpnumber}}
            <p class="text-small">
              <strong>WRP Number<sup class="dark-gray">{{icon-tooltip tip='Waterfront Revitalization Program Application Number'}}</sup>:</strong>
              {{model.dcpWrpnumber}}
            </p>
          {{/if}}

          {{#if model.dcpLpcnumber}}
            <p class="text-small">
              <strong>LPC Number<sup class="dark-gray">{{icon-tooltip tip='Landmark Preservation Commission Number'}}</sup>:</strong>
              {{model.dcpLpcnumber}}
            </p>
          {{/if}}

          {{#if model.dcpNydospermitnumber}}
            <p class="text-small">
              <strong>NYS Dep<span class="show-for-large">ar</span>t<span class="show-for-large">ment</span> of State Permit Number:</strong>
              {{model.dcpNydospermitnumber}}
            </p>
          {{/if}}

          <p class="text-small">
            <strong>Borough:</strong>
            <span class="label light-gray">{{model.dcpBorough}}</span>
          </p>

          <p class="text-small label-group">
            <strong>Community Districts:</strong>
              {{consolidated-cds cds=model.dcpCommunitydistricts cdlink=true}}
          </p>

          <p class="text-small">
            <strong>Addresses:</strong>
            {{#each model.addresses as |address index|}}
              {{if index ", "}}{{address.dcp-validatedaddressnumber}} {{address.dcp-validatedstreet}}
            {{/each}}
          </p>

          <p class="text-small label-group"><strong>BBLs:</strong>
            {{#each model.bbls as |bbl|}}
              {{~project-bbl bbl=bbl~}}
            {{/each}}
          </p>

        </div>

      </div>
    </div>

    {{outlet}}

  </div>
</div>
