<div class="cell large-6 xlarge-7 xxlarge-5 xxlarge-offset-1">

  {{#projects-map-data as |projects-map|}}
    {{#mapbox-gl
        id='project-map'
        initOptions=(hash
          zoom=12
          center=(array -73.96532400540775 40.709710016659386)
        )
        mapLoaded=(action projects-map.handleMapLoad)
        as |map|
    }}
      {{#if projects-map.projectCentroidsTileTemplate}}
        {{#map.source options=projects-map.projectCentroidsSource as |source|}}
          {{source.layer
            layer=projects-map.projectCentroidsLayer
            before='boundary_country'
          }}
        {{/map.source}}
      {{/if}}
      {{map.on 'click' (action projects-map.handleMapClick)}}
      {{map.on 'mousemove' (action projects-map.handleMapMove)}}
    {{/mapbox-gl}}
  {{/projects-map-data}}

  {{project-filters
    projectFilters=allQueryParams
    closed=false
    replaceProperty=(action 'replaceProperty')
    toggleBoolean=(action 'toggleBoolean')
    mutateArray=(action 'mutateArray')}}

</div>
<div class="cell large-6 xlarge-5 xxlarge-6">

  <div class="results">

    <h3 class="header-large">{{meta.total}} Results</h3>

    <ul class="no-bullet">
      {{#each model as |project|}}
        <li class="grid-x grid-padding-small projects-list-result">
          <div class="cell shrink">
            <a class="button gray text-orange">
              {{fa-icon 'map-marker' size=2}}
            </a>
          </div>
          <div class="cell auto">
            <h3 class="no-margin">
              {{#link-to 'show-project' project.id}}
                {{project.dcp_projectname}}
              {{/link-to}}
            </h3>
            <p class="text-small dark-gray">
              {{if project.dcp_publicstatus project.dcp_publicstatus "Unknown Status"}}
              <span class="medium-gray">|</span>
              Certified/Referred {{moment-format project.dcp_certifiedreferred "MMMM D, YYYY" }}
              <span class="medium-gray">|</span>
              {{project.dcp_name}}
              {{#if project.dcp_femafloodzonea}}
                {{fa-icon "tint" class="flood-zone-icon"}} A
              {{/if}}
              {{#if project.dcp_femafloodzoneshadedx}}
                {{fa-icon "tint" class="flood-zone-icon"}} Shaded X
              {{/if}}
              {{#if project.dcp_femafloodzonecoastala}}
                {{fa-icon "tint" class="flood-zone-icon"}} Coastal A
              {{/if}}
              {{#if project.dcp_femafloodzonev}}
                {{fa-icon "tint" class="flood-zone-icon"}} V
              {{/if}}
            </p>
          </div>
        </li>
      {{else}}
        {{#unless (eq meta.total 0)}}
          <p class="lead text-center">{{fa-icon 'spinner' class="fa-spin medium-gray" size=3}}</p>
        {{/unless}}
      {{/each}}
    </ul>

    <div
      class="button projects-load-more-button expanded gray text-orange"
      onclick={{action (mut page) (add page 1)}}
      disabled={{noMoreRecords}}
    >
      Load More
    </div>

  </div>

</div>

{{outlet}}
