<div class="cell">

  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell large-7">

        <div class="grid-x">
          <div class="cell auto">
            <h1 class="">
              {{#if model.dcp_projectname}}
                {{model.dcp_projectname}}
              {{else}}
                Project {{model.dcp_name}}
              {{/if}}
            </h1>
          </div>
          <div class="cell shrink">
            <div class="share-controls">
              <button {{action 'handleShareOpen'}} class="share-button button">{{fa-icon 'share-alt'}}</button>
              {{#unless shareClosed}}
              <div class="share-controls-content">
                <button {{action 'handleShareClose'}} class="close-button" aria-label="Close alert" type="button"><span aria-hidden="true">&times;</span></button>
                <h3 class="header header-small">Share Project {{model.dcp_name}}:</h3>
                <div class="input-group">
                  <input id="share-url" class="input-group-field" type="text" value="{{shareURL}}">
                  <div class="input-group-button">
                    {{#copy-button
                      clipboardTarget="#share-url"
                      success=(action 'handleShareSuccess')
                      error=(action 'handleShareClose')
                      class="button"
                    }}
                      {{fa-icon 'paste'}} Copy Link
                    {{/copy-button}}
                  </div>
                </div>
                {{#if copySuccess}}
                <div class="share-controls-copy-success">
                  <div class="share-controls-copy-success-message">{{fa-icon 'check'}} Copied</div>
                </div>
                {{/if}}
              </div>
              {{/unless}}
            </div>
          </div>
        </div>

        <p class="lead">
          <strong>Applicant:</strong>
          {{if model.dcp_applicant_customer model.dcp_applicant_customer "Unknown"}}
        </p>

        <p>
          <strong>Project Brief:</strong>
          {{if model.dcp_projectbrief model.dcp_projectbrief "No Project Brief"}}
        </p>

        <div class="grid-x grid-padding-x">
          <p class="cell auto">
            <strong>Status:</strong>
            <span class="label dark-gray">{{if model.dcp_publicstatus model.dcp_publicstatus "Unknown"}}</span>
          </p>
          {{#if model.dcp_ulurp_nonulurp}}
            <p class="cell small-6 text-right">
              <span class="label dark-gray">{{model.dcp_ulurp_nonulurp}}<sup>{{icon-tooltip tip='Uniform Land Use Review Procedure (ULURP) is a procedure whereby applications affecting the land use of the city are publicly reviewed within mandated time frames. A project is designated ULURP if a minimum of one action (e.g. a Zoning Map Amendment) within the application process is designated ULURP. Key participants in the process are the Department of City Planning (DCP), the City Planning Commission (CPC), Community Boards, the Borough Presidents, the Borough Boards, the City Council and the Mayor.'}}</sup></span>
            </p>
          {{/if}}
        </div>

        <hr>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <h2>Actions</h2>
            <ul class="no-bullet">
              {{#each model.actions as |action|}}
                <li class="grid-x grid-padding-small">
                  <div class="cell shrink">
                    <span class="fa-layers fa-fw" style="font-size:2.5rem;">
                      {{fa-icon 'bullhorn' fixedWidth=true class="dark-gray"}}
                    </span>
                  </div>
                  <div class="cell auto">
                    <p class="no-margin"><strong><a href="#">{{action.dcp_name}}</a></strong><sup class="dark-gray">{{icon-tooltip tip=(get-action-tooltip action.actioncode)}}</sup></p>
                    <p class="text-small dark-gray">
                      {{if action.dcp_prefix action.dcp_prefix "No Prefix"}}
                      <span class="medium-gray">|</span>
                      {{#if action.dcp_ulurpnumber}}
                        {{#if (eq action.statuscode "Approved")}}
                          <a href={{build-url "cpcReport" action.dcp_ulurpnumber}} target="_blank">{{action.dcp_ulurpnumber}}</a><sup class="dark-gray">{{icon-tooltip tip='ULURP Number (click on this number to access the City Planning Commision Report).'}}</sup>
                        {{else}}
                          {{action.dcp_ulurpnumber}}<sup class="dark-gray">{{icon-tooltip tip='ULURP Number'}}</sup>
                        {{/if}}
                      {{else}}
                        No ULURP Number
                      {{/if}}
                      <span class="medium-gray">|</span>
                      {{if action.statuscode action.statuscode "No Status Code"}}
                    </p>
                    {{#if action.dcp_zoningresolution}}
                      <p class="text-small dark-gray">Zoning Resolution: <a href="{{build-url "zoningResolution" action.dcp_zoningresolution}}" target="_blank">{{action.dcp_zoningresolution}}</a></p>
                    {{/if}}
                    {{#if action.dcp_ccresolutionnumber}}
                      <p class="text-small dark-gray">City Council Resolution: {{action.dcp_ccresolutionnumber}}</p>
                    {{/if}}
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="cell medium-6">
            <h2>Milestones</h2>
            <ul class="no-bullet">
              {{#if model.milestones}}
                {{#each model.milestones as | milestone |}}
                  {{project-milestone milestone=milestone}}
                {{/each}}
              {{else}}
                No Milestones
              {{/if}}
            </ul>
          </div>
        </div>

      </div>
      <div class="cell large-5">
        {{#if model.bblFeatureCollectionSource}}
          {{#mapbox-gl
              id='project-map'
              initOptions=(hash
                zoom=12
                center=(array -73.96532400540775 40.709710016659386)
              )
              mapLoaded=(action handleMapLoad model.bbl_featurecollection)
              as |map|
          }}
            {{#map.source options=model.bblFeatureCollectionSource as |source|}}
              {{source.layer
                layer=bblFeatureCollectionLayer
                before='boundary_country'
              }}
            {{/map.source}}
          {{/mapbox-gl}}
        {{else}}
          <div id='project-map' style="border: 1px solid darkgray;">
            <h2>No Map Available</h2>
          </div>
        {{/if}}

        <div class="project-meta">

          <p class="text-small"><strong>BBLs:</strong>
            {{#each model.bbls as |bbl|}}
              {{~project-bbl bbl=bbl~}}
            {{/each}}
          </p>

          <p class="text-small">
            <strong>Addresses:</strong>
            {{#each model.addresses as |address index|}}
              {{if index ", "}}{{address.dcp_validatedaddressnumber}} {{address.dcp_validatedstreet}}
            {{/each}}
          </p>

          <p class="text-small">
            <strong>Borough:</strong>
            {{model.dcp_borough}}
            {{#if model.dcp_sisubdivision}}<small><span class="label light-gray">Subdivision</span></small>{{/if}}
            {{#if model.dcp_sischoolseat}}<small><span class="label light-gray">School Seat</span></small>{{/if}}
          </p>

          <p class="text-small">
            <strong>Lead Division:</strong>
            {{lookup-dcp-division model.dcp_leaddivision}}
          </p>

          <p class="text-small">
            <strong>Keywords:</strong>
            {{#if model.keywords}}
              {{#each model.keywords as |keyword|}}
                <span class="label secondary">{{keyword}}</span>
              {{/each}}
            {{else}}
              None
            {{/if}}
          </p>

          {{#if (or model.dcp_ceqrtype model.dcp_ceqrnumber)}}
            <p class="text-small">
              <strong>CEQR<sup class="dark-gray">{{icon-tooltip tip='City Environmental Quality Review. Only certain minor actions, known as Type II actions, are exempt from environmental review.'}}</sup>:</strong>
              {{#if model.dcp_ceqrtype}}<span class="label secondary">{{model.dcp_ceqrtype}}</span>{{/if~}}
              {{#if model.dcp_ceqrnumber}}<span class="label secondary">{{model.dcp_ceqrnumber}}</span>{{/if~}}
            </p>
          {{/if}}

          {{#if (or model.dcp_femafloodzonea model.dcp_femafloodzonecoastala model.dcp_femafloodzoneshadedx model.dcp_femafloodzonev) }}
            <p class="text-small">
              <strong>FEMA Flood Zone:</strong>
              {{#if model.dcp_femafloodzonea}}<span class="label secondary">Zone A</span>{{/if}}
              {{#if model.dcp_femafloodzonecoastala}}<span class="label secondary">Coastal Zone A</span>{{/if}}
              {{#if model.dcp_femafloodzoneshadedx}}<span class="label secondary">Zone Shaded X</span>{{/if}}
              {{#if model.dcp_femafloodzonev}}<span class="label secondary">Zone V</span>{{/if}}
            </p>
          {{/if}}

          {{#if model.dcp_bsanumber}}
            <p class="text-small">
              <strong>BSA Number<sup class="dark-gray">{{icon-tooltip tip='Board of Standards and Appeals Calendar Number'}}</sup>:</strong>
              {{model.dcp_bsanumber}}
            </p>
          {{/if}}

          {{#if model.dcp_wrpnumber}}
            <p class="text-small">
              <strong>WAP Number<sup class="dark-gray">{{icon-tooltip tip='Waterfront Revitalization Program Application Number'}}</sup>:</strong>
              {{model.dcp_wrpnumber}}
            </p>
          {{/if}}

          {{#if model.dcp_lpcnumber}}
            <p class="text-small">
              <strong>LPC Number<sup class="dark-gray">{{icon-tooltip tip='Landmark Preservation Commission Number'}}</sup>:</strong>
              {{model.dcp_lpcnumber}}
            </p>
          {{/if}}

          {{#if model.dcp_nydospermitnumber}}
            <p class="text-small">
              <strong>NYS Dep<span class="show-for-large">ar</span>t<span class="show-for-large">ment</span> of State Permit Number:</strong>
              {{model.dcp_nydospermitnumber}}
            </p>
          {{/if}}

          <p class="text-small">
            <strong>Additional Files:</strong>
          </p>

        </div>

      </div>
    </div>

    {{outlet}}

  </div>
</div>
