<div class="cell">


  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell large-7">

        <h1 class="no-margin">{{model.dcp_name}}</h1>

        <p><a href="#">{{fa-icon 'share-alt'}} <strong>Share</strong> <small>Project {{model.dcp_projectid}}</small></a></p>

        <p class="lead"><strong>Applicant:</strong> {{model.dcp_applicant_customer}}</p>
        <p><strong>Project Brief:</strong> {{model.dcp_projectbrief}}</p>
        <p><strong>Status:</strong> {{model.dcp_publicstatus}}</p>

        <hr />

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <h2>Actions</h2>
            <ul class="no-bullet">
              <li class="grid-x grid-padding-small">
                <div class="cell shrink dark-gray">{{fa-icon 'bullhorn' size=2}}</div>
                <div class="cell auto">
                  <p class="no-margin"><strong><a href="#">Action Name</a></strong></p>
                  <p class="text-small dark-gray">XX <span class="medium-gray">|</span> <a>Resolution 1234a</a> <span class="medium-gray">|</span> Status</p>
                </div>
              </li>
              <li class="grid-x grid-padding-small">
                <div class="cell shrink dark-gray">{{fa-icon 'bullhorn' size=2}}</div>
                <div class="cell auto">
                  <p class="no-margin"><strong><a href="#">Action Name</a></strong></p>
                  <p class="text-small dark-gray">XX <span class="medium-gray">|</span> <a>Resolution 1234a</a> <span class="medium-gray">|</span> Status</p>
                </div>
              </li>
              <li class="grid-x grid-padding-small">
                <div class="cell shrink dark-gray">{{fa-icon 'bullhorn' size=2}}</div>
                <div class="cell auto">
                  <p class="no-margin"><strong><a href="#">Action Name</a></strong></p>
                  <p class="text-small dark-gray">XX <span class="medium-gray">|</span> <a>Resolution 1234a</a> <span class="medium-gray">|</span> Status</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="cell medium-6">
            <h2>Milestones</h2>
            <ul class="no-bullet">
              <li class="grid-x grid-padding-small">
                <div class="cell shrink dark-gray">{{fa-icon 'calendar' size=2}}</div>
                <div class="cell auto">
                  <p class="no-margin"><strong>Milestone Title</strong></p>
                  <p class="no-margin text-small dark-gray">01/23/45 Start</p>
                  <p class="text-small dark-gray">01/23/45 Completion</p>
                </div>
              </li>
              <li class="grid-x grid-padding-small">
                <div class="cell shrink dark-gray">{{fa-icon 'calendar' size=2}}</div>
                <div class="cell auto">
                  <p class="no-margin"><strong>Milestone Title</strong></p>
                  <p class="no-margin text-small dark-gray">01/23/45 Start</p>
                  <p class="text-small dark-gray">01/23/45 Completion</p>
                </div>
              </li>
              <li class="grid-x grid-padding-small">
                <div class="cell shrink dark-gray">{{fa-icon 'calendar' size=2}}</div>
                <div class="cell auto">
                  <p class="no-margin"><strong>Milestone Title</strong></p>
                  <p class="no-margin text-small dark-gray">01/23/45 Start</p>
                  <p class="text-small dark-gray">01/23/45 Completion</p>
                </div>
              </li>
              <li class="grid-x grid-padding-small">
                <div class="cell shrink dark-gray">{{fa-icon 'calendar' size=2}}</div>
                <div class="cell auto">
                  <p class="no-margin"><strong>Milestone Title</strong></p>
                  <p class="no-margin text-small dark-gray">01/23/45 Start</p>
                  <p class="text-small dark-gray">01/23/45 Completion</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="cell large-5">

        <p><img src="http://via.placeholder.com/1200x800?text=MAP" /></p>
        {{!-- {{mapbox-gl}} --}}

        <p class="text-small"><strong>BBLs:</strong> 1234567890, 0987654321, 6789012345</p>
        <p class="text-small"><strong>Addresses:</strong> 1234 Main Street, 1236 Main Street</p>
        <p class="text-small"><strong>Borough:</strong> {{model.dcp_borough}}</p>
        <p class="text-small"><strong>Lead Division:</strong> {{model.dcp_leaddivision}}</p>
        <p class="text-small"><strong>Keywords:</strong> <a>Foo</a>, <a>Bar</a>, <a>Baz</a>, <a>Qux</a></p>
        <p class="text-small"><strong>CEQR:</strong> {{model.dcp_ceqrtype}} <span class="medium-gray">|</span> {{model.dcp_ceqrnumber}}</p>
        <p class="text-small"><strong>FEMA:</strong> {{model.dcp_femafloodzonea}} <span class="medium-gray">|</span> {{model.dcp_femafloodzonecoastala}} <span class="medium-gray">|</span> {{model.dcp_femafloodzoneshadedx}} <span class="medium-gray">|</span> {{model.dcp_femafloodzonev}}</p>
        <p class="text-small"><strong>Additional Files:</strong> </p>

      </div>
    </div>

    {{outlet}}

  </div>
</div>
