<div class="cell large-6 xlarge-7 xxlarge-5 xxlarge-offset-1">

{{!--
  FAQ:
  `section.delegate-mutation` is a wrapper action to notify the "applied-filters"
  that an explicit change has happened

  About:
  The filter-mutators component is a convenience wrapper component that yields
  sub-components with some context that flows downstream of applied filters and
  the mutator action.

  {{#filter-mutators
    mutateArray=(action 'mutateArray')
    appliedFilters=applied-filters
    as |filters|}}
  {{/filter-mutators}}

  Filter-mutators yields a `filters.section` component which helps group together
  the actual filterable fieldnames. For example, some "filters" may actually be
  affecting multiple fields in the database. `filters.section` makes sure those
  get turned on when mutated.

  {{#filters.section
    filterNames=(array 'names' 'of' 'grouped' 'fields') as |section|}}
  {{/filters.section}}

  This component is abstract because it has no markup - it only sets up some
  actions needed for mutating groups. It gets a `filter-wrapper` component and
  the `delegate-mutation` action.

  {{#section.filter-wrapper}}
    This component invokes all the necessary markup for this to work
  {{/section.filter-wrapper}}

  `delegate-mutation` is a wrapper action that should wrap all filter mutators.
  It is responsible for notifying the applied-filters query param that something
  should be added or removed.
--}}

  <FilterMutators
    @mutateArray={{fn this.mutateArray}}
    @appliedFilters={{this.applied-filters}}
    as |filters|>

    {{!-- map ALSO acts as a filter, mutates applied filters --}}
    {{!-- so we wrap it in a filter section so it has context --}}
    <filters.section
      @filterNames={{array 'distance_from_point' 'radius_from_point'}}
      as |section|>

      {{!-- Invoke the main map component.
            This extends some behavior from the app's base map component --}}
      <Structural::ProjectListMap
        @tiles={{this.tiles}} as |map|>

        <div class="disable-map gray">
          <h4>Map temporarily disabled</h4>
        </div>

        {{!-- FILTER: DISTANCE FROM POINT (ADDRESS MODE) --}}
        <map.AddressSearch
          @onSelectSearchResult={{fn section.delegate-mutation
            (fn this.handleSearchResultSelect 'distance_from_point')
          }}
          @onClearSearchResult={{fn section.mutateWithAction}}
        />

        {{!-- FILTER: DISTANCE FROM POINT --}}
        <map.FilterDistanceFromPoint
          @pointGeometry={{this.distance_from_point}}
          @radius={{this.radius_from_point}}
          @shouldQueryFullMap={{section.filterIsActive}}
          @onRadiusFilterClick={{fn section.delegate-mutation
            (fn this.handleRadiusFilterClick 'distance_from_point')
          }}
        />

        <MapInfoBox/>

        {{map.call 'fitBounds' this.bounds (hash padding=20)}}
      </Structural::ProjectListMap>
    </filters.section>


    <div class="project-filters">
      <div class="filter">
        <div class="grid-x align-middle">
          <div class="cell auto">
            <h2 class="header-small no-margin">Filter Projects</h2>
          </div>
          <div class="cell shrink">
            <span
              class="button projects-reset-filters-button tiny gray no-margin"
              onClick={{fn this.resetAll}}>
              &nbsp;RESET&nbsp;FILTERS&nbsp;
            </span>
          </div>
        </div>
      </div>

      {{!-- FILTER: PROJECT STAGE --}}
      <filters.section
        @filterNames='dcp_publicstatus'
        as |section|>
        <section.filter-wrapper
          @filterTitle={{get-label-for 'filters.dcp_publicstatus'}}
          @tooltip='These checkboxes filter projects by their stage in the application process. "Prefiled" refers to applications that are likely to be filed or enter public review in the next 30 days. “Filed” refers to applications that have been submitted but have not yet started the public review process. “In Public Review” refers to applications that have graduated to the public review process. “Completed” refers to applications that have been Approved, Disapproved, Withdrawn or Terminated.'>
          <ul class="menu vertical medium-horizontal stage-checkboxes">
            {{#each (array 'Prefiled' 'Filed' 'In Public Review' 'Completed' 'Unknown') as |type|}}
              <li onClick={{fn section.delegate-mutation (fn this.mutateArray 'dcp_publicstatus' type)}}
                data-test-status-checkbox={{type}}
              >
                <a>
                  <FilterCheckbox
                    @value={{type}}
                    @currentValues={{this.dcp_publicstatus}}
                    @classPrefix="publicstatus"
                  />
                </a>
              </li>
            {{/each}}
          </ul>
        </section.filter-wrapper>
      </filters.section>

      {{!-- FILTER: PROJECT / DESCRIPTION / APPLICANT --}}
      <filters.section
        @filterNames='project_applicant_text'
        as |section|>
        <section.filter-wrapper
          @filterTitle={{get-label-for 'filters.project_applicant_text'}}
          @tooltip="Enter an exact word or phrase that matches a project's name, description, applicant name, ULURP/CEQR number, or BBL.">
           <Input
            class="filter-text-input"
            type="text"
            @value={{this.project_applicant_text}}
            placeholder="Enter an exact phrase, name, or number..."
            @oninput={{fn section.delegate-mutation (fn this.setDebouncedValue 'project_applicant_text')}}/>
        </section.filter-wrapper>
      </filters.section>

      {{!-- FILTER: DISTANCE FROM POINT --}}
      <filters.section
        @filterNames={{array 'distance_from_point' 'radius_from_point'}}
        as |section|>
        <section.filter-wrapper
          @filterTitle={{get-label-for 'filters.distance_from_point'}}
          @tooltip='Click on the map to set filter first then drag to adjust radius'>
          {{#if this.queryParamsState.distance_from_point.changed}}
            <div class="grid-x">
              <div class="cell large-auto">
                <IntegerSliderFilter
                  start={{this.radius_from_point}}
                  min="20"
                  max="1000"
                  step="5"
                  behaviour="drag"
                  @on-change={{fn section.delegate-mutation (fn (mut this.radius_from_point))}}/>
              </div>
              <div class="cell large-shrink">
                <div class="input-group">
                  <Input
                    class="filter-text-input width-5point1-em"
                    type="number"
                    @value={{this.radius_from_point}}
                    placeholder="Distance in feet (e.g. '50')"
                    @oninput={{fn section.delegate-mutation (fn this.setDebouncedValue 'radius_from_point')}}
                    step="5"
                  />
                  <span class="input-group-label padding-0-point4-rem">ft</span>
                </div>
              </div>
            </div>
          {{else}}
            Click the map to add a point
          {{/if}}
        </section.filter-wrapper>
      </filters.section>

      {{!-- FILTER: DATE CERTIFIED / REFERRED --}}
      <filters.section
        @filterNames='dcp_certifiedreferred'
        as |section|>
        <section.filter-wrapper
          @filterTitle={{get-label-for 'filters.dcp_certifiedreferred'}}
          @tooltip='Move the handles along the date range slider to filter projects by the date they were certified / referred.'>
          <DateRangeFilter
            @start={{this.dcp_certifiedreferred}}
            min="0"
            @max={{object-at 1 this.queryParamsState.dcp_certifiedreferred.defaultValue}}
            @replaceProperty={{fn section.delegate-mutation (fn (mut this.dcp_certifiedreferred))}}/>
        </section.filter-wrapper>
      </filters.section>

      {{!-- FILTER: BOROUGH / BLOCK --}}
      <filters.section
        @filterNames={{array 'boroughs' 'block'}}
        as |section|>
        <section.filter-wrapper
          @filterTitle={{get-label-for 'filters.boroughs'}}
          @tooltip='Unless projects fall under the category of "Citywide", they will only exist within one borough. Selecting multiple boroughs will return projects that exist in any one of the selected options. Different boroughs may have the same block number, so filter by borough first before typing in a 4-digit block number in order to better locate your desired results.'
        >
          <ul class="menu vertical medium-horizontal">
            {{#each (array 'Citywide' 'Manhattan' 'Bronx' 'Brooklyn' 'Queens' 'Staten Island') as |type|}}
              <li onClick={{fn section.delegate-mutation (fn this.mutateArray 'boroughs' type)}}
              data-test-borough-checkbox={{type}}
              >
                <a>
                  <FilterCheckbox
                    @value={{type}}
                    @currentValues={{this.boroughs}}
                    classPrefix="borough"
                  />
                </a>
              </li>
            {{/each}}
          </ul>
          <Input
            class="filter-text-input"
            type="text"
            @value={{this.block}}
            placeholder="Block Number (e.g. '1000')"
            @oninput={{fn section.delegate-mutation (fn this.setDebouncedValue 'block')}}
          />
        </section.filter-wrapper>
      </filters.section>

      {{!-- FILTER: COMMUNITY DISTRICT --}}
      <filters.section
        @filterNames='community-districts'
        as |section|>
        <section.filter-wrapper
          @filterTitle={{get-label-for 'filters.community-districts'}}
          @tooltip='Filter by Community District in each borough by either typing the Community District name (e.g. “Brooklyn 1”) or by selecting from the dropdown list. Multiple Community Districts can be selected.'>
          <PowerSelectMultiple
            @triggerClass="community-district-dropdown-selection"
            @options={{lookup-community-district}}
            @selected={{contains-keys
              (lookup-community-district)
              this.community-districts
              key='code'}}
            placeholder="Select some names..."
            @searchField='searchField'
            @onchange={{fn section.delegate-mutation (fn this.replaceProperty 'community-districts')}}
            as |district|
          >
            {{district.boro}} {{district.num}}
          </PowerSelectMultiple>
        </section.filter-wrapper>
      </filters.section>

      {{!-- FILTER: ACTION TYPE --}}
      <filters.section
        @filterNames='action-types'
        as |section|>
        <section.filter-wrapper
          @filterTitle={{get-label-for 'filters.action-types'}}
          @tooltip='Filter by action type by either typing the code/name of the action or by selecting from the dropdown list. Action type refers to city planning land use actions that accompany a project. There may be multiple land use actions attached to an application. Many action types have been retired and are listed for historical projects only. Searching by one action type should return all projects that include that action. Multiple action types can be selected.'>
          <PowerSelectMultiple
            @options={{lookup-action-type}}
            @selected={{contains-keys
              (lookup-action-type)
              this.action-types
              key='code'}}
            placeholder="Select some actions..."
            @searchField='searchField'
            @onchange={{fn section.delegate-mutation (fn this.replaceProperty 'action-types')}}
            as |action|
          >
            {{action.code}}

            {{#if action.short}}
              - {{action.short}}
            {{/if}}
          </PowerSelectMultiple>
        </section.filter-wrapper>
      </filters.section>

      {{!-- FILTER: FEMA FLOOD ZONE --}}
      <filters.section
        @filterNames={{array 'dcp_femafloodzonea' 'dcp_femafloodzoneshadedx' 'dcp_femafloodzonecoastala' 'dcp_femafloodzonev'}}
        as |section|>
        <section.filter-wrapper
          @filterTitle={{get-label-for 'filters.dcp_femafloodzonea'}}
          @tooltip='Projects may be located within multiple flood zones. Selecting multiple checkboxes will return projects that are at least partially located withinin all of the selected zones.'>
        <ul class="menu vertical medium-horizontal FEMA-checkbox">
          <li onClick={{fn section.delegate-mutation (fn this.toggleBoolean 'dcp_femafloodzonev')}}
          data-test-flood-v-checkbox>
            <Filters::NamedCheckbox
              @mainProperty='dcp_femafloodzonev'
              @label='V'>
              <sup>
                <IconTooltip
                  @tip='A portion of the 1% annual chance floodplain subject to high velocity wave action (a breaking wave 3 feet high or larger). V Zones are subject to more stringent building requirements than other zones because of the damaging force of waves.'
                  class="dark-gray"
                />
              </sup>
            </Filters::NamedCheckbox>

          </li>
          <li onClick={{fn section.delegate-mutation (fn this.toggleBoolean 'dcp_femafloodzonecoastala')}}>
            <Filters::NamedCheckbox
              @mainProperty='dcp_femafloodzonecoastala'
              @label='Coastal A'>
              <sup>
                <IconTooltip
                  @tip='A sub-zone of the A Zone where wave heights are expected to be between 1.5 and 3 feet high. This zone is indicated by the Limit of Moderate Wave Action (LiMWA) line on the latest FEMA FIRMs.'
                  class="dark-gray"
                />
              </sup>
            </Filters::NamedCheckbox>
          </li>
          <li onClick={{fn section.delegate-mutation (fn this.toggleBoolean 'dcp_femafloodzonea')}}>
            <Filters::NamedCheckbox
              @mainProperty='dcp_femafloodzonea'
              @label='A'>
              <sup>
                <IconTooltip
                  @tip='A portion of the area subject to flooding from the 1% annual chance flood. These areas are not subject to high velocity wave action but are still considered high risk flooding areas. In A Zones, NYC Building Code requires buildings to be elevated or flood-proofed based on the Base Flood Elevation identified on the FEMA’s FIRMs.'
                  class="dark-gray"
                />
              </sup>
            </Filters::NamedCheckbox>
          </li>
          <li onClick={{fn section.delegate-mutation (fn this.toggleBoolean 'dcp_femafloodzoneshadedx')}}>
            <Filters::NamedCheckbox
              @mainProperty='dcp_femafloodzoneshadedx'
              @label='Shaded X'>
              <sup>
                <IconTooltip
                  @tip='The area of moderate flood risk outside the regulatory 1% annual chance flood but within the limits of the 0.2% annual chance flood level (the 500-year floodplain). There are no current NYC Building Code or FEMA flood insurance purchase requirements for buildings in this zone.'
                  class="dark-gray"
                />
              </sup>
            </Filters::NamedCheckbox>
          </li>
        </ul>
        </section.filter-wrapper>
      </filters.section>

      {{!-- FILTER: ULURP TYPE --}}
      <filters.section
        @filterNames='dcp_ulurp_nonulurp'
        as |section|>
        <section.filter-wrapper
          @filterTitle='ULURP Type'
          @tooltip='Applications can either follow the Uniform Land Use Review Procedure (ULURP) or are designated as Non-ULURP, and are therefore not restricted to ULURP rules and timing.'>
          <ul class="menu vertical medium-horizontal ULURP-checkbox">
            <li onClick={{fn section.delegate-mutation (fn this.mutateArray 'dcp_ulurp_nonulurp' 'ULURP')}}
              data-test-ulurp-checkbox
            >
              <a>
                <FilterCheckbox
                  @value='ULURP'
                  @currentValues={{this.dcp_ulurp_nonulurp}}/>
              </a>
            </li>
            <li onClick={{fn section.delegate-mutation (fn this.mutateArray 'dcp_ulurp_nonulurp' 'Non-ULURP')}}
              data-test-nonulurp-checkbox
            >
              <a>
                <FilterCheckbox
                  @value='Non-ULURP'
                  @currentValues={{this.dcp_ulurp_nonulurp}}/>
              </a>
            </li>
          </ul>
        </section.filter-wrapper>
      </filters.section>

    </div>

  </FilterMutators>
</div>
<div class="cell large-6 xlarge-5 xxlarge-6" id="scrolling-result-content">
  <div class="results">
    <h3 class="results-header clearfix">
      <span class="float-left results-header-title">
        {{numeral-format this.fetchData.lastSuccessful.value.meta.total '0,0'}}
        project{{if (not-eq this.fetchData.lastSuccessful.value.meta.total 1) 's'}}
        {{if (eq this.fetchData.lastSuccessful.value.meta.total 1) 'matches' 'match'}} your filters
      </span>
      <span class="float-right results-header-meta">
        {{#if this.fetchData.isRunning}}
          {{fa-icon 'spinner' class="fa-spin light-gray"}}
        {{else}}
          {{#if (not-eq this.fetchData.lastSuccessful.value.meta.total 0)}}
            listing 1-{{numeral-format this.cachedProjects.length '0,0'}}
            &nbsp;<span class="light-gray">|</span>&nbsp;
            <span class="download-container">
              <a>{{fa-icon 'download'}} Download</a>
              <span class="download-links">
                <p>Download all projects that match your filters</p>
                <a href={{this.downloadURLs.csv}} class="button expanded" >{{fa-icon 'file'}} <small>CSV</small></a>
              </span>
            </span>
          {{/if}}
        {{/if}}
      </span>
    </h3>
    <ul class="results-list no-bullet">
      {{#each this.cachedProjects as |project|}}
        <ProjectListItem @project={{project}}/>
      {{/each}}
    </ul>

    {{#if (eq this.fetchData.lastSuccessful.value.meta.total 0)}}
      <AppliedFiltersList
        @appliedFilters={{this.applied-filters}}
      />
    {{else}}
      <LoadMoreButton
        @page={{this.page}}
        @noMoreRecords={{this.noMoreRecords}}
        @task={{this.fetchData}}/>
    {{/if}}
  </div>
</div>

{{outlet}}
