<div class="cell large-6 xlarge-7 xxlarge-5 xxlarge-offset-1">
  {{#projects-map-data as |projects|}}
    {{#if fetchData.lastSuccessful}}
      {{projects.dynamic-tiles tiles=tiles}}
      {{projects.map.call 'fitBounds' bounds (hash padding=20)}}
    {{/if}}
  {{/projects-map-data}}

  <div class="project-filters">
    {{#filter-section
      filterTitle='Certification Date'
      appliedFilters=applied-filters
      filterNames='dcp_certifiedreferred'
      mutateArray=(action 'mutateArray')
      as |section|
    }}
      {{slider-filter
        start=dcp_certifiedreferred
        max=(object-at 1 queryParamsState.dcp_certifiedreferred.defaultValue)
        replaceProperty=(action section.delegate-mutation (action (mut dcp_certifiedreferred)))}}
    {{/filter-section}}

    {{#filter-section
      filterTitle='Project Name / Description / Applicant'
      appliedFilters=applied-filters
      filterNames='project_applicant_text'
      mutateArray=(action 'mutateArray')
      as |section|
    }}
       <input
        class="filter-text-input"
        type="text"
        value={{project_applicant_text}}
        oninput={{action section.delegate-mutation (action 'setDebouncedText' 'project_applicant_text')}}>
    {{/filter-section}}

    {{#filter-section
      filterTitle='ULURP / CEQR Number'
      appliedFilters=applied-filters
      filterNames='ulurp_ceqr_text'
      mutateArray=(action 'mutateArray')
      as |section|
    }}
       <input
        class="filter-text-input"
        type="text"
        value={{ulurp_ceqr_text}}
        oninput={{action section.delegate-mutation (action 'setDebouncedText' 'ulurp_ceqr_text')}}>
    {{/filter-section}}

    {{#filter-section
      filterTitle='Project Stage'
      appliedFilters=applied-filters
      filterNames='dcp_publicstatus'
      mutateArray=(action 'mutateArray')
      as |section|
    }}
      <ul class="menu vertical medium-horizontal stage-checkbox">
        {{#each (array 'Filed' 'In Public Review' 'Complete' 'Unknown') as |type|}}
          <li {{action section.delegate-mutation (action 'mutateArray' 'dcp_publicstatus' type)}}>
            <a>
              {{filter-checkbox
                value=type
                currentValues=dcp_publicstatus
                classPrefix="publicstatus"
              }}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/filter-section}}

    {{#filter-section
      filterTitle='Borough'
      appliedFilters=applied-filters
      filterNames='boroughs'
      mutateArray=(action 'mutateArray')
      as |section|
    }}
      <ul class="menu vertical medium-horizontal stage-checkbox">
        {{#each (array 'Citywide' 'Manhattan' 'Bronx' 'Brooklyn' 'Queens' 'Staten Island') as |type|}}
          <li {{action section.delegate-mutation (action 'mutateArray' 'boroughs' type)}}>
            <a>
              {{filter-checkbox
                value=type
                currentValues=boroughs
                classPrefix="borough"
              }}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/filter-section}}

    {{#filter-section
      filterTitle='Tax Block'
      appliedFilters=applied-filters
      filterNames='block'
      mutateArray=(action 'mutateArray')
      as |section|
    }}
      <input
        class="filter-text-input"
        type="text"
        value={{block}}
        oninput={{action section.delegate-mutation (action 'setDebouncedText' 'block')}}>
    {{/filter-section}}

    {{#filter-section
      filterTitle='Community District'
      appliedFilters=applied-filters
      filterNames='community-districts'
      mutateArray=(action 'mutateArray')
      as |section|
    }}
      {{#power-select-multiple
        options=(lookup-community-district)
        selected=(contains-keys
          (lookup-community-district)
          community-districts
          key='code')
        placeholder="Select some names..."
        searchField='searchField'
        onchange=(action section.delegate-mutation (action 'replaceProperty' 'community-districts'))
        as |district|
      }}
        {{district.boro}} {{district.num}}
      {{/power-select-multiple}}
    {{/filter-section}}

    {{#filter-section
      filterTitle='Action Type'
      appliedFilters=applied-filters
      filterNames='action-types'
      mutateArray=(action 'mutateArray')
      as |section|
    }}
      {{#power-select-multiple
        options=(lookup-action-type)
        selected=(contains-keys
          (lookup-action-type)
          action-types
          key='code')
        placeholder="Select some actions..."
        searchField='searchField'
        onchange=(action section.delegate-mutation (action 'replaceProperty' 'action-types'))
        as |action|
      }}
        {{action.code}}

        {{#if action.short}}
          - {{action.short}}
        {{/if}}
      {{/power-select-multiple}}
    {{/filter-section}}

    {{#filter-section
      filterTitle='CEQR Type'
      appliedFilters=applied-filters
      filterNames='dcp_ceqrtype'
      mutateArray=(action 'mutateArray')
      as |section|
    }}
      <ul class="menu vertical medium-horizontal CEQR-checkbox">
        {{#each (array 'Unlisted' 'Type I' 'Type II') as |type|}}
          <li {{action section.delegate-mutation (action 'mutateArray' 'dcp_ceqrtype' type)}}>
            <a>
              {{filter-checkbox
                value=type
                currentValues=dcp_ceqrtype}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/filter-section}}

    {{#filter-section
      filterTitle='FEMA Flood Zone'
      appliedFilters=applied-filters
      filterNames=(array 'dcp_femafloodzonea' 'dcp_femafloodzoneshadedx' 'dcp_femafloodzonecoastala' 'dcp_femafloodzonev')
      mutateArray=(action 'mutateArray')
      as |section|
    }}
      <ul class="menu vertical medium-horizontal FEMA-checkbox">
        <li {{action section.delegate-mutation (action 'toggleBoolean' 'dcp_femafloodzonev')}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzonev 'check-square' 'square')
              prefix=(unless dcp_femafloodzonev 'far')
              class=(if dcp_femafloodzonev 'dark-gray' 'medium-gray')
            }} V
            <sup>
              {{icon-tooltip
                tip='A portion of the 1% annual chance floodplain subject to high velocity wave action (a breaking wave 3 feet high or larger). V Zones are subject to more stringent building requirements than other zones because of the damaging force of waves.'
                class="dark-gray"
              }}
            </sup>
          </a>
        </li>
        <li {{action section.delegate-mutation (action 'toggleBoolean' 'dcp_femafloodzonecoastala')}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzonecoastala 'check-square' 'square')
              prefix=(unless dcp_femafloodzonecoastala 'far')
              class=(if dcp_femafloodzonecoastala 'dark-gray' 'medium-gray')
            }} Coastal A
            <sup>
              {{icon-tooltip
                tip='A sub-zone of the A Zone where wave heights are expected to be between 1.5 and 3 feet high. This zone is indicated by the Limit of Moderate Wave Action (LiMWA) line on the latest FEMA FIRMs.'
                class="dark-gray"
              }}
            </sup>
          </a>
        </li>
        <li {{action section.delegate-mutation (action 'toggleBoolean' 'dcp_femafloodzonea')}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzonea 'check-square' 'square')
              prefix=(unless dcp_femafloodzonea 'far')
              class=(if dcp_femafloodzonea 'dark-gray' 'medium-gray')
            }} A
            <sup>
              {{icon-tooltip
                tip='A portion of the area subject to flooding from the 1% annual chance flood. These areas are not subject to high velocity wave action but are still considered high risk flooding areas. In A Zones, NYC Building Code requires buildings to be elevated or flood-proofed based on the Base Flood Elevation identified on the FEMA’s FIRMs.'
                class="dark-gray"
              }}
            </sup>
          </a>
        </li>
        <li {{action section.delegate-mutation (action 'toggleBoolean' 'dcp_femafloodzoneshadedx')}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzoneshadedx 'check-square' 'square')
              prefix=(unless dcp_femafloodzoneshadedx 'far')
              class=(if dcp_femafloodzoneshadedx 'dark-gray' 'medium-gray')
            }} Shaded X
            <sup>
              {{icon-tooltip
                tip='The area of moderate flood risk outside the regulatory 1% annual chance flood but within the limits of the 0.2% annual chance flood level (the 500-year floodplain). There are no current NYC Building Code or FEMA flood insurance purchase requirements for buildings in this zone.'
                class="dark-gray"
              }}
            </sup>
          </a>
        </li>
      </ul>
    {{/filter-section}}

    {{#filter-section
      filterTitle='ULURP'
      appliedFilters=applied-filters
      filterNames='dcp_ulurp_nonulurp'
      mutateArray=(action 'mutateArray')
      as |section|
    }}
      <ul class="menu vertical medium-horizontal ULURP-checkbox">
        <li {{action section.delegate-mutation (action 'mutateArray' 'dcp_ulurp_nonulurp' 'ULURP')}}>
          <a>
            {{filter-checkbox
              value='ULURP'
              currentValues=dcp_ulurp_nonulurp}}
          </a>
        </li>
        <li {{action section.delegate-mutation (action 'mutateArray' 'dcp_ulurp_nonulurp' 'Non-ULURP')}}>
          <a>
            {{filter-checkbox
              value='Non-ULURP'
              currentValues=dcp_ulurp_nonulurp}}
          </a>
        </li>
      </ul>
    {{/filter-section}}

    <div class="filter">
      <p class="text-center no-margin">
        <span
          class="button projects-reset-filters-button small gray text-orange no-margin"
          onClick={{action 'resetAll'}}>
          &nbsp;RESET&nbsp;FILTERS&nbsp;
        </span>
      </p>
    </div>
  </div>
</div>
<div class="cell large-6 xlarge-5 xxlarge-6">
  <div class="results">
    <h3 class="results-header header-large">{{numeral-format fetchData.lastSuccessful.value.meta.total '0,0'}} project{{unless (eq fetchData.lastSuccessful.value.meta.total 1) 's'}} match{{if (eq fetchData.lastSuccessful.value.meta.total 1) 'es'}} your filters</h3>
    <ul class="results-list no-bullet">
      {{#each cachedProjects as |project|}}
        <li class="grid-x grid-padding-small projects-list-result">
          <div class="cell shrink">
            <a class="button gray text-orange">
              <span class="fa-layers fa-fw" style="font-size: 1.5rem;">
                {{#if project.has_centroid}}
                    {{fa-icon 'map-marker-alt' fixedWidth=true}}
                {{else}}
                    {{fa-icon 'map-marker-alt' fixedWidth=true class='medium-gray'}}
                    {{fa-icon 'ban' fixedWidth=true class='lu-red' transform='grow-8'}}
                {{/if}}
              </span>
            </a>
          </div>
          <div class="cell auto">
            <h3 class="header-medium no-margin">
              {{#link-to 'show-project' project.id}}
                {{if project.dcp_projectname project.dcp_projectname "No Project Name"}}
              {{/link-to}}
            </h3>
            <p class="no-margin text-small dark-grey">
              <strong>{{if project.dcp_applicant project.dcp_applicant "Unknown Applicant"}}</strong> &mdash; {{if project.dcp_projectbrief (substring-projectbrief project.dcp_projectbrief) "No Project Brief"}}
            </p>
            <p class="no-margin text-tiny dark-gray">
              <span class="label publicstatus-{{dasherize project.dcp_publicstatus_simp}}">{{unless (eq project.dcp_publicstatus_simp 'Unknown') project.dcp_publicstatus_simp "Unknown Status"}}</span>
              {{#if project.dcp_borough}}<span class="label borough-{{dasherize project.dcp_borough}}">{{project.dcp_borough}}</span>{{/if}}
              {{#if project.dcp_communitydistricts}}<span class="label borough-{{dasherize project.dcp_borough}}">{{project.dcp_communitydistricts}}</span>{{/if}}
              {{#if project.dcp_ulurp_nonulurp}}<span class="label light-gray">{{project.dcp_ulurp_nonulurp}}</span>{{/if}}
              {{#if project.dcp_ceqrnumber}}<span class="label light-gray">CEQR {{project.dcp_ceqrnumber}}</span>{{/if}}
              {{#each project.ulurpnumbers as |ulurpnumber|}}
                <span class="label light-gray">{{ulurpnumber}}</span>
              {{/each}}
            </p>
          </div>
        </li>
      {{/each}}
    </ul>

    <p class="text-center" style="margin:3rem 0 6rem;">
      <span
        class="button projects-load-more-button gray text-orange"
        onClick={{unless noMoreRecords (queue (action (mut page) (add page 1)) (perform fetchData))}}
        disabled={{or noMoreRecords fetchData.isRunning}}
      >
        {{#if fetchData.isRunning}}
          {{fa-icon 'spinner' class="fa-spin" transform='grow-8'}}
        {{else}}
          LOAD MORE
        {{/if}}
      </span>
    </p>
  </div>
</div>

{{outlet}}
