<div class="cell large-6 xlarge-7 xxlarge-5 xxlarge-offset-1">
  {{#projects-map-data as |projects-map|}}
    {{#mapbox-gl
        id='project-map'
        initOptions=(hash
          zoom=12
          center=(array -73.96532400540775 40.709710016659386)
        )
        mapLoaded=(action projects-map.handleMapLoad)
        as |map|
    }}
      {{#if projects-map.projectCentroidsSource.lastSuccessful}}
        {{#map.source options=projects-map.projectCentroidsSource.lastSuccessful.value as |source|}}
          {{source.layer
            layer=projects-map.projectCentroidsLayer
            before='boundary_country'
          }}
        {{/map.source}}
      {{/if}}
      {{map.on 'click' (action projects-map.handleMapClick)}}
      {{map.on 'mousemove' (action projects-map.handleMapMove)}}
    {{/mapbox-gl}}
  {{/projects-map-data}}

  {{#project-filters as |filters-data|}}
    <div class="filter active">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>Project Status</h6>
      </div>
      <ul class="menu vertical medium-horizontal">
        <li onclick={{action mutateArray 'dcp_publicstatus' 'Filed'}}>
          <a>
            {{filter-checkbox
              value='Filed'
              currentValues=dcp_publicstatus}}
          </a>
        </li>
        <li onclick={{action mutateArray 'dcp_publicstatus' 'Approved'}}>
          <a>
            {{filter-checkbox
              value='Approved'
              currentValues=dcp_publicstatus}}
          </a>
        </li>
        <li onclick={{action mutateArray 'dcp_publicstatus' 'Certified'}}>
          <a>
            {{filter-checkbox
              value='Certified'
              currentValues=dcp_publicstatus}}
          </a>
        </li>
        <li onclick={{action mutateArray 'dcp_publicstatus' 'Withdrawn'}}>
          <a>
            {{filter-checkbox
              value='Withdrawn'
              currentValues=dcp_publicstatus}}
          </a>
        </li>
        <li onclick={{action mutateArray 'dcp_publicstatus' 'Unknown'}}>
          <a>
            {{filter-checkbox
              value='Unknown'
              currentValues=dcp_publicstatus}}
          </a>
        </li>
      </ul>
    </div>

    {{!-- <div class="filter">Borough</div> --}}

    <div class="filter">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>Community Districts</h6>
      </div>
      <div class="medium-horizontal">
        {{#power-select-multiple
          options=filters-data.community-districts
          selected=(contains-keys 
            filters-data.community-districts 
            community-districts
            key='code')
          placeholder="Select some names..."
          searchField='searchField'
          onchange=(action 'replaceProperty' 'community-districts')
          as |district|
        }}
          {{district.boro}} {{district.num}}
        {{/power-select-multiple}}
      </div>
    </div>

    <div class="filter">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>CEQR Type</h6>
      </div>
      <ul class="menu vertical medium-horizontal">
        <li onclick={{action 'mutateArray' 'dcp_ceqrtype' 'Unlisted'}}><a>
          {{filter-checkbox
            value='Unlisted'
            currentValues=dcp_ceqrtype}}
        </a></li>
        <li onclick={{action 'mutateArray' 'dcp_ceqrtype' 'Type I'}}><a>
          {{filter-checkbox
            value='Type I'
            currentValues=dcp_ceqrtype}}
        </a></li>
        <li onclick={{action 'mutateArray' 'dcp_ceqrtype' 'Type II'}}><a>
          {{filter-checkbox
            value='Type II'
            currentValues=dcp_ceqrtype}}
        </a></li>
      </ul>
    </div>

    <div class="filter">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>FEMA Flood Zone <sup>{{icon-tooltip tip='FEMA flood zone filters are applied collectively, checking more than one will yield only projects affected by all checked zones'}}</sup></h6>
      </div>
      <ul class="menu vertical medium-horizontal">
        <li onclick={{action 'toggleBoolean' 'dcp_femafloodzonea'}}>
          <a>
            {{fa-icon (if dcp_femafloodzonea 'check-square' 'square-o') class="dark-gray"}} A
          </a>
        </li>
        <li onclick={{action 'toggleBoolean' 'dcp_femafloodzoneshadedx'}}>
          <a>
            {{fa-icon (if dcp_femafloodzoneshadedx 'check-square' 'square-o') class="dark-gray"}} Shaded X
          </a>
        </li>
        <li onclick={{action 'toggleBoolean' 'dcp_femafloodzonecoastala'}}>
          <a>
            {{fa-icon (if dcp_femafloodzonecoastala 'check-square' 'square-o') class="dark-gray"}} Coastal A
          </a>
        </li>
        <li onclick={{action 'toggleBoolean' 'dcp_femafloodzonev'}}>
          <a>
            {{fa-icon (if dcp_femafloodzonev 'check-square' 'square-o') class="dark-gray"}} V
          </a>
        </li>
      </ul>
    </div>

    <div class="filter">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>ULURP</h6>
      </div>
      <ul class="menu vertical medium-horizontal">
        <li  onclick={{action 'mutateArray' 'dcp_ulurp_nonulurp' 'ULURP'}}>
          <a>
            {{filter-checkbox
              value='ULURP'
              currentValues=dcp_ulurp_nonulurp}}
          </a>
        </li>
        <li  onclick={{action 'mutateArray' 'dcp_ulurp_nonulurp' 'Non-ULURP'}}>
          <a>
            {{filter-checkbox
              value='Non-ULURP'
              currentValues=dcp_ulurp_nonulurp}}
          </a>
        </li>
      </ul>
    </div>

    <div class="filter">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>Action Status Reason</h6>
      </div>
      <ul class="menu vertical medium-horizontal">
        <li><a>{{fa-icon 'square-o' class="medium-gray"}} Active</a></li>
        <li><a>{{fa-icon 'square-o' class="medium-gray"}} Certified</a></li>
        <li><a>{{fa-icon 'square-o' class="medium-gray"}} Referred</a></li>
        <li><a>{{fa-icon 'square-o' class="medium-gray"}} Approved</a></li>
        <li><a>{{fa-icon 'square-o' class="medium-gray"}} Withdrawn</a></li>
        <li><a>{{fa-icon 'square-o' class="medium-gray"}} Terminated</a></li>
      </ul>
    </div>
  {{/project-filters}}

</div>
<div class="cell large-6 xlarge-5 xxlarge-6">

  <div class="results">

    <h3 class="header-large">{{meta.total}} Results</h3>

    <ul class="no-bullet">
      {{#each model as |project|}}
        <li class="grid-x grid-padding-small projects-list-result">
          <div class="cell shrink">
            <a class="button gray text-orange">
              {{fa-icon 'map-marker' size=2}}
            </a>
          </div>
          <div class="cell auto">
            <h3 class="no-margin">
              {{#link-to 'show-project' project.id}}
                {{project.dcp_projectname}}
              {{/link-to}}
            </h3>
            <p class="text-small dark-gray">
              {{if project.dcp_publicstatus project.dcp_publicstatus "Unknown Status"}}
              <span class="medium-gray">|</span>
              Certified/Referred {{moment-format project.dcp_certifiedreferred "MMMM D, YYYY" }}
              <span class="medium-gray">|</span>
              {{project.dcp_name}}
              {{#if project.dcp_femafloodzonea}}
                {{fa-icon "tint" class="flood-zone-icon"}} A
              {{/if}}
              {{#if project.dcp_femafloodzoneshadedx}}
                {{fa-icon "tint" class="flood-zone-icon"}} Shaded X
              {{/if}}
              {{#if project.dcp_femafloodzonecoastala}}
                {{fa-icon "tint" class="flood-zone-icon"}} Coastal A
              {{/if}}
              {{#if project.dcp_femafloodzonev}}
                {{fa-icon "tint" class="flood-zone-icon"}} V
              {{/if}}
            </p>
          </div>
        </li>
      {{else}}
        {{#unless (eq meta.total 0)}}
          <p class="lead text-center">{{fa-icon 'spinner' class="fa-spin medium-gray" size=3}}</p>
        {{/unless}}
      {{/each}}
    </ul>

    <div
      class="button projects-load-more-button expanded gray text-orange"
      onclick={{action (mut page) (add page 1)}}
      disabled={{noMoreRecords}}
    >
      Load More
    </div>

  </div>

</div>

{{outlet}}
