<div class="cell">

  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell large-7">

        <h1 class="no-margin">Geography Name</h1>

        <h2 class="header-large">Recent Projects</h2>

        {{project-filters}}

        <ul class="no-bullet">
          {{#each model.projects as |project|}}
            <li class="grid-x grid-padding-small">
              <div class="cell shrink"><a class="button gray text-orange">{{fa-icon 'map-marker' size=2}}</a></div>
              <div class="cell auto">
                <h3 class="no-margin">{{#link-to 'show-project' project}}{{project.dcp_name}}{{/link-to}}</h3>
                <p class="text-small dark-gray">Filed {{project.dcp_certifiedreferred}} <span class="medium-gray">|</span> Certified/Referred {{project.dcp_certifiedreferred}} </p>
              </div>
            </li>
          {{/each}}
        </ul>

      </div>
      <div class="cell large-5">
        {{#mapbox-gl
            id='project-map'
            initOptions=(hash
              zoom=12
              center=(array -73.96532400540775 40.709710016659386)
              transformRequest=transformRequest
            )
            mapLoaded=(action handleMapLoad model.bbl_featurecollection)
            as |map|
        }}
          {{#if projectCentroidsTileTemplate}}
            {{#map.source options=projectCentroidsSource as |source|}}
              {{source.layer
                layer=projectCentroidsLayer
                before='boundary_country'
              }}
            {{/map.source}}
          {{/if}}
          {{map.on 'click' (action 'handleMapClick')}}
          {{map.on 'mousemove' (action 'handleMapMove')}}
        {{/mapbox-gl}}

        <br/>
        <h4>Yearly Archive</h4>
        <ul class="text-large">
          <li><a><strong class="header-large">2018</strong> <span class="dark-gray"> 18 Projects</span></a></li>
          <li><a><strong class="header-large">2017</strong> <span class="dark-gray"> 12 Projects</span></a></li>
          <li><a><strong class="header-large">2016</strong> <span class="dark-gray"> 9 Projects</span></a></li>
          <li><a><strong class="header-large">2015</strong> <span class="dark-gray"> 24 Projects</span></a></li>
          <li><a><strong class="header-large">2014</strong> <span class="dark-gray"> 7 Projects</span></a></li>
          <li><a><strong class="header-large">2012</strong> <span class="dark-gray"> 16 Projects</span></a></li>
          <li><a><strong class="header-large">2009</strong> <span class="dark-gray"> 3 Projects</span></a></li>
        </ul>

      </div>
    </div>

    {{outlet}}

  </div>
</div>
