<div class="cell large-6 xlarge-7 xxlarge-5 xxlarge-offset-1">
  {{log projects}}
  {{projects-map-data meta=meta}}

  <div class="project-filters">
    {{#filter-section
      filterTitle='Text Match'
      appliedFilters=applied-filters
      filterNames='text_query'
      mutateArray=(action 'mutateArray')
    }}
      <div class="filter-controls">
        <input class="filter-text-input" type="text" value={{text_query}} oninput={{action 'setDebouncedText' 'text_query'}}>
      </div>
      {{!-- {{input type='text' value=text_query}} --}}
    {{/filter-section}}

    {{#filter-section
      filterTitle='Project Stage'
      appliedFilters=applied-filters
      filterNames='dcp_publicstatus'
      mutateArray=(action 'mutateArray')
    }}
      <ul class="menu vertical medium-horizontal stage-checkbox">
        {{#each (array 'Filed' 'In Public Review' 'Complete' 'Unknown') as |type|}}
          <li {{action 'mutateArray' 'dcp_publicstatus' type}} class={{concat 'public-status-option-' type}}>
            <a>
              {{filter-checkbox
                value=type
                currentValues=dcp_publicstatus}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/filter-section}}

    {{!-- <div class="filter">Borough</div> --}}

    {{#filter-section
      filterTitle='Community Districts'
      appliedFilters=applied-filters
      filterNames='community-districts'
      mutateArray=(action 'mutateArray')
    }}
      <div class="medium-horizontal">
        {{#power-select-multiple
          options=(lookup-community-district)
          selected=(contains-keys
            (lookup-community-district)
            community-districts
            key='code')
          placeholder="Select some names..."
          searchField='searchField'
          onchange=(action 'replaceProperty' 'community-districts')
          as |district|
        }}
          {{district.boro}} {{district.num}}
        {{/power-select-multiple}}
      </div>
    {{/filter-section}}

    {{#filter-section
      filterTitle='Action Types'
      appliedFilters=applied-filters
      filterNames='action-types'
      mutateArray=(action 'mutateArray')
    }}
      <div class="medium-horizontal">
        {{#power-select-multiple
          options=(lookup-action-type)
          selected=(contains-keys
            (lookup-action-type)
            action-types
            key='code')
          placeholder="Select some actions..."
          searchField='searchField'
          onchange=(action 'replaceProperty' 'action-types')
          as |action|
        }}
          {{action.code}}

          {{#if action.short}}
            ({{action.short}})
          {{/if}}
        {{/power-select-multiple}}
      </div>
    {{/filter-section}}

    {{#filter-section
      filterTitle='CEQR Type'
      appliedFilters=applied-filters
      filterNames='dcp_ceqrtype'
      mutateArray=(action 'mutateArray')
    }}
      <ul class="menu vertical medium-horizontal CEQR-checkbox">
        {{#each (array 'Unlisted' 'Type I' 'Type II') as |type|}}
          <li {{action 'mutateArray' 'dcp_ceqrtype' type}}>
            <a>
              {{filter-checkbox
                value=type
                currentValues=dcp_ceqrtype}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/filter-section}}

    {{#filter-section
      filterTitle='FEMA Flood Zone'
      appliedFilters=applied-filters
      filterNames=(array 'dcp_femafloodzonea' 'dcp_femafloodzoneshadedx' 'dcp_femafloodzonecoastala' 'dcp_femafloodzonev')
      mutateArray=(action 'mutateArray')
    }}
      <ul class="menu vertical medium-horizontal FEMA-checkbox">
        <li {{action 'toggleBoolean' 'dcp_femafloodzonev'}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzonev 'check-square' 'square')
              prefix=(unless dcp_femafloodzonev 'far')
              class=(if dcp_femafloodzonev 'dark-gray' 'medium-gray')
            }} V <sup>{{icon-tooltip tip='A portion of the 1% annual chance floodplain subject to high velocity wave action (a breaking wave 3 feet high or larger). V Zones are subject to more stringent building requirements than other zones because of the damaging force of waves.' class="dark-gray"}}</sup>
          </a>
        </li>
        <li {{action 'toggleBoolean' 'dcp_femafloodzonecoastala'}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzonecoastala 'check-square' 'square')
              prefix=(unless dcp_femafloodzonecoastala 'far')
              class=(if dcp_femafloodzonecoastala 'dark-gray' 'medium-gray')
            }} Coastal A <sup>{{icon-tooltip tip='A sub-zone of the A Zone where wave heights are expected to be between 1.5 and 3 feet high. This zone is indicated by the Limit of Moderate Wave Action (LiMWA) line on the latest FEMA FIRMs.' class="dark-gray"}}</sup>
          </a>
        </li>
        <li {{action 'toggleBoolean' 'dcp_femafloodzonea'}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzonea 'check-square' 'square')
              prefix=(unless dcp_femafloodzonea 'far')
              class=(if dcp_femafloodzonea 'dark-gray' 'medium-gray')
            }} A <sup>{{icon-tooltip tip='A portion of the area subject to flooding from the 1% annual chance flood. These areas are not subject to high velocity wave action but are still considered high risk flooding areas. In A Zones, NYC Building Code requires buildings to be elevated or flood-proofed based on the Base Flood Elevation identified on the FEMA’s FIRMs.' class="dark-gray"}}</sup>
          </a>
        </li>
        <li {{action 'toggleBoolean' 'dcp_femafloodzoneshadedx'}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzoneshadedx 'check-square' 'square')
              prefix=(unless dcp_femafloodzoneshadedx 'far')
              class=(if dcp_femafloodzoneshadedx 'dark-gray' 'medium-gray')
            }} Shaded X <sup>{{icon-tooltip tip='The area of moderate flood risk outside the regulatory 1% annual chance flood but within the limits of the 0.2% annual chance flood level (the 500-year floodplain). There are no current NYC Building Code or FEMA flood insurance purchase requirements for buildings in this zone.' class="dark-gray"}}</sup>
          </a>
        </li>
      </ul>
    {{/filter-section}}

    {{#filter-section
      filterTitle='ULURP'
      appliedFilters=applied-filters
      filterNames='dcp_ulurp_nonulurp'
      mutateArray=(action 'mutateArray')
    }}
      <ul class="menu vertical medium-horizontal ULURP-checkbox">
        <li {{action 'mutateArray' 'dcp_ulurp_nonulurp' 'ULURP'}}>
          <a>
            {{filter-checkbox
              value='ULURP'
              currentValues=dcp_ulurp_nonulurp}}
          </a>
        </li>
        <li {{action 'mutateArray' 'dcp_ulurp_nonulurp' 'Non-ULURP'}}>
          <a>
            {{filter-checkbox
              value='Non-ULURP'
              currentValues=dcp_ulurp_nonulurp}}
          </a>
        </li>
      </ul>
    {{/filter-section}}

{{!--     {{#filter-section
      filterTitle='Action Status Reason'
      appliedFilters=applied-filters
      filterNames='action-reasons'
      mutateArray=(action 'mutateArray')
    }}
      <ul class="menu vertical medium-horizontal">
        {{#each (array 'Active' 'Certified' 'Referred' 'Approved' 'Withdrawn' 'Terminated') as |type|}}
          <li {{action 'mutateArray' 'action-reasons' type}}>
            <a>
              {{filter-checkbox
                value=type
                currentValues=action-reasons}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/filter-section}} --}}

    <div class="filter">
      <p class="text-center">
        <span
          class="button projects-reset-filters-button gray text-orange"
          onClick={{action 'resetAll'}}>
          RESET FILTERS
        </span>
      </p>
    </div>
  </div>
</div>
<div class="cell large-6 xlarge-5 xxlarge-6">
  <div class="results">
    <h3 class="header-large">{{meta.total}} Results</h3>
    <ul class="no-bullet">
      {{#each projects as |project|}}
        <li class="grid-x grid-padding-small projects-list-result">
          <div class="cell shrink">
            <a class="button gray text-orange">
              <span class="fa-layers fa-fw" style="font-size: 1.5rem;">
                {{#if project.has_centroid}}
                    {{fa-icon 'map-marker-alt' fixedWidth=true}}
                {{else}}
                    {{fa-icon 'map-marker-alt' fixedWidth=true class='medium-gray'}}
                    {{fa-icon 'ban' fixedWidth=true class='lu-red' transform='grow-8'}}
                {{/if}}
              </span>
            </a>
          </div>
          <div class="cell auto">
            <h3 class="header-medium no-margin">
              {{#link-to 'show-project' project.id}}
                {{project.dcp_projectname}}
              {{/link-to}}
            </h3>
            <p class="no-margin text-small dark-grey">
              <strong>{{project.dcp_applicant}}</strong> &mdash; {{substring-projectbrief project.dcp_projectbrief}}
            </p>
            <p class="no-margin text-tiny dark-gray">
              <span class="label light-gray">{{if project.dcp_publicstatus_simp project.dcp_publicstatus_simp 'Unknown Status'}}</span>
              {{#if project.dcp_borough}}<span class="label light-gray">{{project.dcp_borough}}</span>{{/if}}
              {{#if project.dcp_communitydistricts}}<span class="label light-gray">{{project.dcp_communitydistricts}}</span>{{/if}}
              {{#if project.dcp_ulurp_nonulurp}}<span class="label light-gray">{{project.dcp_ulurp_nonulurp}}</span>{{/if}}
              {{#each project.ulurpnumbers as |ulurpnumber|}}
                <span class="label light-gray">{{ulurpnumber}}</span>
              {{/each}}
            </p>
          </div>
        </li>
      {{/each}}

      {{#if fetchData.isRunning}}
        <p class="lead text-center">{{fa-icon 'spinner' class="fa-spin medium-gray" size=3}}</p>
      {{/if}}
    </ul>

    <p class="text-center" style="margin:3rem 0 6rem;">
      <span
        class="button projects-load-more-button gray text-orange"
        onClick={{unless noMoreRecords (action (mut page) (add page 1))}}
        disabled={{noMoreRecords}}
      >
        &nbsp;LOAD MORE&nbsp;
      </span>
    </p>

  </div>

</div>

{{outlet}}
