<div class="cell large-6 xlarge-7 xxlarge-5 xxlarge-offset-1">

  {{projects-map-data meta=meta}}

  {{#project-filters as |filters-data|}}
    <div class="filter active">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>Project Status</h6>
      </div>
      <ul class="menu vertical medium-horizontal status-checkbox">
        <li onclick={{action 'mutateArray' 'dcp_publicstatus' 'Filed'}}>
          <a>
            {{filter-checkbox
              value='Filed'
              currentValues=dcp_publicstatus}}
          </a>
        </li>
        <li onclick={{action 'mutateArray' 'dcp_publicstatus' 'Approved'}}>
          <a>
            {{filter-checkbox
              value='Complete'
              currentValues=dcp_publicstatus}}
          </a>
        </li>
        <li onclick={{action 'mutateArray' 'dcp_publicstatus' 'Certified'}}>
          <a>
            {{filter-checkbox
              value='Certified'
              currentValues=dcp_publicstatus}}
          </a>
        </li>
        <li onclick={{action 'mutateArray' 'dcp_publicstatus' 'Withdrawn'}}>
          <a>
            {{filter-checkbox
              value='Withdrawn'
              currentValues=dcp_publicstatus}}
          </a>
        </li>
        <li onclick={{action 'mutateArray' 'dcp_publicstatus' 'Unknown'}}>
          <a>
            {{filter-checkbox
              value='Unknown'
              currentValues=dcp_publicstatus}}
          </a>
        </li>
      </ul>
    </div>

    {{!-- <div class="filter">Borough</div> --}}

    <div class="filter">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>Community Districts</h6>
      </div>
      <div class="medium-horizontal">
        {{#power-select-multiple
          options=filters-data.community-districts
          selected=(contains-keys
            filters-data.community-districts
            community-districts
            key='code')
          placeholder="Select some names..."
          searchField='searchField'
          onchange=(action 'replaceProperty' 'community-districts')
          as |district|
        }}
          {{district.boro}} {{district.num}}
        {{/power-select-multiple}}
      </div>
    </div>

    <div class="filter">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>CEQR Type <sup>{{icon-tooltip tip='The City Environmental Quality Review (CEQR)  identifies any potential adverse environmental effects of proposed actions, assesses their significance, and proposes measures to eliminate or mitigate significant impacts. Only certain minor actions, known as Type II actions, are exempt from environmental review.'}}</sup></h6>
      </div>
      <ul class="menu vertical medium-horizontal CEQR-checkbox">
        <li onclick={{action 'mutateArray' 'dcp_ceqrtype' 'Unlisted'}}><a>
          {{filter-checkbox
            value='Unlisted'
            currentValues=dcp_ceqrtype}}
        </a></li>
        <li onclick={{action 'mutateArray' 'dcp_ceqrtype' 'Type I'}}><a>
          {{filter-checkbox
            value='Type I'
            currentValues=dcp_ceqrtype}}
        </a></li>
        <li onclick={{action 'mutateArray' 'dcp_ceqrtype' 'Type II'}}><a>
          {{filter-checkbox
            value='Type II'
            currentValues=dcp_ceqrtype}}
        </a></li>
      </ul>
    </div>

    <div class="filter">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>FEMA Flood Zone <sup>{{icon-tooltip tip='FEMA flood zone filters are applied collectively, checking more than one will yield only projects affected by all checked zones' class="dark-gray" }}</sup></h6>
      </div>
      <ul class="menu vertical medium-horizontal FEMA-checkbox">
        <li onclick={{action 'toggleBoolean' 'dcp_femafloodzonea'}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzonea 'check-square' 'square')
              prefix=(unless dcp_femafloodzonea 'far')
              class=(if dcp_femafloodzonea 'dark-gray' 'medium-gray')
            }} A <sup>{{icon-tooltip tip='A portion of the area subject to flooding from the 1% annual chance flood. These areas are not subject to high velocity wave action but are still considered high risk flooding areas. In A Zones, NYC Building Code requires buildings to be elevated or flood-proofed based on the Base Flood Elevation identified on the FEMA’s FIRMs.' class="dark-gray"}}</sup>
          </a>
        </li>
        <li onclick={{action 'toggleBoolean' 'dcp_femafloodzoneshadedx'}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzoneshadedx 'check-square' 'square')
              prefix=(unless dcp_femafloodzoneshadedx 'far')
              class=(if dcp_femafloodzoneshadedx 'dark-gray' 'medium-gray')
            }} Shaded X <sup>{{icon-tooltip tip='The area of moderate flood risk outside the regulatory 1% annual chance flood but within the limits of the 0.2% annual chance flood level (the 500-year floodplain). There are no current NYC Building Code or FEMA flood insurance purchase requirements for buildings in this zone.' class="dark-gray"}}</sup>
          </a>
        </li>
        <li onclick={{action 'toggleBoolean' 'dcp_femafloodzonecoastala'}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzonecoastala 'check-square' 'square')
              prefix=(unless dcp_femafloodzonecoastala 'far')
              class=(if dcp_femafloodzonecoastala 'dark-gray' 'medium-gray')
            }} Coastal A <sup>{{icon-tooltip tip='A sub-zone of the A Zone where wave heights are expected to be between 1.5 and 3 feet high. This zone is indicated by the Limit of Moderate Wave Action (LiMWA) line on the latest FEMA FIRMs.' class="dark-gray"}}</sup>
          </a>
        </li>
        <li onclick={{action 'toggleBoolean' 'dcp_femafloodzonev'}}>
          <a>
            {{fa-icon
              (if dcp_femafloodzonev 'check-square' 'square')
              prefix=(unless dcp_femafloodzonev 'far')
              class=(if dcp_femafloodzonev 'dark-gray' 'medium-gray')
            }} V <sup>{{icon-tooltip tip='A portion of the 1% annual chance floodplain subject to high velocity wave action (a breaking wave 3 feet high or larger). V Zones are subject to more stringent building requirements than other zones because of the damaging force of waves.' class="dark-gray"}}</sup>
          </a>
        </li>
      </ul>
    </div>

    <div class="filter">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>ULURP <sup>{{icon-tooltip tip='Uniform Land Use Review Procedure (ULURP) is a standardized procedure whereby applications affecting the land use of the city are publicly reviewed within mandated time frames.'}}</sup></h6>
      </div>
      <ul class="menu vertical medium-horizontal ULURP-checkbox">
        <li  onclick={{action 'mutateArray' 'dcp_ulurp_nonulurp' 'ULURP'}}>
          <a>
            {{filter-checkbox
              value='ULURP'
              currentValues=dcp_ulurp_nonulurp}}
          </a>
        </li>
        <li  onclick={{action 'mutateArray' 'dcp_ulurp_nonulurp' 'Non-ULURP'}}>
          <a>
            {{filter-checkbox
              value='Non-ULURP'
              currentValues=dcp_ulurp_nonulurp}}
          </a>
        </li>
      </ul>
    </div>

    <div class="filter">
      <div class="filter-header">
        <div class="switch tiny float-left">
          <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
          <label {{action 'toggle'}} class="switch-paddle">
            <span class="show-for-sr">Toggle Layer Group</span>
          </label>
        </div>
        <h6 class="filter-name" {{action 'toggle'}}>Action Status Reason</h6>
      </div>
      <ul class="menu vertical medium-horizontal">
        <li><a>{{fa-icon 'square' prefix='far' class="medium-gray"}} Active</a></li>
        <li><a>{{fa-icon 'square' prefix='far' class="medium-gray"}} Certified</a></li>
        <li><a>{{fa-icon 'square' prefix='far' class="medium-gray"}} Referred</a></li>
        <li><a>{{fa-icon 'square' prefix='far' class="medium-gray"}} Approved</a></li>
        <li><a>{{fa-icon 'square' prefix='far' class="medium-gray"}} Withdrawn</a></li>
        <li><a>{{fa-icon 'square' prefix='far' class="medium-gray"}} Terminated</a></li>
      </ul>
    </div>
  {{/project-filters}}

</div>
<div class="cell large-6 xlarge-5 xxlarge-6">

  <div class="results">

    <h3 class="header-large">{{meta.total}} Results</h3>

    <ul class="no-bullet">
      {{#each model as |project|}}
        <li class="grid-x grid-padding-small projects-list-result">
          <div class="cell shrink">
            <a class="button gray text-orange">
              <span class="fa-layers fa-fw" style="font-size: 1.5rem;">
                {{#if project.has_centroid}}
                    {{fa-icon 'map-marker-alt' fixedWidth=true}}
                {{else}}
                    {{fa-icon 'map-marker-alt' fixedWidth=true class='medium-gray'}}
                    {{fa-icon 'ban' fixedWidth=true class='lu-red' transform='grow-8'}}
                {{/if}}
              </span>
            </a>
          </div>
          <div class="cell auto">
            <h3 class="no-margin">
              {{#link-to 'show-project' project.id}}
                {{project.dcp_projectname}}
              {{/link-to}}
            </h3>
            <p class="text-small dark-gray">
              {{if project.dcp_publicstatus project.dcp_publicstatus "Unknown Status"}}
              <span class="medium-gray">|</span>
              Certified/Referred {{moment-format project.dcp_certifiedreferred "MMMM D, YYYY" }}
              <span class="medium-gray">|</span>
              {{project.dcp_name}}
              {{#if project.dcp_femafloodzonea}}
                {{fa-icon "tint" class="flood-zone-icon"}} A
              {{/if}}
              {{#if project.dcp_femafloodzoneshadedx}}
                {{fa-icon "tint" class="flood-zone-icon"}} Shaded X
              {{/if}}
              {{#if project.dcp_femafloodzonecoastala}}
                {{fa-icon "tint" class="flood-zone-icon"}} Coastal A
              {{/if}}
              {{#if project.dcp_femafloodzonev}}
                {{fa-icon "tint" class="flood-zone-icon"}} V
              {{/if}}
            </p>
          </div>
        </li>
      {{else}}
        {{#unless (eq meta.total 0)}}
          <p class="lead text-center">{{fa-icon 'spinner' class="fa-spin medium-gray" size=3}}</p>
        {{/unless}}
      {{/each}}
    </ul>

    <div
      class="button projects-load-more-button expanded gray text-orange"
      onclick={{action (mut page) (add page 1)}}
      disabled={{noMoreRecords}}
    >
      Load More
    </div>

  </div>

</div>

{{outlet}}
