<div class="cell">

  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell large-7">
        <h1 class="no-margin">{{model.dcp_projectname}}</h1>

        <p><a href="#">{{fa-icon 'share-alt'}} <strong>Share</strong> <small>Project {{model.dcp_name}}</small></a></p>

        <p class="lead"><strong>Applicant:</strong> {{model.dcp_applicant_customer}}</p>
        <p><strong>Project Brief:</strong> {{model.dcp_projectbrief}}</p>
        <p>
          <strong>Status:</strong>
          {{#if model.dcp_publicstatus}}<span class="label dark-gray">{{model.dcp_publicstatus}}</span>{{/if}}
          {{#if model.dcp_ulurp_nonulurp}}<span class="label dark-gray">{{model.dcp_ulurp_nonulurp}}</span>{{/if}}
        </p>

        <hr>

        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <h2>Actions</h2>
            <ul class="no-bullet">
              {{#each model.actions as |action|}}
                <li class="grid-x grid-padding-small">
                  <div class="cell shrink dark-gray">{{fa-icon 'bullhorn' size=2}}</div>
                  <div class="cell auto">
                    <p class="no-margin"><strong><a href="#">{{action.dcp_name}}</a></strong></p>
                    <p class="text-small dark-gray">
                      {{action.dcp_prefix}}
                      <span class="medium-gray">|</span>
                      {{action.dcp_ulurpnumber}}
                      <span class="medium-gray">|</span>
                      {{action.statuscode}}
                    </p>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="cell medium-6">
            <h2>Milestones</h2>
            <ul class="no-bullet">
              {{#each model.milestones as | milestone |}}
                <li class="grid-x grid-padding-small">
                  <div class="cell shrink dark-gray">{{fa-icon 'calendar' size=2}}</div>
                  <div class="cell auto">
                    <p class="no-margin"><strong>{{milestone.dcp_name}}</strong></p>
                    <p class="no-margin text-small dark-gray">{{moment-format milestone.dcp_plannedstartdate "MMMM D, YYYY" }} <small>Planned Start</small></p>
                    <p class="text-small dark-gray">{{moment-format milestone.dcp_plannedcompletoiondate "MMMM D, YYYY" }} <small>Planned Completion</small></p>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>

      </div>
      <div class="cell large-5">
        {{#mapbox-gl
            id='project-map'
            initOptions=(hash
              zoom=12
              center=(array -73.96532400540775 40.709710016659386)
              transformRequest=transformRequest
            )
            mapLoaded=(action handleMapLoad model.bbl_featurecollection)
            as |map|
        }}
          {{#map.source options=model.bblFeatureCollectionSource as |source|}}
            {{source.layer
              layer=bblFeatureCollectionLayer
              before='boundary_country'
            }}
          {{/map.source}}
        {{/mapbox-gl}}

        <p class="text-small"><strong>BBLs:</strong> {{#each model.bbls as |bbl index|}}{{if index ", "}}{{bbl}}{{/each}}</p>
        <p class="text-small">
          <strong>Addresses:</strong>
          {{#each model.addresses as |address index|}}
            {{if index ", "}}{{address.dcp_validatedaddressnumber}} {{address.dcp_validatedstreet}}
          {{/each}}
        </p>

        <p class="text-small">
          <strong>Borough:</strong>
          {{model.dcp_borough}}
          {{#if model.dcp_sisubdivision}}<small><span class="label light-gray">Subdivision</span></small>{{/if}}
          {{#if model.dcp_sischoolseat}}<small><span class="label light-gray">School Seat</span></small>{{/if}}
        </p>

        <p class="text-small"><strong>Lead Division:</strong> {{model.dcp_leaddivision}}</p>
        <p class="text-small">
          <strong>Keywords:</strong>
          {{#each model.keywords as |keyword index|}}
            {{if index ", "}}<a>{{keyword}}</a>
          {{/each}}
        </p>

        {{#if (or model.dcp_ceqrtype model.dcp_ceqrnumber)}}
          <p class="text-small">
            <strong>C<span class="show-for-large">ity </span>E<span class="show-for-large">nvironmental </span>Q<span class="show-for-large">uality </span>R<span class="show-for-large">eview</span>:</strong>
            {{#if model.dcp_ceqrtype}}<span class="label secondary">{{model.dcp_ceqrtype}}</span>{{/if}}
            {{#if model.dcp_ceqrnumber}}<span class="label secondary">{{model.dcp_ceqrnumber}}</span>{{/if}}
          </p>
        {{/if}}

        {{#if (or model.dcp_femafloodzonea model.dcp_femafloodzonecoastala model.dcp_femafloodzoneshadedx model.dcp_femafloodzonev) }}
          <p class="text-small">
            <strong>FEMA Flood Zone:</strong>
            {{#if model.dcp_femafloodzonea}}<span class="label secondary">Zone A</span>{{/if}}
            {{#if model.dcp_femafloodzonecoastala}}<span class="label secondary">Coastal Zone A</span>{{/if}}
            {{#if model.dcp_femafloodzoneshadedx}}<span class="label secondary">Zone Shaded X</span>{{/if}}
            {{#if model.dcp_femafloodzonev}}<span class="label secondary">Zone V</span>{{/if}}
          </p>
        {{/if}}

        <p class="text-small"><strong>Additional Files:</strong> </p>

      </div>
    </div>

    {{outlet}}

  </div>
</div>
